<script>
	jQuery(document).ready(function($) {
        "use strict";
        
        var PRODS_MNG_PAGE   = $("div#market-products-management-page");
		var MARKET_PROD_LIST = PRODS_MNG_PAGE.find("table#prods-list");
		var PROD_REMOVAL_M   = $("div#confirm-prod-removal-modal");

        PRODS_MNG_PAGE.find('i#clear-searching-terms').on('click',function(event) {
            $(this).addClass('hidden');
            PRODS_MNG_PAGE.find('input#search-products').trigger('keyup').val('');
        });

        PRODS_MNG_PAGE.find('input#search-products').keyup(function(event) {
            delay(function(){
                var prods_list  = PRODS_MNG_PAGE.find('table#prods-list');
                var preloader   = PRODS_MNG_PAGE.find('div#table-preloader');
                var keyword_val = PRODS_MNG_PAGE.find('input#search-products').val();
                var keyword     = ((keyword_val.length >= 4) ? keyword_val : 0);

                if (keyword && prods_list.find('tr.empty-table.no-data').length == 0) {
                    PRODS_MNG_PAGE.find('i#clear-searching-terms').removeClass('hidden');
                    preloader.removeClass('hidden')
                    $.ajax({
                        url: '{{CONFIG url}}/req/admin/search_market_products',
                        type: 'GET',
                        dataType: 'json',
                        data: {keyword: keyword}
                    }).done(function(data) {
                        if (data.status == 200) {
                            PRODS_MNG_PAGE.find('a.pagination-ctrls').removeClass('hidden');
                            prods_list.find('tbody').html(data.html);
                        }
                        else if(data.status == 404) {
                            PRODS_MNG_PAGE.find('a.pagination-ctrls').addClass('hidden');
                            prods_list.find('tbody').html(data.html);
                        }
                    }).fail(function() {
                        $.notify({
                            message: 'Error: Failed to connect to the server. Please check your internet connection',
                        },{
                            allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                            placement: {from: "bottom",align: "left"},
                            offset: {x: 40,y: 30},
                            animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                        });
                    }).always(function() {
                        setTimeout(function(){
                            preloader.addClass('hidden');
                        },500);
                    });
                }

                else {
                    if (hs_empty(keyword_val)) {
                        PRODS_MNG_PAGE.find('i#clear-searching-terms').addClass('hidden');
                    }

                    if (window.prods_table_rows) {
                        prods_list.html(window.prods_table_rows);
                    }
                } 
            },1000);
        });

        if (PRODS_MNG_PAGE.find('table#prods-list').find('tr[data-prod-list-item]').length) {
            if (PRODS_MNG_PAGE.find('table#prods-list').find('tr.empty-table.no-data').length == 0) {
                window.prods_table_rows = PRODS_MNG_PAGE.find('table#prods-list').html();
            }
        }

        PRODS_MNG_PAGE.find('a.pagination-ctrls').on('click',function(event) {
            event.preventDefault();
            event.stopPropagation();
            if ($(this).hasClass('disabled') != true) { 
                var pager_ctrls = PRODS_MNG_PAGE.find('a.pagination-ctrls');
                var this_ctrl   = $(this);
                var prods_list  = PRODS_MNG_PAGE.find('table#prods-list');
                var pager_dir   = (($(this).hasClass('prev')) ? 'up' : 'down');
                var last_req    = prods_list.find('tr[data-prod-list-item]').last().data('prod-list-item');
                var first_req   = prods_list.find('tr[data-prod-list-item]').first().data('prod-list-item');
                var preloader   = PRODS_MNG_PAGE.find('div#table-preloader').removeClass('hidden');
                var keyword     = PRODS_MNG_PAGE.find('input#search-products').val();
                var keyword     = ((keyword.length >= 4) ? keyword : '');
                var pager_ctrls = pager_ctrls.removeClass('disabled');

                $.ajax({
                    url: '{{CONFIG url}}/req/admin/get_market_products',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        dir: pager_dir, 
                        last: last_req, 
                        first: first_req,
                        keyword: keyword,
                    },
                }).done(function(data) {
                    if (data.status == 200) {
                        prods_list.find('tbody').html(data.html);
                    }
                    else{
                        this_ctrl.addClass('disabled');
                    }
                }).fail(function() {
                    $.notify({
                        message: 'Error: Failed to connect to the server. Please check your internet connection',
                    },{
                        allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                        placement: {from: "bottom",align: "left"},
                        offset: {x: 40,y: 30},
                        animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                    });
                }).always(function() {
                    delay(function(){
                        preloader.addClass('hidden');
                    },500);
                });
            }
            else {
                return false;
            }
        });

        $(document).on('click', '[data-onclick]', function(event) {
            event.preventDefault();
            var event_trigger = $(this).data('onclick');
            var zis_el        = $(this);
            if(event_trigger == 'delete_product') {
                var prod_id = zis_el.data('id');
                PROD_REMOVAL_M.find('input[name="id"]').val(prod_id);
                PROD_REMOVAL_M.modal('show');
            }
        });

        PROD_REMOVAL_M.find('form#remove-prod-form').ajaxForm({
            url: '{{CONFIG url}}/req/admin/delete_product',
            type: 'POST',
            dataType: 'json',
            beforeSend: function() {
                PROD_REMOVAL_M.find('button').attr('disabled', 'true');
            },
            success: function(data) {
                if (data.message) {
                    $.notify({
                        message: data.message,
                    },{
                        allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                        placement: {from: "bottom",align: "left"},
                        offset: {x: 40,y: 30},
                        animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                    });
                }

                if (MARKET_PROD_LIST.find('tr[data-prod-list-item]').length > 1) {
                    if (data.status == 200) {
                        var prod_id = PROD_REMOVAL_M.find('input[name="id"]').val();
                        MARKET_PROD_LIST.find('tr[data-prod-list-item="{0}"]'.format(prod_id)).slideUp(150,function(){
                            $(this).remove();
                        });                        
                    }
                }
                else {
                    MARKET_PROD_LIST.css('opacity', '0.3');
                    $(window).reloadPage(1500);
                }
            },
            complete: function() {
                PROD_REMOVAL_M.find('button').removeAttr('disabled');
                PROD_REMOVAL_M.find('input[name="id"]').val('');
                PROD_REMOVAL_M.modal('hide');
            }
        });
	});
</script>