<div class="modal animated vh-center fadeIn confirm-prod-removal confirm-action-modal" id="confirm-prod-reject-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="reject-prod-form">
                <input type="hidden" class="hidden d-none" name="hash" value="<?php echo fetch_or_get($hs['csrf_token'],'none') ?>">
                <div class="modal-header" style="display:block">
                    <div>
                        <h4 >"{{TR Your product was rejected by moderator and moved to}} {{TR Draft}}"</h4>
                    </div>
                    <div>
                        <h5 class="modal-title">{{TR Indicate reason and confirm the refusal to post item}}</h5>
                    </div>
                </div>
                <div class="modal-body">
                    <?php $link = hs_link('merchant_panel/products_draft/'); ?>
                    <input type="hidden" name="first_row" value='{{TR Your product was rejected by moderator and moved to}} <a href="<?=$link?>">{{TR Draft}}</a>'>
                    
                    <textarea name="reject-message" style="width : 100%; padding :7px"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-submit bg-blue">{{TR Yes}}</button>
                    <button type="button" class="btn btn-cancel bg-grey" data-dismiss="modal">{{TR Cancel}}</button>
                </div>
                <input type="hidden" name="id" value="">
                <input type="hidden" name="seller_id" value="">
            </form>
        </div>
    </div>
</div>