<div class="modal animated vh-center fadeIn confirm-action-modal" id="confirm-product-approval">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="approd-form">
                <input type="hidden" class="hidden d-none" name="hash" value="<?php echo fetch_or_get($hs['csrf_token'],'none') ?>">
                <div class="modal-header">
                    <h4 class="modal-title">{{TR Please confirm your actions!}}</h4>
                </div>
                <div class="modal-body">
                	{{TR  Are you sure that you want to approve this product?}} 
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-submit bg-blue">{{TR Yes approve it!}}</button>
                    <button type="button" class="btn btn-cancel bg-grey" data-dismiss="modal">{{TR No, cancel}}</button>
                </div>
                <input type="hidden" class="hidden" name="prod_id" value="{{prod_id}}">
                <input type="hidden" class="hidden" name="seller_id" value="{{seller_id}}">
            </form>
        </div>
    </div>
</div>