<tr class="products" data-prod-list-item="<?php echo($hs['prod_item']['id']); ?>">
    <td>
        <?php echo($hs['prod_item']['id']); ?>
    </td>
    <td class="poster">
        <a href="#" class="poster-holder">
            <img src="<?php echo($hs['prod_item']['thumb']); ?>" alt="Image">
        </a>
    </td>
    <td class="link">
        <a href="#">
            <?php echo($hs['prod_item']['name']); ?>
        </a>
    </td>    
    <td>
        <?php if (not_empty($hs['prod_item']['card_link'])): ?>
            <b><a href="<?=($hs['prod_item']['card_link'])?>" target="_blank"><?=($hs['prod_item']['card_link'])?></a></b>
        <?php else: ?>
            <span>{{TR No}}</span>
        <?php endif; ?>
    </td>
    
    <td>    
        
        <span class="<?=($hs['prod_item']['editing_stage']=='saved')?"col-green":"col-red"?>"><?=hs_translate($hs['prod_item']['editing_stage'])?></span>
    </td>
    <td>
        <div class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_horiz</i>
            </a>
            <ul class="dropdown-menu pull-right bs-dropdown-menu">
                <li>
                    <a href="<?php echo($hs['prod_item']['edit']); ?>" class="waves-effect waves-block">
                        {{TR Edit}}
                    </a>
                </li>
                <li data-onclick="delete_product" data-id="<?php echo($hs['prod_item']['id']); ?>">
                    <a href="javascript:void(0);" class="waves-effect waves-block">
                        {{TR Delete}}
                    </a>
                </li>
            </ul>
        </div>
    </td>
</tr>