<div class="clearfix" id="my-orders-page">
    <div class="block-header">
        <nav class="breadcrumbs-cust" aria-label="breadcrumb breadcrumb-cust">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{LINK merchant_panel}}">{{TR Control panel}}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{LINK merchant_panel/my_orders}}">
                        {{TR Orders}}
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    {{TR My orders}}
                </li>
            </ol>
        </nav>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card ajax-ctrl-table">
                <div class="header">
                    <h2>{{TR My order list}}</h2>
                    <div class="rows-filter">
                        <input type="text" placeholder="{{TR Search for orders by seller name}}" id="search-orders">
                        <i class="material-icons search">search</i>
                        <i class="material-icons clear hidden" id="clear-searching-terms">clear</i>
                    </div>
                </div>
                <div class="body table-responsive">
                    <table class="table table-hover no-mb" id="orders-list">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>{{TR Seller name}}</th>
                                <th>{{TR Contact}}</th>
                                <th>{{TR Details}}</th>
                                <th>{{TR Product}}</th>
                                <th>{{TR Total amount}}</th>
                                <th>{{TR Status}}</th>
                                <th>{{TR Placed}}</th>
                                <th>{{TR Actions}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if (not_empty($hs['myorders'])): ?>
                                <?php foreach ($hs['myorders'] as $hs['order_data']): ?>
                                    <?php echo hs_loadpage('my_orders/includes/order_list'); ?>
                                <?php endforeach; ?>
                            <?php else: ?>
                                <?php echo hs_loadpage('my_orders/includes/empty_table'); ?>
                            <?php endif; ?>
                        </tbody>
                    </table>
                    <?php if (not_empty($hs['myorders'])): ?>
                        <div class="data-preloader-wrapper hidden" id="table-preloader">
                            <?php echo hs_loadpage('components/data_preloader'); ?>
                        </div>

                        <a href="javascript:void(0);" class="pagination-ctrls prev">
                            <i class="material-icons">chevron_left</i>
                        </a>
                        <a href="javascript:void(0);" class="pagination-ctrls next">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    <?php endif; ?> 
                </div>
            </div>
        </div>
    </div>
</div>
<?php echo hs_loadpage('my_orders/static/js/myord_master_script'); ?>