<div class="prod-item" data-product-li="<?php echo $hs['prod_item']['id']; ?>">
	<a href="<?= $hs['prod_item']['is_gcs']?$hs['prod_item']['card_link']:$hs['prod_item']['url'] ?>"  alt="<?=$hs['prod_item']['name']?>"  title="<?=$hs['prod_item']['name']?>">
		<div class="prod-img">
			<img src="<?php echo $hs['prod_item']['poster']; ?>" alt="<?=$hs['prod_item']['name']?>"  title="<?=$hs['prod_item']['name']?>">
			<?php if (not_empty($hs['prod_item']['discount'])): ?>
				<span class="discount">
					-<?php echo($hs['prod_item']['discount']); ?>%
				</span>
			<?php endif; ?>
			<?php if($hs['prod_item']['is_gcs']==0){ ?>
			<span class="total-sales">
				<span class="inline-label">{{TR Sales}}:</span>
				<span class="num">
					<?=$hs['prod_item']['sales'] ?>
				</span>
			</span>
                        <?php } else { ?>
                            <span class="total-sales">                                    
                                    <span class="num">
                                           {{TR advertising}}
                                    </span>
                            </span>
                        <?php } ?>
		</div>
            <div class="values-bar-first">
                            <div class="val-space-first"></div>
                            <?php foreach($hs['prod_item']['values'] as $value){ ?>
                                <div class="val-sign-first" alt="<?= $value[2] ?>" title="<?= $value[2] ?>"><div style="opacity:0.9 ;background-color: <?= $value[1] ?>"><?= hs_svg($value[0]); ?></div></div>
                            <?php } ?>                            
                            <div class="val-space2-first"></div>
                </div>
            
            
		<div class="prod-desc">
			<div class="body">
				<div class="prod-name">
					<h6>
						<?php echo $hs['prod_item']['name']; ?>
					</h6>
				</div>
                            <?php if($hs['prod_item']['is_gcs']==0){ ?>
				<div class="prices">
					<span class="price">
						<?php echo $hs['prod_item']['fs_price']; ?>
					</span>
					<span class="old-price">
                                            <?= $hs['prod_item']['fr_price'] ?>						
					</span>
					<?php if (floatval($hs['prod_item']['rating'])): ?>
						<span class="star-icon ml-auto">
							<?php echo hs_svg('star'); ?>
						</span>
						<span class="rating-num">
							<?php echo $hs['prod_item']['rating']; ?>
						</span>
					<?php endif; ?>
				</div>
                            <?php } else{ ?>
                                <div class="prices">
					<span class="price" style="color:#fff">
						0
					</span>
					<span class="old-price"  style="color:#fff">
                                                					
					</span>
				</div>
                            <?php } ?>
			</div>
		</div>
	</a>
</div>