<div class="clearfix" id="new-products-management-page">
    <div class="block-header">
        <nav class="breadcrumbs-cust" aria-label="breadcrumb breadcrumb-cust">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{LINK merchant_panel}}">{{TR Control panel}}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{LINK merchant_panel/new_products}}">
                        {{TR New products}}
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    {{TR Manage new market products}}
                </li>
            </ol>
        </nav>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card ajax-ctrl-table">
                <div class="header">
                    <h2>{{TR List of all non-approved market products}}</h2>

                    <div class="rows-filter">
                        <input type="text" placeholder="{{TR Search for products by name}}" id="search-products">
                        <i class="material-icons search">search</i>
                        <i class="material-icons clear hidden" id="clear-searching-terms">clear</i>
                    </div>
                </div>
                <div class="body table-responsive">
                    <table class="table table-hover no-mb" id="prods-list">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>{{TR Poster}}</th>
                                <th>{{TR Product name}}</th>
                                <?php if($hs['is_admin']){    ?>
                                    <th>{{TR Seller}}</th>
                                <?php } ?>
                                <th>{{TR Price}}</th>
                                <th>{{TR Status}}</th>
                                <th>{{TR Sold}}</th>
                                <th>{{TR Date}}</th>
                                <th>{{TR Action}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if (not_empty($hs['new_prods'])): ?>
                                <?php foreach ($hs['new_prods'] as $hs['prod_item']): ?>
                                    <?php echo hs_loadpage('new_products/includes/prod_list_item'); ?>
                                <?php endforeach; ?>
                            <?php else: ?>
                                <?php echo hs_loadpage('new_products/includes/empty_table'); ?>
                            <?php endif; ?>
                        </tbody>
                    </table>
                    <?php if (not_empty($hs['new_prods'])): ?>
                        <div class="data-preloader-wrapper hidden" id="table-preloader">
                            <?php echo hs_loadpage('components/data_preloader'); ?>
                        </div>
                        <a href="javascript:void(0);" class="pagination-ctrls prev">
                            <i class="material-icons">chevron_left</i>
                        </a>
                        <a href="javascript:void(0);" class="pagination-ctrls next">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    <?php endif; ?> 
                </div>
            </div>
        </div>
    </div>
</div>
<?php echo hs_loadpage('new_products/modals/confirmations/confirm_removal'); ?>
<?php echo hs_loadpage('new_products/modals/confirmations/confirm_reject'); ?>
<?php echo hs_loadpage('new_products/static/js/new_products_script'); ?>
