<link href="<?=hs_link('/')?>/store/statics/css/cropper.css" rel="stylesheet"/>
<div class="clearfix data-management-page" id="product-upsert-page">
    <div class="block-header">
        <nav class="breadcrumbs-cust" aria-label="breadcrumb breadcrumb-cust">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{LINK merchant_panel}}">{{TR Control panel}}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{LINK merchant_panel/my_products}}">
                        {{TR Trading items}}
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    {{TR Edit product}}
                </li>
            </ol>
        </nav>
    </div>
    <div class="clearfix">
        <div class="affixed-page-section">
            <div class="affixed-page-part-1">
            	<form data-prod-id="{{prod_id}}" class="clearfix form-horizontal product-upsert-form" id="product-upsert-form">
                    <input type="hidden" class="hidden d-none" name="hash" value="<?php echo fetch_or_get($hs['csrf_token'],'none') ?>">
                    <div class="card">
                        <div class="header">
                            <h2>{{TR Edit product}}</h2>
                        </div>
                        <div class="body">
                            <div class="data-management-area">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="inline-alertbox-wrapper">
                                            <div class="inline-alertbox info">
                                                <div class="icon">
                                                    <i class="material-icons">info</i>
                                                </div>
                                                <div class="alert-message">
                                                    <p>{{TR Please remember to save before leaving this page, otherwise the product will be automatically moved to the draft list of products!}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="form-fieldset-title clearfix" data-affix-label="prod_basic_info">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>
                                                {{TR Product Basic Information}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-12" data-form-field="3">
                                            <label class="form-label">
                                                {{TR Name}} ({{TR From}} <?=$hs['config']['prod_min_name']?> {{TR To}} <?=$hs['config']['prod_max_name']?> {{TR symbols}}):
                                            </label>
                                            <div class="filed-box">
                                                <input value="{{prod_name}}" name="name" type="text" class="form-control" placeholder="{{TR Product name. E.g. Men's t-shirt etc}}..">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-4 p-r-10" data-form-field="4">
                                            <label class="form-label">
                                                {{TR Condition}}:
                                            </label>
                                            <div class="filed-box">
                                                <select name="condition" class="form-control">
                                                    <option value="1" <?php if($hs['prod_data']['condition'] == '1'){ echo "selected";} ?>>{{TR New}}</option>
                                                    <option value="2" <?php if($hs['prod_data']['condition'] == '2'){ echo "selected";} ?>>{{TR Used}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 p-l-5" data-form-field="5">
                                            <label class="form-label">
                                                {{TR Category}}:
                                            </label>
                                            <div class="filed-box">
                                                <select data-size="5" name="category" class="form-control">
                                                    <?php foreach ($hs['categories'] as $id => $cat_name): ?>
                                                        <?php if ($hs['prod_data']['category'] == $id): ?>
                                                            <option value="<?php echo $id; ?>" selected>
                                                                <?php echo hs_translate($cat_name); ?>
                                                            </option>
                                                        <?php else: ?>
                                                            <option value="<?php echo $id; ?>">
                                                                <?php echo hs_translate($cat_name); ?>
                                                            </option>
                                                        <?php endif; ?>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 p-l-5" data-form-field="49">
                                         <!--   
                                            <input type="hidden" class="form-control" id="js-value" name="prod_values" value="<?=$hs['prod_data']['prod_values']?>">
                                            <label class="form-label">
                                               {{TR Values}} <span class="no-more-label">({{TR Not more than}} 3):</span> 
                                            </label>                                            
                                               <div class="fake-select" id="js-fake-select">
                                                    &#10004;
                                                </div>
                                            <div id="js-value-list" class="filed-box values-box">
                                                    <?php foreach ($hs['values'] as $id => $cat_name): ?>
                                                        <div class="row value-item">
                                                            <div class="col-lg-4">                                                                                                                                
                                                                <input class="value-hid" type="hidden" iid="<?=$id ?>" value="<?=(in_array($id,$selValues))?"1":"0"?>">
                                                                <span class="lever <?=(in_array($id,$selValues))?"switch-col-blue":""?>"></span>
                                                            </div>                                                            
                                                            <div class="col-lg-8 value-item"> 
                                                                <?= hs_translate($cat_name) ?>
                                                            </div>
                                                        </div>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>-->
                                        </div>                                        
                                    </div>
                                </div>
                                <div class="form-label value-label">
                                    <?php 
                                        $selValues = explode(',', $hs['prod_data']['prod_values']);
                                        $selArr = array_intersect_key($hs['values'], array_flip($selValues)); 
                                    ?>
                                    
                                   <strong> {{TR Values}}</strong>  <span class="no-more-label">({{TR Not more than}} 3):</span> <span class='selected-values'><?php $nn=0; foreach($selArr as $id=>$val){ if($nn)echo ", "; echo hs_translate($val[1]); $nn++;}?></span>
                                   
                                </div>
                                 <input type="hidden" class="form-control" id="js-value" name="prod_values" value="<?=$hs['prod_data']['prod_values']?>">
                                <div class="form-group form-field-box js-values">
                                    <div class="row clearfix">
                                        <?php foreach($hs['values_cat'] as $id => $cat_name){ ?>
                                            <div class='col-lg-3 col-md-3  col-sm-3  col-3 val-column-head'><?= hs_translate($cat_name['title']) ?></div>
                                        <?php } ?>  
                                    </div>
                                    
                                        <div class="row clearfix">
                                            <?php foreach($hs['values_cat'] as $cat_name){ ?>
                                            <div class='col-lg-3 col-md-3  col-sm-3  col-3 val-column'>
                                                <?php foreach($cat_name['values'] as $id => $value){ ?>                                                 
                                                    <div class="row value-item">
                                                        <div class="col-lg-4">                                                               
                                                            <input class="value-hid" type="hidden" iid="<?=$id ?>" value="<?=(in_array($id,$selValues))?"1":"0"?>">
                                                            <span col="<?=$cat_name['color']?>" style="background-color:<?=(in_array($id,$selValues))?$cat_name['color']:""?>"  class='lever <?=(in_array($id,$selValues))?"switch-col-blue":""?>'></span>
                                                        </div>                                                            
                                                        <div class="col-lg-8 value-item-name"> 
                                                            <?= hs_translate($value[1]) ?>
                                                        </div>
                                                     </div>
                                                <?php } ?>
                                            </div>
                                            <?php } ?>
                                        </div>                           
                                </div>
                                <div class="form-group form-field-box mob-value-row js-values-mob" >
                                     <div class="mob-value-col" >
                                         <?php $nn=1; foreach($hs['values_cat'] as $cat_name){ ?>
                                            <?php if($nn%2 != 0){?>
                                                <div class="mob-val-class-title"><?=hs_translate($cat_name['title'])?></div>
                                                <?php foreach($cat_name['values'] as $id => $value){ ?>                                                 
                                                    <div class="mob-value-subrow">
                                                         <div class="mob-value-subcol-value"> 
                                                            <?= hs_translate($value[1]) ?>
                                                        </div>                                                       
                                                        <div  class="mob-value-subcol-polzun">                                                               
                                                            <input class="value-hid" type="hidden" iid="<?=$id ?>" value="0">
                                                            <span col="<?=$cat_name['color']?>"  style="background-color:<?=(in_array($id,$selValues))?$cat_name['color']:""?>" class="lever <?=(in_array($id,$selValues))?"switch-col-blue":""?>"></span>
                                                        </div>
                                                     </div>
                                                <?php } ?>  
                                            <?php } ?>
                                            <?php $nn++; } ?>
                                     </div>
                                     <div class="mob-value-col" >
                                         <?php $nn=1; foreach($hs['values_cat'] as $cat_name){ ?> 
                                         <?php if($nn%2 == 0){?>
                                                <div class="mob-val-class-title"><?= hs_translate($cat_name['title'])?></div>
                                                <?php foreach($cat_name['values'] as $id => $value){ ?>                                                 
                                                    <div  style="display: flex;  flex-wrap: wrap;">
                                                        <div class="mob-value-subcol-value"> 
                                                            <?= hs_translate($value[1]) ?>
                                                        </div>
                                                        <div  class="mob-value-subcol-polzun">                                                               
                                                            <input class="value-hid" type="hidden" iid="<?=$id ?>" value="0">
                                                            <span col="<?=$cat_name['color']?>"  style="background-color:<?=(in_array($id,$selValues))?$cat_name['color']:""?>" class="lever <?=(in_array($id,$selValues))?"switch-col-blue":""?>"></span>
                                                        </div> 
                                                     </div>
                                                <?php } ?> 
                                                <?php } ?>
                                            <?php $nn++; } ?>
                                     </div>
                                 </div>
                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-12 no-mb" data-form-field="6">
                                            <label class="form-label">
                                                {{TR Description}} ({{TR From}} <?=$hs['config']['prod_min_desc']?> {{TR To}} <?=$hs['config']['prod_max_desc']?> {{TR symbols}}):
                                            </label>
                                            <div class="filed-box">
                                                <textarea name="description" rows="5" class="form-control" id="product-description" placeholder="{{TR Enter product description}}">{{prod_desc}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    	        <hr>
                                <div class="form-fieldset-title clearfix" data-affix-label="prod_price_and_shipping">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>
                                                {{TR Product Pricing & Shipping}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-6 p-r-10" data-form-field="7">
                                            <label class="form-label">
                                                {{TR Crossed out price}} ({{TR 0 if not needed}}, {{TR To}} <?=hs_price($config['max_sale_price'])?>):
                                            </label>
                                            <div class="filed-box">
                                                <input value="{{prod_reg_price}}" step="any" name="reg_price" type="text" min="0" class="form-control date" placeholder="{{TR Only numeric value is allowed. E.g. 149.99}} {{CONFIG currency}}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 p-l-10" data-form-field="8">
                                            <label class="form-label">
                                                {{TR Actual price}} ({{TR From}} <?=  hs_price($config['min_sale_price'])?> {{TR To}} <?=hs_price($config['max_sale_price'])?>):
                                            </label>
                                            <div class="filed-box">
                                                <input value="{{prod_sale_price}}" step="any" name="sale_price" type="number" min="0" class="form-control date" placeholder="{{TR Only numeric value is allowed. E.g. 149.99}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-6 p-r-10" data-form-field="9">
                                            <label class="form-label">
                                                {{TR Quantity}}:
                                            </label>
                                            <div class="filed-box">
                                                <input value="{{prod_quantity}}" name="quantity" type="number" min="0" class="form-control" placeholder="{{TR Only numeric value is allowed. Maximum 120}}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 p-l-10" data-form-field="25">
                                            <label class="form-label">
                                                {{TR Vendor code}}:
                                            </label>
                                            <div class="filed-box">
                                                <input value="{{sku}}" name="sku" type="text" class="form-control" placeholder="{{TR Vendor code}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-12" data-form-field="12">
                                            <label class="form-label">
                                                {{TR Shipping time}}:
                                            </label>
                                            <div class="filed-box">
                                                <select name="shipping_time" class="form-control" title="{{TR Select shipping time estimate}}">
                                                    <option value="1_bd" <?php if($hs['prod_data']['shipping_time'] == '1_bd') { echo "selected";} ?>>{{TR Ready to ship in 1 Business Day}}</option>
                                                    <option value="2_3_bd" <?php if($hs['prod_data']['shipping_time'] == '2_3_bd') { echo "selected";} ?>>{{TR Ready to ship in 2-3 Business Days}}</option>
                                                    <option value="4_7_bd" <?php if($hs['prod_data']['shipping_time'] == '4_7_bd') { echo "selected";} ?>>{{TR Ready to ship in 4-7 Business Days}}</option>
                                                    <option value="8_15_bd" <?php if($hs['prod_data']['shipping_time'] == '8_15_bd') { echo "selected";} ?>>{{TR Ready to ship in 8-15 Business Days}}</option>
                                                    <option value="within_1_month" <?php if($hs['prod_data']['shipping_time'] == 'within_1_month') { echo "selected";} ?>>{{TR Ready to ship within 1 month}}</option>
                                                    <option value="within_2_months" <?php if($hs['prod_data']['shipping_time'] == 'within_2_months') { echo "selected";} ?>>{{TR Ready to ship within 2 months}}</option>
                                                    <option value="within_3_months" <?php if($hs['prod_data']['shipping_time'] == 'within_3_months') { echo "selected";} ?>>{{TR Ready to ship within 3 months}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-6 p-r-10" data-form-field="10">
                                            <label class="form-label">
                                                {{TR Shipping cost}}:
                                            </label>
                                            <div class="filed-box">
                                                <select name="shipping_cost" class="form-control" id="select-prod-shipcost">
                                                    <option value="free" <?php if($hs['prod_data']['shipping_cost'] == 'free') { echo "selected";} ?>>{{TR Free Shipping}}</option>
                                                    <option value="paid" <?php if($hs['prod_data']['shipping_cost'] == 'paid') { echo "selected";} ?>>{{TR Buyer Pays}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 p-l-10" data-form-field="11">
                                            <label class="form-label">
                                                {{TR Shipping fee}}:
                                            </label>
                                            <div class="filed-box">
                                                <input id="shipping-fee-amount" <?php echo(($hs['prod_data']['shipping_cost'] == 'disabeld="true"') ? '' : '');?> value="<?php echo($hs['prod_data']['shipping_fee']); ?>" name="shipping_fee" type="text" class="form-control" placeholder="{{TR Enter the shipping fee amount. For Example}}: 10{{CONFIG currency}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-12 no-mb" data-form-field="23">
                                            <label class="form-label">
                                                {{TR Payment method}}:
                                            </label>
                                            <div class="filed-box">
                                                <select name="payment_method" class="form-control" title="{{TR Select payment method}}">
                                                    <option value="all_payments" <?php if($hs['prod_data']['payment_method'] == 'all_payments') { echo "selected";} ?>>{{TR All methods}}</option>
                                                    <option value="cod_payments" <?php if($hs['prod_data']['payment_method'] == 'cod_payments') { echo "selected";} ?>>{{TR Cash on delivery}}</option>
                                                    <option value="pre_payments" <?php if($hs['prod_data']['payment_method'] == 'pre_payments') { echo "selected";} ?>>{{TR Prepayment}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-fieldset-title clearfix" data-affix-label="prod_logistics_info">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>
                                                {{TR Product Logistics Information}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-6 p-r-10" data-form-field="13">
                                            <label class="form-label">
                                                {{TR Origin}}:
                                            </label>
                                            <div class="filed-box">                                                
                                                <div class="fake-select">
                                                    <span class="country-label js-c-lab"><?=$hs["prod_data"]['origin']?$hs["prod_data"]['origin']:"{{TR Enter product origin country name}}..."?></span> <span class="js-c-lab country-arrow">&#9662;</span>
                                                    <input value="{{prod_origin}}" type="text" id="country-input" placeholder="{{TR Enter product origin country name}}" >
                                                </div>
                                                <div class="country-box">
                                                    <?php foreach ($hs['countries'] as $cntr_id => $cntr_name): ?>
                                                        <div class="country-item" cId="<?php  echo($cntr_id); ?>"><?php echo hs_translate($cntr_name); ?></div>
                                                    <?php endforeach; ?>                                                                                
                                                </div>   
                                                <input type="hidden" name="origin" class="form-control show-tick" value="{{prod_origin}}" >
                                            </div>
                                        </div>
                                        <div class="col-sm-6 p-l-10" data-form-field="14">
                                            <label class="form-label">
                                                {{TR Brand}}:
                                            </label>
                                            <div class="filed-box">
                                                <input value="{{prod_brand}}" name="brand" type="text" class="form-control date" placeholder="{{TR Enter the product brand name}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-6 p-r-10" data-form-field="15">
                                            <label class="form-label">
                                                {{TR Model number}}:
                                            </label>
                                            <div class="filed-box">
                                                <input value="{{prod_model_number}}" name="model_number" type="text" class="form-control date" placeholder="{{TR Enter product model number}}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 p-l-10" data-form-field="16">
                                            <label class="form-label">
                                                {{TR Weight}}:
                                            </label>
                                            <div class="filed-box">
                                                <input value="{{prod_weight}}" name="weight" type="text" class="form-control date" placeholder="{{TR E.g. 5kg, 11lb, 176oz, 50g}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-6 p-r-10" data-form-field="17">
                                            <label class="form-label">
                                                {{TR Length}}:
                                            </label>
                                            <div class="filed-box">
                                                <input value="{{prod_length}}" name="length" type="text" class="form-control" placeholder="{{TR E.g. 24in, 60.96cm, 5.5mm}}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 p-l-10" data-form-field="18">
                                            <label class="form-label">
                                                {{TR Width}}:
                                            </label>
                                            <div class="filed-box">
                                                <input value="{{prod_width}}" name="width" type="text" class="form-control" placeholder="{{TR E.g. 2in, 5.08cm, 0.8mm}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-12 no-mb" data-form-field="19">
                                            <label class="form-label">
                                                {{TR Height}}:
                                            </label>
                                            <div class="filed-box">
                                                <input value="{{prod_height}}" name="height" type="text" class="form-control" placeholder="{{TR E.g. 6in, 15.24cm, 12.5mm}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>      
                                <hr>
                                <div class="form-fieldset-title clearfix" data-affix-label="prod_images">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>
                                                {{TR Product Poster & Photos}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-12" data-form-field="20">
                                            <label class="form-label">
                                                {{TR Poster}}:
                                            </label>
                                            <div class="filed-box">
                                                <div class="prod-pickzone-wrapper">
                                                    <div class="left-part" >
                                                        <div class="pick-zone" id="select-prod-poster" folder="poster" param="poster" reswidth="800" resheight="800" rwidth="120" rheight="120" aspectratio="1" poster='1'>
                                                            <img src="{{prod_poster}}" alt="Image">
                                                        </div>
                                                    </div>
                                                    <div class="right-part">
                                                        <div class="image-requirements-list">
                                                            <h4>{{TR Follow basic image requirements}}</h4>
                                                            <ul>
                                                                <li>
                                                                    <a href="#">
                                                                        {{TR Image size should be 800x800}}
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        {{TR Product image type must be a professional photo or cover}}
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        {{TR Product image format must be: JPEG, PNG, GIF, TIFF}}
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        {{TR Follow the frame and provide important information!}}
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        {{TR Respect copyrights to photos and images!}}
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>  
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-field-box" id="prod-additional-images-holder">
                                    <div class="row clearfix">
                                        <div class="col-sm-12" data-form-field="21">
                                            <label class="form-label">
                                                {{TR Images}}:
                                            </label>
                                            <div class="filed-box">
                                                <div class="prod-images-dropzone" id="gallery-images-list">
                                                    <?php if (not_empty($hs['prod_data']['media'])): ?>
                                                        <?php foreach ($hs['prod_data']['media'] as $prod_media): ?>
                                                            <div class="product-images-item image-preview filled" data-gallery-media-id="<?php echo($prod_media['id']); ?>">
                                                                <div class="image">
                                                                    <img src="<?php echo($prod_media['src']); ?>" alt="Image">
                                                                    <span class="delete-image" data-delete-data="gallery_image">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M405 136.798L375.202 107 256 226.202 136.798 107 107 136.798 226.202 256 107 375.202 136.798 405 256 285.798 375.202 405 405 375.202 285.798 256z"></path></svg>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        <?php endforeach; ?>
                                                    <?php endif; ?>
                                                    <div class="product-images-item eq-height add-image" id="add-gallery-images" folder="poster" param="poster" reswidth="800" resheight="800" rwidth="120" rheight="120" aspectratio="1" poster='0'>
                                                        <div class="inner-cont">
                                                            <i class="material-icons">add_to_photos</i>
                                                        </div>
                                                    </div>
                                                </div> 
                                                <small class="col-cyan sub-title">{{TR Add product gallery images}}. <i class="material-icons">info</i> {{TR Note: Products with good and clear photos are sold faster!}}</small>
                                                <template id="product-images-item-temp">
                                                    <div class="product-images-item eq-height image-preview filled">
                                                        <div class="image">
                                                            <img src="" alt="Image">
                                                            <span class="delete-image">
                                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M405 136.798L375.202 107 256 226.202 136.798 107 107 136.798 226.202 256 107 375.202 136.798 405 256 285.798 375.202 405 405 375.202 285.798 256z"></path></svg>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                    	        <hr>
                                <input id="prodvar-types"  name="variation_type" class="form-control" type="hidden" value="single">
                                <!--<div class="form-fieldset-title clearfix" data-affix-label="prod_variations">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>
                                                {{TR Product variations}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-12 no-mb" data-form-field="22">
                                            <label class="form-label">
                                                {{TR Type of variation}}:
                                            </label>
                                            <div class="filed-box">
                                                <select id="prodvar-types" name="variation_type" class="form-control">
                                                    <option value="single" <?php if($hs['prod_data']['variation_type'] == "single"){ echo "selected";} ?>>{{TR Single variant product}}</option>
                                                    <option value="color" <?php if($hs['prod_data']['variation_type'] == "color"){ echo "selected";} ?>>{{TR Color variant product}}</option>
                                                    <option value="size" <?php if($hs['prod_data']['variation_type'] == "size"){ echo "selected";} ?>>{{TR Size variant product}}</option>
                                                    <option value="color_size" <?php if($hs['prod_data']['variation_type'] == "color_size"){ echo "selected";} ?>>{{TR Color & Size variant product}}</option>
                                                </select>
                                            </div>
                                            <small id="vartype-error" class="col-cyan">{{TR Leave [Single variant product] if the product has no options}}</small>
                                        </div>
                                    </div>
                                </div>
                                <?php if ($hs['prod_data']['is_measurable']): ?>
                                    <div class="form-group form-field-box prod-sizing-types" id="prod-sizing-types">
                                        <div class="row clearfix m-t-20">
                                            <div class="col-sm-12 no-mb">
                                                <label class="form-label">
                                                    {{TR Sizing}}
                                                </label>
                                                <div class="filed-box">
                                                    <select id="sizing-types" class="form-control" title="{{TR Please select sizing type}}">
                                                        <?php foreach ($hs['sizing_types'] as $id => $type_item): ?>
                                                            <?php if ($hs['prod_data']['sizing_type'] == $id): ?>
                                                                <option value="<?php echo $id; ?>" selected="true">
                                                                    <?php echo hs_translate($type_item['name']); ?>
                                                                </option>
                                                            <?php else: ?>
                                                                <option value="<?php echo $id; ?>">
                                                                    <?php echo hs_translate($type_item['name']); ?>
                                                                </option>
                                                            <?php endif; ?>
                                                        <?php endforeach; ?>      
                                                    </select>
                                                </div>
                                                <small id="vartype-error" class="col-cyan">
                                                    <?php echo hs_translate('{%bold%}Sizing{%bold_%}: Please select a measurement type for your product options',array('bold' => '<b>','bold_' => '</b>')); ?>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                <?php else: ?>
                                    <div class="form-group form-field-box prod-sizing-types hidden" id="prod-sizing-types">
                                        <div class="row clearfix m-t-20">
                                            <div class="col-sm-12 no-mb">
                                                <label class="form-label">
                                                    {{TR Sizing}}
                                                </label>
                                                <div class="filed-box">
                                                    <select data-size="5" id="sizing-types" class="form-control" title="{{TR Please select sizing type}}">
                                                        <?php foreach ($hs['sizing_types'] as $id => $type_item): ?>
                                                            <option value="<?php echo $id; ?>">
                                                                <?php echo hs_translate($type_item['name']); ?>
                                                            </option>
                                                        <?php endforeach; ?>      
                                                    </select>
                                                </div>
                                                <small id="vartype-error" class="col-cyan">
                                                    <?php echo hs_translate('{%bold%}Sizing{%bold_%}: Please select a measurement type for your product options',array('bold' => '<b>','bold_' => '</b>')); ?>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                <?php endif; ?>-->
                            
                                <?php if ($hs['prod_data']['is_variable']): ?>
                                    <div class="form-group form-field-box" id="add-prodvar">
                                        <div class="row clearfix">
                                            <div class="col-sm-12 no-mb">
                                                <div class="filed-box">
                                                    <div class="add-prodvar">
                                                        <div class="btn-wrapper">
                                                            <button title="{{TR Add Product Option}}" id="add-prodvar-btn" type="button" class="btn bg-blue btn-custom btn-lg">
                                                                <i class="material-icons">playlist_add</i> <span>{{TR Add Product Option}}</span>
                                                            </button>
                                                        </div>
                                                        <div class="btn-wrapper">
                                                            <button id="show-prodvar-btn" title="{{TR Product Options}}" type="button" class="btn bg-grey btn-custom btn-lg">
                                                                <i class="material-icons">menu</i> <span>{{TR Product Options}}</span> (<b><?php echo $hs['prod_data']['totvars']; ?></b>)
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <?php else: ?>
                                    <div class="form-group form-field-box hidden" id="add-prodvar">
                                        <div class="row clearfix">
                                            <div class="col-sm-12 no-mb">
                                                <div class="filed-box">
                                                    <div class="add-prodvar">
                                                        <div class="btn-wrapper">
                                                            <button title="{{TR Add Product Option}}" id="add-prodvar-btn" type="button" class="btn bg-blue btn-custom btn-lg">
                                                                <i class="material-icons">playlist_add</i> <span>{{TR Add Product Option}}</span>
                                                            </button>
                                                        </div>
                                                        <div class="btn-wrapper">
                                                            <button title="{{TR Product Options}}" disabled="true" id="show-prodvar-btn" type="button" class="btn bg-grey btn-custom btn-lg">
                                                                <span>{{TR Product Options}}</span> (<b>0</b>)
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </form>
                <form id="upload-product-poster" class="hidden">
                    <input type="hidden" class="hidden d-none" name="hash" value="<?php echo fetch_or_get($hs['csrf_token'],'none') ?>">
                    <input name="poster" type="file" class="hidden" onchange="$(this).parent('form').submit();" accept="image/*">
                </form>
                <form id="upload-gallery-images" class="hidden">
                    <input type="hidden" class="hidden d-none" name="hash" value="<?php echo fetch_or_get($hs['csrf_token'],'none') ?>">
                    <input name="image" type="file" class="hidden" onchange="$(this).parent('form').submit();" accept="image/*">
                </form>
            </div>
            <div class="affixed-page-part-2" id="right-sidepart">
                <div class="sidebar__inner">
                    <div class="card">
                        <div class="header">
                            <h2>{{TR Product data}}</h2>
                        </div>
                        <div class="body">
                            <ul class="list-group">
                                <li class="list-group-item active" data-affix-scroll="prod_basic_info">
                                    {{TR Product Basic Information}}
                                </li>
                                <li class="list-group-item" data-affix-scroll="prod_price_and_shipping">
                                    {{TR Product Pricing & Shipping}}
                                </li>
                                <li class="list-group-item" data-affix-scroll="prod_logistics_info">
                                    {{TR Product Logistics Information}}
                                </li>
                                <li class="list-group-item" data-affix-scroll="prod_images">
                                    {{TR Product Poster & Photos}}
                                </li>
                                <li class="list-group-item" data-affix-scroll="prod_variations">
                                    {{TR Product variations}}
                                </li>
                            </ul>
                            <div class="ctrls">
                                <button class="btn btn-lg bg-main-red" data-main-btn="submit" title="{{TR Save changes}}">
                                    <i class="material-icons">save</i> <span class="btn-text">{{TR Save changes}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php echo hs_loadpage('upsert_product/static/js/upsert_product_script');?>
<?php echo hs_loadpage('upsert_product/includes/long_process_preloader');?>
<?php echo hs_loadpage('upsert_product/static/js/upsert_crop');?>
<?php echo hs_loadpage('upsert_product/static/js/upsert_crop_custom');?>