<script>
	jQuery(document).ready(function($) {
        "use strict";
        
        var DELETED_PRODS_MNG_PAGE = $("div#deleted-products-management-page");
		var DELETED_PRODS_LIST     = DELETED_PRODS_MNG_PAGE.find("table#prods-list");
		var PROD_REMOVAL_M         = $("div#confirm-prod-removal-modal");

        DELETED_PRODS_MNG_PAGE.find('a.pagination-ctrls').on('click',function(event) {
            event.preventDefault();
            event.stopPropagation();
            if ($(this).hasClass('disabled') != true) { 
                var pager_ctrls = DELETED_PRODS_MNG_PAGE.find('a.pagination-ctrls');
                var this_ctrl   = $(this);
                var prods_list  = DELETED_PRODS_MNG_PAGE.find('table#prods-list');
                var pager_dir   = (($(this).hasClass('prev')) ? 'up' : 'down');
                var last_req    = prods_list.find('tr[data-prod-list-item]').last().data('prod-list-item');
                var first_req   = prods_list.find('tr[data-prod-list-item]').first().data('prod-list-item');
                var preloader   = DELETED_PRODS_MNG_PAGE.find('div#table-preloader').removeClass('hidden');
                var pager_ctrls = pager_ctrls.removeClass('disabled');

                $.ajax({
                    url: '{{CONFIG url}}/req/admin/get_deleted_products',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        dir: pager_dir, 
                        last: last_req, 
                        first: first_req,
                    },
                }).done(function(data) {
                    if (data.status == 200) {
                        prods_list.find('tbody').html(data.html);
                    }
                    else{
                        this_ctrl.addClass('disabled');
                    }
                }).fail(function() {
                    $.notify({
                        message: 'Error: Failed to connect to the server. Please check your internet connection',
                    },{
                        allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                        placement: {from: "bottom",align: "left"},
                        offset: {x: 40,y: 30},
                        animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                    });
                }).always(function() {
                    delay(function(){
                        preloader.addClass('hidden');
                    },500);
                });
            }
            else {
                return false;
            }
        });

        $(document).on('click', '[data-onclick]', function(event) {
            event.preventDefault();
            var event_trigger = $(this).data('onclick');
            var zis_el        = $(this);
            if(event_trigger == 'delete_product') {               
                var prod_id = zis_el.data('id');
                PROD_REMOVAL_M.find('input[name="id"]').val(prod_id);
                PROD_REMOVAL_M.modal('show');
            }
        });

        PROD_REMOVAL_M.find('form#remove-prod-form').ajaxForm({
            url: '{{CONFIG url}}/req/admin/delete_product',
            type: 'POST',
            dataType: 'json',
            beforeSend: function() {
                PROD_REMOVAL_M.find('button').attr('disabled', 'true');
            },
            success: function(data) {
                var counter = parseInt($('#hb-items-new-total').text());
                counter--;
                $('#hb-items-new-total').text(counter);
                var counter = parseInt($('#hb-items-new-deleted').text());
                counter--;
                $('#hb-items-new-deleted').text(counter);
                
                if (DELETED_PRODS_LIST.find('tr[data-prod-list-item]').length > 1) {
                    if (data.status == 200) {
                        var prod_id = PROD_REMOVAL_M.find('input[name="id"]').val();
                        DELETED_PRODS_LIST.find('tr[data-prod-list-item="{0}"]'.format(prod_id)).slideUp(150,function(){
                            $(this).remove();
                        });
                    }

                    if (data.message) {
                        $.notify({
                            message: data.message,
                        },{
                            allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                            placement: {from: "bottom",align: "left"},
                            offset: {x: 40,y: 30},
                            animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                        });
                    }
                
                    PROD_REMOVAL_M.find('button').removeAttr('disabled');
                    PROD_REMOVAL_M.find('input[name="id"]').val('');
                    PROD_REMOVAL_M.modal('hide');
                }

                else {
                    DELETED_PRODS_LIST.css('opacity', '0.3');
                    $(window).reloadPage(1500);
                }
            }
        });
	});
</script>