<div class="clearfix" id="market-users-page">
    <div class="block-header">
        <nav class="breadcrumbs-cust" aria-label="breadcrumb breadcrumb-cust">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{LINK merchant_panel}}">{{TR Control panel}}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{LINK merchant_panel/market_users}}">
                        {{TR Market users}}
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    {{TR Market users management}}
                </li>
            </ol>
        </nav>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card ajax-ctrl-table">
                <div class="header">
                    <h2>{{TR List of market users}} (<?php echo($hs['total_users']); ?>)</h2>
                    <div class="rows-filter">
                        <input type="text" placeholder="{{TR Search by username}}" id="search-users">
                        <i class="material-icons search">search</i>
                        <i class="material-icons clear hidden" id="clear-searching-terms">clear</i>
                    </div>
                </div>
                <div class="body table-responsive">
                    <table class="table common-table no-mb" id="users-list">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>{{TR User Name}}</th>
                                <th>{{TR E-Mail}}</th>
                                <th>{{TR Country}}</th>  
                                <th>{{TR IP}}</th>  
                                <th>{{TR Status}}</th>  
                                <th>{{TR Last seen}}</th>
                                <th>{{TR Account}}</th>
                                <th>{{TR Action}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if (not_empty($hs['market_users'])): ?>
                                <?php foreach ($hs['market_users'] as $hs['user_data']): ?>
                                    <?php echo hs_loadpage('market_users/includes/user_list_item'); ?>
                                <?php endforeach; ?>
                            <?php else: ?>
                                <?php echo hs_loadpage('market_users/includes/empty_table'); ?>
                            <?php endif; ?>
                        </tbody>
                    </table>
                    <?php if (not_empty($hs['market_users'])): ?>
                        <div class="data-preloader-wrapper hidden" id="table-preloader">
                            <?php echo hs_loadpage('components/data_preloader'); ?>
                        </div>
                        <a href="javascript:void(0);" class="pagination-ctrls prev">
                            <i class="material-icons">chevron_left</i>
                        </a>
                        <a href="javascript:void(0);" class="pagination-ctrls next">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    <?php endif; ?> 
                </div>
            </div>
        </div>
    </div>
</div>
<?php echo hs_loadpage('market_users/modals/confirmations/conf_user_removal'); ?>
<?php echo hs_loadpage('market_users/modals/confirmations/confirm_user_blocking'); ?>
<?php echo hs_loadpage('market_users/static/js/market_users_script'); ?>