html {
  scroll-behavior: smooth; }

body {
  min-width: 340px !important;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

header {
  width: 100%;
  display: block;
  background: transparent !important;
  position: static !important; }
  header div.header-top-line {
    position: relative;
    z-index: 10;
    background: #fff;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06), 0 -1px 0 0 rgba(0, 0, 0, 0.06); }
    header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line {
      background: #fff !important;
      padding: 0 10px;
      display: flex;
      width: 100%;
      height: 55px; }
      header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.logo-block .nav-item.logo a {
        height: 30px;
        display: inline-block; }
        header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.logo-block .nav-item.logo a svg, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.logo-block .nav-item.logo a img {
          height: 100%;
          object-fit: cover; }
      header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.mobile-navbar-toggle {
        display: none !important;
        margin-right: 5px; }
        header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.mobile-navbar-toggle a {
          display: inline-block;
          width: 30px;
          height: 30px;
          position: relative; }
          header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.mobile-navbar-toggle a svg {
            width: 20px;
            height: 20px;
            position: absolute;
            margin: auto;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            fill: #e0e0e0; }
      header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper {
        width: 25rem;
        margin-left: 35px; }
        header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.search-input {
          position: relative; }
          header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.search-input input {
            width: 100%;
            padding: 6px 10px 8px 40px;
            background: #f5f5f5;
            border: none;
            color: #333333;
            display: inline-block;
            vertical-align: middle;
            zoom: 1;
            font: inherit;
            margin: 0;
            overflow: visible;
            -webkit-transition: 0.2s border-color ease;
            transition: 0.2s border-color ease;
            height: 32px;
            border-radius: 10em;
            outline: 0; }
            header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.search-input input::placeholder {
              font-size: 12px;
              line-height: 22px;
              color: #72777c;
              font-weight: 100; }
            header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.search-input input:focus {
              box-shadow: none !important;
              outline: none !important;
              border: 2px solid #ff7676; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.search-input input:focus::placeholder {
                color: #ff7676; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.search-input input:focus ~ button.search svg {
                fill: #ff7676; }
          header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.search-input button.search {
            width: 55px;
            position: absolute;
            left: 0px;
            top: 0px;
            height: 100%;
            background: transparent;
            line-height: 0px;
            border: none;
            outline: 0; }
            header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.search-input button.search svg {
              width: 20px;
              height: 20px;
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              right: 0;
              margin: auto;
              fill: #72777c; }
          header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.search-input button.close-bar {
            display: none; }
        header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.dropdown {
          display: none;
          visibility: hidden;
          line-height: 0;
          opacity: 0; }
          header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.dropdown.show {
            display: block;
            visibility: visible;
            opacity: 1;
            width: 100%; }
            header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.dropdown.show div.dropdown-menu {
              display: none;
              visibility: hidden;
              opacity: 0; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.dropdown.show div.dropdown-menu.show {
                display: block;
                visibility: visible;
                opacity: 1;
                padding: 15px;
                border: none;
                box-shadow: 0 0.2222rem 0.4444rem 0 rgba(0, 0, 0, 0.12);
                background: #fff;
                border-radius: 5px;
                top: 5px;
                width: 100%;
                max-height: 350px;
                overflow-y: scroll;
                overflow-x: hidden; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.dropdown.show div.dropdown-menu.show a {
                  line-height: 22px;
                  color: #192a32;
                  font-size: 13px;
                  display: block;
                  white-space: nowrap;
                  text-overflow: '';
                  max-width: 100%;
                  overflow: hidden;
                  margin-bottom: 5px; }
                  header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.dropdown.show div.dropdown-menu.show a:last-child {
                    margin-bottom: 0px; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.dropdown.show div.dropdown-menu.show span.no-result {
                  text-align: center;
                  font-size: 13px;
                  color: #9697a1;
                  line-height: 13px;
                  display: block;
                  width: 100%; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.dropdown.show div.dropdown-menu.show::-webkit-scrollbar-track {
                  background-color: #fff; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.dropdown.show div.dropdown-menu.show::-webkit-scrollbar {
                  width: 8px;
                  background-color: #fff; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper form.search-form div.dropdown.show div.dropdown-menu.show::-webkit-scrollbar-thumb {
                  background-color: #d1d1d1;
                  border: 2px solid #d1d1d1;
                  border-radius: 2px; }
        header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper.toggleable {
          position: fixed;
          width: 100% !important;
          height: 45px;
          z-index: 100;
          background: #fff;
          left: 0;
          top: 0;
          right: 0;
          display: block !important;
          margin-left: 0px; }
          header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper.toggleable div.search-input {
            padding: 12px 50px 11px 20px; }
            header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper.toggleable div.search-input button.search {
              left: 15px !important; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper.toggleable div.search-input button.search svg {
                width: 15px !important;
                height: 15px !important; }
            header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper.toggleable div.search-input button.close-bar {
              width: 55px;
              position: absolute;
              right: 0px;
              top: 0px;
              height: 100%;
              font-weight: 400;
              background: transparent;
              line-height: 20px;
              border: none;
              display: block !important;
              outline: 0; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.search-form-wrapper.toggleable div.search-input button.close-bar svg {
                width: 20px;
                height: 20px;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                fill: #ff7676; }
      header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down {
        margin-left: auto; }
        header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center; }
          header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd {
            position: relative;
            margin-left: 15px; }
            header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd a.dropdown-toggle {
              display: block;
              padding: 0px; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd a.dropdown-toggle:after {
                display: none; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd a.dropdown-toggle img {
                width: 30px;
                height: 30px;
                border-radius: 10em; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd a.dropdown-toggle span.user-name {
                display: inline-block;
                font-size: 14px;
                line-height: 34px;
                font-weight: 500;
                color: #2d2f43;
                margin-left: 5px; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd a.dropdown-toggle:hover img, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd a.dropdown-toggle:focus img, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd a.dropdown-toggle:active img {
                border: 2px solid #f6546a; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd a.dropdown-toggle:hover span, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd a.dropdown-toggle:focus span, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd a.dropdown-toggle:active span {
                color: #ff7676; }
            header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd div.dropdown-menu {
              position: absolute;
              left: unset;
              right: 10px;
              width: 200px;
              top: 50px;
              border: none;
              box-shadow: 0 -0.6rem 1.33rem rgba(0, 0, 0, 0.1), 0 0.6rem 1.33rem rgba(0, 0, 0, 0.1);
              background: #fff;
              border-radius: 5px;
              padding: 10px; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd div.dropdown-menu a.dropdown-item {
                display: block;
                width: 100%;
                padding: 8px 15px;
                text-decoration: none;
                transition: all 0.30s ease-in-out;
                line-height: 0px; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd div.dropdown-menu a.dropdown-item span {
                  font-size: 13px;
                  line-height: 16px;
                  color: #192a32;
                  font-weight: normal; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd div.dropdown-menu a.dropdown-item:hover, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd div.dropdown-menu a.dropdown-item:active {
                  background: #fff; }
                  header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd div.dropdown-menu a.dropdown-item:hover span, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd div.dropdown-menu a.dropdown-item:active span {
                    color: #ff7676; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.profile-nav-dd div.dropdown-menu hr {
                padding: 0;
                margin: 5px 0; }
          header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-language-dd {
            position: relative;
            margin-left: 15px; }
            header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-language-dd a.dropdown-toggle {
              position: relative;
              width: 30px;
              height: 30px;
              color: #72777c;
              border-radius: 10em;
              margin: 0px;
              display: inline-block;
              vertical-align: middle; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-language-dd a.dropdown-toggle:after {
                display: none; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-language-dd a.dropdown-toggle svg {
                width: 20px;
                height: 20px;
                position: absolute;
                margin: auto;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                fill: #e0e0e0; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-language-dd a.dropdown-toggle:hover svg, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-language-dd a.dropdown-toggle:focus svg, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-language-dd a.dropdown-toggle:active svg {
                fill: #f6546a; }
            header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-language-dd div.dropdown-menu {
              left: unset;
              right: 10px;
              width: 200px;
              top: 50px;
              border: none;
              box-shadow: 0 -0.6rem 1.33rem rgba(0, 0, 0, 0.1), 0 0.6rem 1.33rem rgba(0, 0, 0, 0.1);
              background: #fff;
              border-radius: 5px;
              position: absolute;
              padding: 10px; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-language-dd div.dropdown-menu a.dropdown-item {
                display: flex;
                width: 100%;
                padding: 8px 15px;
                text-decoration: none;
                transition: all 0.30s ease-in-out;
                line-height: 0px;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-language-dd div.dropdown-menu a.dropdown-item span {
                  font-size: 13px;
                  line-height: 16px;
                  color: #192a32;
                  font-weight: normal; }
                  header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-language-dd div.dropdown-menu a.dropdown-item span.selected {
                    font-weight: 700;
                    color: #ff7676; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-language-dd div.dropdown-menu a.dropdown-item span.lang-banner svg {
                  width: 25px;
                  height: 15px; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-language-dd div.dropdown-menu a.dropdown-item:hover, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-language-dd div.dropdown-menu a.dropdown-item:active {
                  background: #fff; }
                  header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-language-dd div.dropdown-menu a.dropdown-item:hover span, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-language-dd div.dropdown-menu a.dropdown-item:active span {
                    color: #ff7676; }
          header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd {
            position: relative;
            margin-left: 15px; }
            header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd a.dropdown-toggle {
              cursor: pointer;
              position: relative;
              width: 30px;
              height: 30px;
              color: #72777c;
              border-radius: 10em;
              margin: 0px;
              display: inline-block;
              vertical-align: middle; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd a.dropdown-toggle:after {
                display: none; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd a.dropdown-toggle span.new-messages {
                position: absolute;
                top: -5px;
                right: -10px;
                background: #ff7676;
                color: #fff;
                text-align: center;
                padding: 4px;
                border-radius: 10em;
                z-index: 10;
                background-clip: padding-box;
                display: inline-block;
                font-size: 10px;
                -webkit-font-smoothing: subpixel-antialiased;
                line-height: 1.3;
                min-height: 13px;
                min-width: 20px; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd a.dropdown-toggle span.new-messages:empty {
                  display: none;
                  visibility: hidden;
                  opacity: 0; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd a.dropdown-toggle svg {
                width: 20px;
                height: 20px;
                position: absolute;
                margin: auto;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                fill: #e0e0e0;
                transition: all 0.30s ease-in-out; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd a.dropdown-toggle:hover svg, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd a.dropdown-toggle:active svg, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd a.dropdown-toggle:focus svg {
                fill: #ff7676; }
            header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu {
              padding: 0px;
              left: unset;
              right: 10px;
              width: 335px;
              position: absolute;
              top: 50px;
              border: none;
              border-radius: 5px;
              overflow: hidden;
              background: #fff;
              box-shadow: 0 -0.6rem 1.33rem rgba(0, 0, 0, 0.1), 0 0.6rem 1.33rem rgba(0, 0, 0, 0.1); }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu div.header {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                background: #ff7676;
                color: #192a32;
                padding: 15px;
                border-bottom: 1px solid #e6e6e6;
                align-items: flex-start; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu div.header span.notifs {
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 24px;
                  color: #fff;
                  margin-left: 10px; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu div.header svg {
                  fill: #fff;
                  width: 20px;
                  height: 20px; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body {
                width: 100%;
                overflow: hidden;
                display: block; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list {
                  list-style-type: none;
                  padding: 0;
                  margin: 0;
                  width: 100%;
                  max-height: 300px;
                  overflow-x: hidden;
                  overflow-y: scroll; }
                  header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list li.notifs-list-item {
                    width: 100%;
                    overflow: hidden;
                    padding: 10px;
                    border-bottom: 1px solid #e6e6e6; }
                    header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list li.notifs-list-item:last-child {
                      border-bottom: none; }
                    header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list li.notifs-list-item div.flex-cont {
                      display: flex;
                      flex-direction: row;
                      flex-wrap: nowrap; }
                      header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list li.notifs-list-item div.flex-cont div.left-part {
                        width: 40px;
                        height: 40px;
                        min-width: 40px; }
                        header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list li.notifs-list-item div.flex-cont div.left-part div.avatar {
                          width: 40px;
                          height: 40px; }
                          header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list li.notifs-list-item div.flex-cont div.left-part div.avatar img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10em; }
                      header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list li.notifs-list-item div.flex-cont div.right-part {
                        flex: 1;
                        padding: 0px 10px; }
                        header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list li.notifs-list-item div.flex-cont div.right-part p {
                          width: 100%;
                          padding: 0;
                          margin: 0;
                          line-height: 0px; }
                          header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list li.notifs-list-item div.flex-cont div.right-part p b {
                            font-size: 13px;
                            line-height: 15px;
                            color: #192a32; }
                            header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list li.notifs-list-item div.flex-cont div.right-part p b span.verified svg {
                              fill: #1fb4ef;
                              vertical-align: middle;
                              width: 12px;
                              height: 12px; }
                              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list li.notifs-list-item div.flex-cont div.right-part p b span.verified svg path {
                                fill: #1fb4ef; }
                          header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list li.notifs-list-item div.flex-cont div.right-part p span {
                            font-size: 12px;
                            line-height: 15px;
                            color: #2d2f43; }
                        header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list li.notifs-list-item div.flex-cont div.right-part time {
                          font-size: 12px;
                          line-height: 16px;
                          color: #9697a1; }
                        header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list li.notifs-list-item div.flex-cont div.right-part a {
                          text-decoration: none;
                          line-height: 0px;
                          padding: 0;
                          margin: 0; }
                    header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list li.notifs-list-item.no-notifications div.flex-cont {
                      align-items: center;
                      justify-content: center;
                      flex-direction: column;
                      padding: 20px 0px; }
                      header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list li.notifs-list-item.no-notifications div.flex-cont div.icon {
                        width: 30px;
                        height: 30px; }
                        header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list li.notifs-list-item.no-notifications div.flex-cont div.icon svg {
                          width: 100%;
                          height: 100%;
                          fill: #72777c; }
                      header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list li.notifs-list-item.no-notifications div.flex-cont p {
                        font-size: 14px;
                        color: #72777c;
                        line-height: 25px;
                        padding: 0;
                        margin: 0; }
                  header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list::-webkit-scrollbar-track {
                    background-color: #fff; }
                  header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list::-webkit-scrollbar {
                    width: 5px;
                    background-color: #fff; }
                  header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body ul.notifs-list::-webkit-scrollbar-thumb {
                    background-color: #d1d1d1;
                    border: 2px solid #d1d1d1; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body .notifs-preloader {
                  width: 100%;
                  overflow: hidden;
                  display: flex;
                  flex-direction: column;
                  flex-wrap: nowrap;
                  align-items: center;
                  justify-content: center;
                  padding: 5px 0; }
                  header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body .notifs-preloader.hidden {
                    display: none;
                    opacity: 0;
                    visibility: hidden; }
                  header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body .notifs-preloader div.loader {
                    width: 30px;
                    height: 30px; }
                    header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .body .notifs-preloader div.loader svg {
                      width: 100%;
                      height: 100%; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .footer {
                width: 100%;
                overflow: hidden;
                text-align: center;
                border-top: 1px solid #e6e6e6; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .footer p {
                  padding: 0;
                  margin: 0; }
                  header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .footer p a {
                    color: #ff7676;
                    font-size: 14px;
                    line-height: 40px; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu .footer.hidden {
                  display: none;
                  visibility: hidden;
                  opacity: 0; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu a.dropdown-item svg {
                vertical-align: middle; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu a.dropdown-item svg path {
                  fill: #969696; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-notifications-dd div.dropdown-menu a.dropdown-item span {
                font-size: 14px;
                line-height: 20px;
                margin-left: 5px;
                color: #192a32; }
          header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-messages {
            position: relative;
            margin-left: 15px; }
            header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-messages a {
              cursor: pointer;
              position: relative;
              width: 30px;
              height: 30px;
              background: #ff;
              color: #72777c;
              margin: 0px;
              display: inline-block;
              vertical-align: middle; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-messages a:after {
                display: none; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-messages a span.new-messages {
                position: absolute;
                top: -5px;
                right: -10px;
                background: #ff7676;
                color: #fff;
                text-align: center;
                padding: 4px;
                border-radius: 10em;
                z-index: 10;
                background-clip: padding-box;
                display: inline-block;
                font-size: 10px;
                -webkit-font-smoothing: subpixel-antialiased;
                line-height: 1.3;
                min-height: 13px;
                min-width: 20px; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-messages a span.new-messages:empty {
                  display: none;
                  visibility: hidden;
                  opacity: 0; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-messages a svg {
                width: 20px;
                height: 20px;
                position: absolute;
                transition: all 0.30s ease-in-out;
                margin: auto;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                fill: #e0e0e0; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-messages a:hover svg, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-messages a:active svg, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-messages a:focus svg {
                fill: #ff7676; }
          header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-wishlist {
            position: relative;
            margin-left: 15px; }
            header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-wishlist a {
              cursor: pointer;
              position: relative;
              width: 30px;
              height: 30px;
              background: #fff;
              color: #72777c;
              margin: 0px;
              display: inline-block;
              vertical-align: middle; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-wishlist a:after {
                display: none; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-wishlist a span.new-messages {
                position: absolute;
                top: -5px;
                right: -10px;
                background: #ff7676;
                color: #fff;
                text-align: center;
                padding: 4px;
                border-radius: 10em;
                z-index: 10;
                background-clip: padding-box;
                display: inline-block;
                font-size: 10px;
                -webkit-font-smoothing: subpixel-antialiased;
                line-height: 1.3;
                min-height: 13px;
                min-width: 20px; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-wishlist a span.new-messages:empty {
                  display: none;
                  visibility: hidden;
                  opacity: 0; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-wishlist a svg {
                width: 20px;
                height: 20px;
                position: absolute;
                margin: auto;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                fill: #e0e0e0;
                transition: all 0.30s ease-in-out; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-wishlist a:hover svg, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-wishlist a:active svg, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-wishlist a:focus svg {
                fill: #ff7676; }
          header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.search-bar {
            position: relative;
            margin-left: 15px;
            display: none; }
            header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.search-bar a {
              cursor: pointer;
              position: relative;
              width: 30px;
              height: 30px;
              background: #fff;
              color: #72777c;
              display: none;
              margin: 0px;
              display: inline-block;
              vertical-align: middle; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.search-bar a:after {
                display: none; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.search-bar a svg {
                width: 20px;
                height: 20px;
                position: absolute;
                margin: auto;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                fill: #e0e0e0;
                transition: all 0.30s ease-in-out; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.search-bar a:hover svg, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.search-bar a:active svg, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.search-bar a:focus svg {
                fill: #ff7676; }
          header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-basket {
            position: relative;
            margin-left: 15px; }
            header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-basket a.nav-link {
              cursor: pointer;
              background: #fff;
              color: #72777c;
              margin: 0px;
              padding: 0px;
              display: inline-block;
              vertical-align: middle; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-basket a.nav-link span.icon {
                position: relative;
                width: 30px;
                height: 30px;
                margin: 0px;
                padding: 0px;
                display: inline-block;
                vertical-align: middle; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-basket a.nav-link span.icon svg {
                  width: 20px;
                  height: 20px;
                  position: absolute;
                  margin: auto;
                  left: 0;
                  top: 0;
                  bottom: 0;
                  right: 0;
                  fill: #e0e0e0; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-basket a.nav-link span.icon span.new-messages {
                  position: absolute;
                  top: -5px;
                  right: -10px;
                  background: #ff7676;
                  color: #fff;
                  text-align: center;
                  padding: 4px;
                  border-radius: 10em;
                  z-index: 10;
                  background-clip: padding-box;
                  font-size: 10px;
                  -webkit-font-smoothing: subpixel-antialiased;
                  line-height: 1.3;
                  min-height: 13px;
                  min-width: 20px; }
                  header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-basket a.nav-link span.icon span.new-messages:empty {
                    display: none;
                    visibility: hidden;
                    opacity: 0; }
              header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-basket a.nav-link:hover span, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-basket a.nav-link:active span {
                color: #ff7676; }
                header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-basket a.nav-link:hover span svg, header div.header-top-line div.header-top-line-wrapper nav.nav-bar-top-line div.right-drop-down ul.navbar-nav.right-side li.user-basket a.nav-link:active span svg {
                  fill: #ff7676; }
  header div.header-bottom-line {
    transition: all 0.27s ease-in-out;
    background: #fff;
    height: 67px;
    width: 100%;
    z-index: 1;
    position: relative;
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06), 0 -1px 0 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06), 0 -1px 0 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06), 0 -1px 0 0 rgba(0, 0, 0, 0.06); }
    header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line {
      background: #fff !important;
      padding: 0px 10px !important; }
      header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 55px;
        align-items: center; }
        header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li {
          margin-right: 20px; }
          header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li.nav-item-svg a.nav-link {
            padding-left: 0px !important;
            padding-right: 0px !important; }
          header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li:nth-child(1) {
            border-right: 1px solid #e6e6e6;
            padding-right: 30px;
            margin-right: 30px;
            position: relative; }
            header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li:nth-child(1) a.dropdown-toggle {
              border: none;
              height: 32px;
              padding: 0px 10px;
              color: #2d2f43;
              background: none;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              align-items: center; }
              header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li:nth-child(1) a.dropdown-toggle span {
                line-height: 30px;
                font-size: 14px;
                color: #2d2f43; }
              header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li:nth-child(1) a.dropdown-toggle span.all--catgs {
                margin-left: 5px; }
              header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li:nth-child(1) a.dropdown-toggle svg {
                fill: #e0e0e0;
                width: 20px;
                height: 20px; }
              header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li:nth-child(1) a.dropdown-toggle span.arrow-down {
                margin-left: 20px; }
                header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li:nth-child(1) a.dropdown-toggle span.arrow-down svg {
                  fill: #2d2f43;
                  width: 10px;
                  height: 10px; }
              header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li:nth-child(1) a.dropdown-toggle:after {
                display: none; }
              header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li:nth-child(1) a.dropdown-toggle:hover span, header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li:nth-child(1) a.dropdown-toggle:focus span, header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li:nth-child(1) a.dropdown-toggle:active span {
                color: #ff7676 !important; }
              header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li:nth-child(1) a.dropdown-toggle:hover svg, header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li:nth-child(1) a.dropdown-toggle:focus svg, header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li:nth-child(1) a.dropdown-toggle:active svg {
                fill: #ff7676 !important;
                color: #ff7676 !important; }
            header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li:nth-child(1) div.dropdown-menu {
              width: 300px;
              height: 300px;
              overflow-y: scroll;
              position: absolute;
              border: none;
              box-shadow: 0 -0.6rem 1.33rem rgba(0, 0, 0, 0.1), 0 0.6rem 1.33rem rgba(0, 0, 0, 0.1);
              background: #fff;
              border-radius: 5px; }
              header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li:nth-child(1) div.dropdown-menu a {
                font-size: 13px;
                color: #192a32;
                line-height: 25px; }
          header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li a.nav-link {
            text-align: left;
            padding: 0px !important; }
            header div.header-bottom-line div.header-bottom-line-wrapper nav.nav-bar-bottom-line ul.navbar-nav li a.nav-link span {
              font-weight: 400;
              color: #192a32;
              font-size: 13px;
              line-height: 20px;
              white-space: nowrap; }
  header div.mobile-navbar {
    display: none;
    left: -99999999px;
    position: fixed;
    width: 0px;
    height: 0px;
    overflow: hidden;
    z-index: 999999999;
    background: #fff;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
    header div.mobile-navbar.open {
      left: 0 !important;
      top: 0 !important;
      bottom: 0 !important;
      right: 0 !important;
      width: 100vw !important;
      height: 100vh !important;
      display: block !important;
      overflow-x: hidden;
      overflow-y: hidden; }
      header div.mobile-navbar.open div.header-block {
        width: 100%;
        overflow: hidden; }
        header div.mobile-navbar.open div.header-block div.user-info {
          background: #ff7676;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          padding: 00px 20px;
          border-bottom: 1px solid #ff7676;
          height: 55px;
          align-items: center; }
          header div.mobile-navbar.open div.header-block div.user-info div.avatar {
            width: 35px;
            height: 35px;
            overflow: hidden;
            border-radius: 10em; }
            header div.mobile-navbar.open div.header-block div.user-info div.avatar img {
              width: 100%;
              height: 100%; }
          header div.mobile-navbar.open div.header-block div.user-info div.uname {
            margin-left: 10px;
            flex: 1;
            line-height: 0px; }
            header div.mobile-navbar.open div.header-block div.user-info div.uname div {
              line-height: 0px;
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; }
              header div.mobile-navbar.open div.header-block div.user-info div.uname div span.user-name {
                line-height: 14px;
                font-size: 14px;
                color: #fff;
                font-weight: 600;
                opacity: 0.9; }
              header div.mobile-navbar.open div.header-block div.user-info div.uname div span.close-navbar {
                margin-left: auto;
                cursor: pointer;
                opacity: 0.9; }
                header div.mobile-navbar.open div.header-block div.user-info div.uname div span.close-navbar svg {
                  width: 25px;
                  height: 25px;
                  fill: #fff; }
        header div.mobile-navbar.open div.header-block div.logo {
          border-bottom: 1px solid #eee;
          background: #fff; }
          header div.mobile-navbar.open div.header-block div.logo ul {
            width: 100%;
            height: 55px;
            padding: 0 20px 0px 20px;
            margin: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            list-style-type: none; }
            header div.mobile-navbar.open div.header-block div.logo ul li.logo a img, header div.mobile-navbar.open div.header-block div.logo ul li.logo a svg {
              width: 30px;
              height: 30px;
              object-fit: cover; }
            header div.mobile-navbar.open div.header-block div.logo ul li a {
              cursor: pointer;
              background: #fff;
              color: #72777c;
              margin: 0px;
              padding: 0px;
              display: inline-block;
              vertical-align: middle; }
              header div.mobile-navbar.open div.header-block div.logo ul li a span.icon {
                position: relative;
                width: 30px;
                height: 30px;
                margin: 0px;
                padding: 0px;
                display: inline-block;
                vertical-align: middle; }
                header div.mobile-navbar.open div.header-block div.logo ul li a span.icon svg {
                  width: 20px;
                  height: 20px;
                  position: absolute;
                  margin: auto;
                  left: 0;
                  top: 0;
                  bottom: 0;
                  right: 0;
                  fill: #e0e0e0; }
                header div.mobile-navbar.open div.header-block div.logo ul li a span.icon span.new-messages {
                  position: absolute;
                  top: -5px;
                  right: -10px;
                  background: #ff7676;
                  color: #fff;
                  text-align: center;
                  padding: 4px;
                  border-radius: 10em;
                  z-index: 10;
                  background-clip: padding-box;
                  font-size: 10px;
                  -webkit-font-smoothing: subpixel-antialiased;
                  line-height: 1.3;
                  min-height: 13px;
                  min-width: 20px; }
                  header div.mobile-navbar.open div.header-block div.logo ul li a span.icon span.new-messages:empty {
                    display: none;
                    visibility: hidden;
                    opacity: 0; }
              header div.mobile-navbar.open div.header-block div.logo ul li a:hover span, header div.mobile-navbar.open div.header-block div.logo ul li a:active span {
                color: #ff7676; }
                header div.mobile-navbar.open div.header-block div.logo ul li a:hover span svg, header div.mobile-navbar.open div.header-block div.logo ul li a:active span svg {
                  fill: #ff7676; }
      header div.mobile-navbar.open ul.v-nav-bar {
        padding: 5px 0px 50px 0;
        margin: 0;
        list-style-type: none;
        height: calc(100vh - 65px);
        overflow-x: hidden;
        overflow-y: scroll; }
        header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li {
          width: 100%;
          padding: 0;
          margin: 0;
          line-height: 0; }
          header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li.help-faq {
            border-bottom: 1px solid #eee; }
          header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li div.v-nav-bar-li-inner {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            padding: 0px 20px;
            margin: 0px;
            height: 45px; }
            header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li div.v-nav-bar-li-inner span.icon {
              line-height: 0; }
              header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li div.v-nav-bar-li-inner span.icon svg {
                width: 20px;
                height: 20px;
                fill: #747474; }
            header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li div.v-nav-bar-li-inner a {
              font-size: 14px;
              padding: 0;
              text-decoration: none;
              margin-left: 15px;
              color: #333; }
              header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li div.v-nav-bar-li-inner a:active, header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li div.v-nav-bar-li-inner a:hover, header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li div.v-nav-bar-li-inner a:focus {
                background: #fff;
                color: #ff7676; }
          header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li.catalog-nav div.v-nav-bar-li-inner {
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            padding: 25px 20px;
            cursor: pointer; }
          header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li.catalog-nav.open div.catalog-navlist {
            display: block !important;
            border-bottom: 1px solid #eee;
            padding-bottom: 10px !important; }
          header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li.catalog-nav.open div.v-nav-bar-li-inner {
            border-bottom: none; }
          header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li.catalog-nav div.catalog-navlist {
            width: 100% !important;
            overflow: hidden;
            display: none; }
            header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li.catalog-nav div.catalog-navlist ul {
              list-style-type: none;
              width: 100%;
              overflow: hidden;
              margin: 0;
              padding: 0 0 0 62px; }
              header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li.catalog-nav div.catalog-navlist ul li a {
                font-size: 13px;
                color: #616161;
                line-height: 30px; }
                header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li.catalog-nav div.catalog-navlist ul li a:hover, header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li.catalog-nav div.catalog-navlist ul li a:active {
                  color: #ff7676; }
          header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li.footer-nav-block {
            width: 100%; }
            header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li.footer-nav-block div.footer-sm div.top-line ul {
              padding: 20px;
              margin: 0px;
              list-style-type: none;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap; }
              header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li.footer-nav-block div.footer-sm div.top-line ul li {
                margin-right: 10px; }
                header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li.footer-nav-block div.footer-sm div.top-line ul li a {
                  font-size: 12px;
                  line-height: 20px;
                  color: #999; }
            header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li.footer-nav-block div.footer-sm div.bottom-line {
              border-top: 1px solid #eee; }
              header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li.footer-nav-block div.footer-sm div.bottom-line ul {
                padding: 20px;
                margin: 0px;
                list-style-type: none; }
                header div.mobile-navbar.open ul.v-nav-bar li.v-nav-bar-li.footer-nav-block div.footer-sm div.bottom-line ul li a {
                  font-size: 12px;
                  line-height: 12px;
                  color: #999; }

footer.footer-fluid {
  width: 100%;
  overflow: hidden;
  background: #fff; }
  footer.footer-fluid .top-line {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #eee; }
    footer.footer-fluid .top-line ul {
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 15px 0px;
      margin: 0;
      line-height: 0px !important; }
      footer.footer-fluid .top-line ul li {
        line-height: 0px !important;
        padding: 0px !important; }
        footer.footer-fluid .top-line ul li a {
          line-height: 22px;
          color: #9697a1;
          text-decoration: none;
          margin-right: 20px;
          font-size: 13px;
          transition: color 0.27s ease-in-out; }
          footer.footer-fluid .top-line ul li a:hover, footer.footer-fluid .top-line ul li a:active {
            color: #ff7676; }
        footer.footer-fluid .top-line ul li.copyright a {
          margin: 0; }

div.main-container {
  width: 100%;
  background: #f2f2f2;
  overflow: hidden;
  padding-top: 10px; }
  div.main-container.main-cont-page-profile {
    padding-top: 0px !important; }

div.announcements-container {
  width: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999; }
  div.announcements-container a {
    display: block;
    line-height: 0px;
    padding: 0;
    margin: 0;
    text-decoration: none; }
  div.announcements-container div.announcements-list-cont {
    width: 100%;
    overflow: hidden; }
    div.announcements-container div.announcements-list-cont div.announcement {
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      padding: 20px 45px; }
      div.announcements-container div.announcements-list-cont div.announcement div.got-it {
        margin-left: auto;
        align-self: center;
        cursor: pointer; }
        div.announcements-container div.announcements-list-cont div.announcement div.got-it button {
          font-size: 11px;
          border: 1px solid #fff;
          border-radius: 5px;
          padding: 3px 10px;
          box-shadow: none;
          background: transparent;
          color: #fff;
          outline: 0; }
          div.announcements-container div.announcements-list-cont div.announcement div.got-it button:hover, div.announcements-container div.announcements-list-cont div.announcement div.got-it button:active, div.announcements-container div.announcements-list-cont div.announcement div.got-it button:focus {
            outline: 0;
            box-shadow: none; }
      div.announcements-container div.announcements-list-cont div.announcement div.icon {
        width: 40px;
        height: 40px;
        align-self: center; }
        div.announcements-container div.announcements-list-cont div.announcement div.icon svg {
          width: 100%;
          height: 100%;
          fill: #fff; }
      div.announcements-container div.announcements-list-cont div.announcement div.message {
        flex: 1;
        overflow: hidden;
        padding-left: 20px;
        margin-left: 20px;
        border-left: 1px solid #eeeeeea3;
        padding-right: 15px; }
        div.announcements-container div.announcements-list-cont div.announcement div.message a, div.announcements-container div.announcements-list-cont div.announcement div.message b, div.announcements-container div.announcements-list-cont div.announcement div.message span {
          display: inline !important; }
        div.announcements-container div.announcements-list-cont div.announcement div.message a:not(.wrap-link) {
          color: #fff !important;
          text-decoration: underline;
          margin-left: 5px;
          margin-right: 5px; }
        div.announcements-container div.announcements-list-cont div.announcement div.message h6 {
          font-size: 14px;
          font-weight: 700;
          color: #fff;
          padding: 0;
          margin: 0;
          line-height: 22px; }
        div.announcements-container div.announcements-list-cont div.announcement div.message p {
          font-size: 12px;
          padding: 0;
          margin: 0;
          line-height: 18px;
          color: #fff; }
      div.announcements-container div.announcements-list-cont div.announcement.announc-success {
        background: #35c85f; }
      div.announcements-container div.announcements-list-cont div.announcement.announc-info {
        background: #1fb4ef; }
      div.announcements-container div.announcements-list-cont div.announcement.announc-error {
        background: #ff7676; }
      div.announcements-container div.announcements-list-cont div.announcement.announc-warning {
        background: #ff9600; }

div.scrollpage2-top {
  position: fixed;
  display: none;
  bottom: 40px;
  right: 40px;
  transition: all 1s ease-in-out; }
  div.scrollpage2-top button {
    border: 1px solid #ff7676;
    background: #ff7676;
    width: 35px;
    height: 35px;
    border-radius: 10em;
    line-height: 0px;
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px; }
    div.scrollpage2-top button svg {
      fill: #fff;
      width: 100%;
      height: 100%; }

div.content-container {
  display: block;
  width: 100%;
  padding: 0px 40px;
  max-width: 1375px !important;
  margin-left: auto;
  margin-right: auto; }

body.strained {
  position: relative; }
  body.strained:after {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    z-index: 1100; }

a.block-anchor {
  display: block;
  width: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  color: inherit;
  text-decoration: none; }

div.prods-items-container div.galcolumn {
  padding-right: 7px !important;
  padding-left: 7px !important;
  margin: 0px !important; }
div.prods-items-container div.prod-item {
  overflow: hidden;
  margin-bottom: 15px !important;
  cursor: pointer;
  box-shadow: none;
  border-radius: 5px; }
  div.prods-items-container div.prod-item .prod-img {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: auto;
    background: #fff; }
    div.prods-items-container div.prod-item .prod-img img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover !important; }
    div.prods-items-container div.prod-item .prod-img span.discount {
      position: absolute;
      left: 15px;
      bottom: 15px;
      line-height: 18px;
      font-size: 10px;
      color: #fff;
      background: #35c85f;
      border-radius: 4px;
      padding: 0px 5px;
      vertical-align: top;
      float: right;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px; }
    div.prods-items-container div.prod-item .prod-img span.total-sales {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #192a3294;
      line-height: 0px;
      padding: 0px 10px;
      border-bottom-left-radius: 5px; }
      div.prods-items-container div.prod-item .prod-img span.total-sales span.inline-label {
        display: inline-block;
        font-size: inherit;
        color: inherit;
        line-height: inherit;
        width: 0px;
        overflow: hidden;
        text-overflow: clip;
        display: none;
        font-size: 12px;
        line-height: 22px;
        color: #f8fafb; }
      div.prods-items-container div.prod-item .prod-img span.total-sales span.num {
        display: inline-block;
        font-size: inherit;
        color: inherit;
        line-height: inherit;
        vertical-align: top;
        font-size: 12px;
        line-height: 22px;
        color: #f8fafb; }
    div.prods-items-container div.prod-item .prod-img:hover span.total-sales span.inline-label {
      width: auto;
      display: inline-block;
      overflow: auto; }
  div.prods-items-container div.prod-item .prod-desc {
    width: 100%;
    background: #fff;
    overflow: hidden;
    padding: 10px 15px; }
    div.prods-items-container div.prod-item .prod-desc div.body {
      line-height: 0px; }
      div.prods-items-container div.prod-item .prod-desc div.body div.prod-name {
        width: 100%;
        overflow: hidden; }
        div.prods-items-container div.prod-item .prod-desc div.body div.prod-name h6 {
          padding: 0px;
          margin: 0 0 5px 0;
          line-height: 14px;
          font-size: 13px;
          max-height: 15px;
          overflow: hidden; }
      div.prods-items-container div.prod-item .prod-desc div.body div.prices {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        line-height: 0px;
        align-items: center; }
        div.prods-items-container div.prod-item .prod-desc div.body div.prices span.price {
          font-size: 17px;
          font-weight: 500;
          color: #333;
          line-height: 21px; }
        div.prods-items-container div.prod-item .prod-desc div.body div.prices span.old-price {
          font-size: 17px;
          font-weight: normal;
          color: #ababab;
          line-height: 21px;
          margin-left: 10px;
          text-decoration: line-through; }
        div.prods-items-container div.prod-item .prod-desc div.body div.prices span.currency {
          display: inline-block;
          line-height: 18px;
          margin-left: 5px; }
          div.prods-items-container div.prod-item .prod-desc div.body div.prices span.currency svg {
            width: 13px;
            height: 13px;
            vertical-align: top;
            color: #72777b; }
        div.prods-items-container div.prod-item .prod-desc div.body div.prices span.star-icon svg {
          width: 15px;
          height: 15px;
          fill: #9597a0; }
        div.prods-items-container div.prod-item .prod-desc div.body div.prices span.rating-num {
          font-size: 13px;
          line-height: 14px;
          color: #2d2f43; }
  div.prods-items-container div.prod-item a {
    display: block;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    line-height: 0px; }
  div.prods-items-container div.prod-item.ghost {
    overflow: hidden;
    margin: 0;
    margin-bottom: 15px !important;
    cursor: pointer;
    box-shadow: none;
    border-radius: 5px;
    background: #fff; }
    div.prods-items-container div.prod-item.ghost .prod-img {
      background: #fff; }
    div.prods-items-container div.prod-item.ghost .prod-desc {
      width: 100%;
      background: #fff;
      overflow: hidden;
      padding: 10px 15px; }
      div.prods-items-container div.prod-item.ghost .prod-desc div.body {
        line-height: 0px; }
        div.prods-items-container div.prod-item.ghost .prod-desc div.body div.prod-name {
          width: 100%;
          overflow: hidden; }
          div.prods-items-container div.prod-item.ghost .prod-desc div.body div.prod-name h6 {
            padding: 0px;
            margin: 0 0 5px 0;
            line-height: 16px;
            font-size: 13px;
            max-height: 15px;
            overflow: hidden;
            background: #e0e0e0;
            color: #e0e0e0;
            border-radius: 2px; }
        div.prods-items-container div.prod-item.ghost .prod-desc div.body div.prices {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          overflow: hidden;
          line-height: 0px;
          align-items: center;
          margin-top: 4px; }
          div.prods-items-container div.prod-item.ghost .prod-desc div.body div.prices span {
            font-size: 17px;
            color: #e0e0e0;
            line-height: 17px;
            margin-right: 10px;
            background: #e0e0e0;
            border-radius: 2px; }

nav.breadcrumbs-cust {
  margin: 0px !important; }
  nav.breadcrumbs-cust ol {
    background: transparent !important;
    margin-bottom: 0px;
    padding: 0 0 10px 0 !important; }
    nav.breadcrumbs-cust ol li {
      font-size: 13px;
      color: #9697a1;
      opacity: 0.9; }
      nav.breadcrumbs-cust ol li.active {
        color: #9697a1 !important;
        opacity: 1; }
      nav.breadcrumbs-cust ol li a {
        font-size: 13px;
        color: #9697a1;
        opacity: 1; }

div.empty-page-wrapper {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: transparent;
  margin-bottom: 25px;
  padding: 20px 0px; }
  div.empty-page-wrapper div.icon {
    width: 30px;
    height: 30px;
    overflow: hidden; }
    div.empty-page-wrapper div.icon svg {
      width: 100%;
      height: 100%;
      fill: #ff7676; }
    div.empty-page-wrapper div.icon img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  div.empty-page-wrapper h5 {
    font-size: 22px;
    line-height: 35px;
    color: #192a32;
    padding: 0;
    margin: 0;
    font-weight: 600; }
  div.empty-page-wrapper p {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 14px;
    line-height: 16px;
    color: #2d2f43; }
  div.empty-page-wrapper button {
    border: 1px solid #ff7676;
    outline: 0;
    padding: 12px 25px;
    box-shadow: none;
    background: #ff7676;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none; }
    div.empty-page-wrapper button:active, div.empty-page-wrapper button:hover, div.empty-page-wrapper button:focus {
      background: #ff7676;
      border-color: #ff7676;
      outline: 0;
      box-shadow: none;
      color: #fff; }

body.ov-hide {
  overflow-x: hidden !important;
  overflow-y: hidden !important; }

a.fluid-block {
  width: 100% !important;
  display: block !important; }

small.error-message {
  font-size: 13px;
  line-height: 20px;
  color: #ff7676; }
  small.error-message.dblock {
    display: block;
    width: 100%; }

small.success-message {
  font-size: 13px;
  line-height: 20px;
  color: #35c85f; }
  small.success-message.dblock {
    display: block;
    width: 100%; }

div.data-preloader {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  div.data-preloader div.loading {
    flex-basis: auto;
    text-align: center; }
    div.data-preloader div.loading .lds-ellipsis {
      display: inline-block;
      position: relative;
      line-height: 14px;
      width: 62px;
      height: 14px; }
    div.data-preloader div.loading .lds-ellipsis div {
      position: absolute;
      top: calc(50% - 6px);
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #ff7676;
      animation-timing-function: cubic-bezier(0, 1, 1, 0); }
    div.data-preloader div.loading .lds-ellipsis div:nth-child(1) {
      left: 6px;
      animation: lds-ellipsis1 0.6s infinite; }
    div.data-preloader div.loading .lds-ellipsis div:nth-child(2) {
      left: 6px;
      animation: lds-ellipsis2 0.6s infinite; }
    div.data-preloader div.loading .lds-ellipsis div:nth-child(3) {
      left: 26px;
      animation: lds-ellipsis2 0.6s infinite; }
    div.data-preloader div.loading .lds-ellipsis div:nth-child(4) {
      left: 45px;
      animation: lds-ellipsis3 0.6s infinite; }
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(19px, 0); } }
div.button-preloader {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  line-height: 0px;
  vertical-align: middle; }
  div.button-preloader div.loading {
    flex-basis: auto;
    text-align: center; }
    div.button-preloader div.loading .lds-ellipsis {
      display: inline-block;
      position: relative;
      line-height: 14px;
      width: 62px;
      height: 14px; }
    div.button-preloader div.loading .lds-ellipsis div {
      position: absolute;
      top: calc(50% - 6px);
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #ff7676;
      animation-timing-function: cubic-bezier(0, 1, 1, 0); }
    div.button-preloader div.loading .lds-ellipsis div:nth-child(1) {
      left: 6px;
      animation: lds-ellipsis1 0.6s infinite; }
    div.button-preloader div.loading .lds-ellipsis div:nth-child(2) {
      left: 6px;
      animation: lds-ellipsis2 0.6s infinite; }
    div.button-preloader div.loading .lds-ellipsis div:nth-child(3) {
      left: 26px;
      animation: lds-ellipsis2 0.6s infinite; }
    div.button-preloader div.loading .lds-ellipsis div:nth-child(4) {
      left: 45px;
      animation: lds-ellipsis3 0.6s infinite; }
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(19px, 0); } }
.btn-cancel {
  cursor: pointer;
  line-height: 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  border-radius: 0px;
  background: #9d9d9d;
  border-color: #9d9d9d !important;
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px; }
  .btn-cancel:hover {
    background-color: #b0b0b0 !important;
    border-color: #b0b0b0 !important;
    color: #fff; }
  .btn-cancel:active {
    background-color: #b0b0b0 !important;
    border-color: #b0b0b0 !important;
    outline: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px !important;
    color: #fff; }
  .btn-cancel:focus {
    background-color: #b0b0b0 !important;
    border-color: #b0b0b0 !important;
    outline: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px !important;
    color: #fff; }

.bs-def-alerts {
  border-radius: 0px; }
  .bs-def-alerts.alert-success {
    border-color: #35c85f;
    background: #35c85f;
    color: #fff; }
  .bs-def-alerts.alert-danger {
    background: #f6546a;
    border-color: #f6546a;
    color: #fff; }
  .bs-def-alerts.alert-info {
    background: #1fb4ef;
    border-color: #1fb4ef;
    color: #fff; }
  .bs-def-alerts.alert-warning {
    background: #ff9608;
    border-color: #ff9608;
    color: #fff; }

.col-red * {
  color: #ff7676 !important; }

.ged180, .deg180 {
  transform: rotate(180deg); }

.no-padding-left {
  padding-left: 0px !important; }

.no-padding-right {
  padding-right: 0px !important; }

.no-padding-both {
  padding-right: 0px !important;
  padding-left: 0px !important; }

.hidden {
  display: none;
  visibility: hidden; }

.flex-cr {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  height: 100%; }

.flex-cc {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  height: 100%; }

.animated {
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.btn-submit {
  cursor: pointer;
  line-height: 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  border-radius: 0px;
  background: #1fb4ef;
  border-color: #1fb4ef !important;
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px; }
  .btn-submit:hover {
    background-color: #46c2f3 !important;
    color: #fff; }
  .btn-submit:active {
    background-color: #46c2f3 !important;
    border-color: #46c2f3 !important;
    outline: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px !important;
    color: #fff; }
  .btn-submit:focus {
    background-color: #46c2f3 !important;
    border-color: #46c2f3 !important;
    outline: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px !important;
    color: #fff; }

.confirm-action-modal.show {
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: center !important; }
.confirm-action-modal .modal-dialog .modal-content {
  border: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.31);
  border-radius: 3px; }
  .confirm-action-modal .modal-dialog .modal-content .modal-header {
    border: none;
    padding: 25px 25px 5px 25px; }
    .confirm-action-modal .modal-dialog .modal-content .modal-header .modal-title {
      font-weight: 500;
      font-size: 16px;
      color: #2d2f43;
      line-height: 23px; }
  .confirm-action-modal .modal-dialog .modal-content .modal-body {
    color: #777;
    padding: 15px 25px 5px 25px;
    font-size: 13px;
    line-height: 20px; }
  .confirm-action-modal .modal-dialog .modal-content .modal-footer {
    border: none; }
    .confirm-action-modal .modal-dialog .modal-content .modal-footer button {
      padding: 5px 12px;
      line-height: 19px;
      font-size: 13px;
      border-radius: 2px;
      font-weight: 300; }
      .confirm-action-modal .modal-dialog .modal-content .modal-footer button.btn-submit {
        background: #ff7676;
        border-color: #ff7676 !important; }
        .confirm-action-modal .modal-dialog .modal-content .modal-footer button.btn-submit:hover, .confirm-action-modal .modal-dialog .modal-content .modal-footer button.btn-submit:active, .confirm-action-modal .modal-dialog .modal-content .modal-footer button.btn-submit:focus {
          background: #f6546a !important; }

div.modal.show.vh-center {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important; }

/*# sourceMappingURL=common.master.style.css.map */
.value-title{
    color       : #ff7676!important;
    margin-left : 21px;
}
.orange-title{
    color       : #ff7676!important;
}
a span.icon.review svg{
    width  : 37px!important; 
    height : 37px!important; 
    fill   : #35c85f!important;
}
div.product-details-page-wrapper .right-part .actions button.add-to-cart, div.product-details-page-wrapper .right-part .actions button.approve-prod, div.product-details-page-wrapper .right-part .actions button.contact-seller {
    margin: 0;
    background: #fff;
    /*color: #ff7676;*/
    color: darkred;
    border: 1px solid darkred;
}
.basket-buttons{
    width : 100%;
    margin: 0!important;
    padding: 7px 0!important;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
}
a.basket-buttons{
    margin: 0!important;
    padding: 7px 0!important;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
}
.basket-buttons-col{
    padding-left     : 3px;
    padding-right    : 3px;
}
#reject-product{
    color            : #fff;
    background-color : darkred; 
}
.arrow-red{
    display:none;
}
.val-menu-li a span:hover{
    color : #ff7676!important;
}
.val-menu{
    display: flex; 
    flex-wrap: wrap;
}
.val-menu:hover .value-sign svg {
   fill : #ff7676; 
}
.val-menu:hover .value-item {
   color : #ff7676!important; 
}
.value-list{
    display          : none;
    position         : absolute;
    background-color : rgba(255,255,255,0.95);
    font-size        : 14px; 
    padding          : 3px 7px;
    border-radius    : 3px;
    border           : 1px solid #ebebeb; 
    margin-top       : 23px; 
    box-shadow: 0 -0.6rem 1.33rem rgba(0, 0, 0, 0.1), 0 0.6rem 1.33rem rgba(0, 0, 0, 0.1);
    width            : 177px;
}
.value-item{
    padding       : 3px;
    cursor        : pointer;    
    width          : 87%;    
}

.mob-value-cat{
    display: none;
}
.desk-value-cat{
    display: block;
}
@media (max-width: 780px){
    .value-list{
        display          : block!important;
        position         : static;
        background-color : rgba(255,255,255,0.95);
        font-size        : 14px; 
        padding          : 3px 7px;       
        margin-top       : 3px; 
        border           : none;
        width            : 70%;
}
    .value-item-mob{
        padding       : 3px;
        cursor        : pointer; 
        width         : 87%;         
    }
    .val-cat-mob{
        font-size   : 14px;
        font-weight : bold; 
        margin-bottom : 21px;
    }
    .val-menu-mob{
        line-height: 1px!important;
        display: flex; 
        flex-wrap: wrap;
    }
   
}
.dropdown-menu.rs-dropdmenu.categories-menu{
    width:200px!important;
}
.main-header{
    height: 55px!important;
}
.gcs-market-name{
    text-transform : uppercase;
    font-size      : 20px;
    font-weight    : bold;
    color          : #72414a;
}
.gcs-market-name a{
   text-decoration: none; 
   color          : #72414a;
}
.gcs-market-name a:hover{
   text-decoration: none; 
   color          : #ff7676;
}
.val-sign{
    width:7%;
    margin-left : 87%
}
.value-sign svg{
    width      : 17px;
    height     : 17px;
    fill       : #e0e0e0;
    transition : all 0.30s ease-in-out;
    margin     : auto;
}
.values-bar{
    position   : absolute;
    z-index    : 1;
    color      : black;
    width      : 645px;
    text-align : right;
    margin-top : -43px;
}
.val-space{
    width:72%;    
}

.one-val-sign{
    display:none;
}
.val-sign div{
    width:40px;
    height:40px;
    border-radius : 50%;
    text-align: center;
}
.val-sign div svg{
    width      : 27px;
    height     : 27px;
    fill       : #e0e0e0;
    transition : all 0.30s ease-in-out;
    margin     : auto;
    margin-top : 7px; 
}
.values-bar-first{
    position   : absolute;
    z-index    : 1;
    color      : black;
    display    : flex;
    flex-wrap  : wrap;
    width      : 231px;
    text-align : right;
    margin-top : -39px;
    display    : none;
}
.prod-item:hover .values-bar-first{
    display    : flex;
}
.val-space-first{
    width      : 60%;    
}
.val-sign-first{
    width      : 13%;
}
val-space2-first{
    width     : 1%;
}
.val-sign-first div{
    width:27px;
    height:27px;
    border-radius : 50%;
    text-align: center;
}
.val-sign-first div svg{
    width      : 19px;
    height     : 19px;
    fill       : #e0e0e0;
    transition : all 0.30s ease-in-out;
    margin     : auto;
    margin-top : 4px; 
}
@media (max-width: 1500px){
    .values-bar{
        width : 620px;
    }
}
@media (max-width: 1300px){
    .values-bar{
        width : 570px;
    }
}
@media (max-width: 1200px){
    .values-bar{
        width : 550px;
    }
    .val-space{
        width:64%;    
    }
    .val-sign{
        width:9%;
    }
}
@media (max-width: 1130px){
    .values-bar{
        width : 500px;
    }
}
@media (max-width: 1024px){
    .values-bar{
        width : 400px;
    }
    .val-space{
        width:60%;    
    }
    .val-sign{
        width:10%;
    }
}   
@media (max-width: 900px){
    .values-bar-first{
        width : 190px;
    }
    .values-bar{
        width : 370px;
    }    
    
}
@media (max-width: 800px){

    .values-bar{
        width : 320px;
    }    
    
}
@media (max-width: 780px){
    .values-bar{
        width : 753px;
    }
    .val-space{
        width:72%;    
    }
    .val-sign{
        width:7%;
    }    
}
@media (max-width: 750px){
    .values-bar{
        width : 700px;
    }   
}
@media (max-width: 700px){
    .values-bar-first{
        width : 200px;
    }
    .values-bar{
        width : 650px;
    } 
}
@media (max-width: 660px){
    .values-bar{
        width : 600px;
    }   
}
@media (max-width: 600px){
    .values-bar-first{
            width: 138px;
    }
    .values-bar-first{        
        display    : flex;
    }
    .values-bar{
        width : 550px;
    } 
}
@media (max-width: 550px){
    .values-bar{
        width : 500px;
    }
    .val-space{
        width:64%;    
    }
    .val-sign{
        width:9%;
    }
}
@media (max-width: 510px){
    .values-bar-first{
        width : 210px;
    }
   .val-space-first{
        width : 50%;    
    }
    .val-sign-first{
        width : 16%;
    } 
    val-space2-first{
        width     : 2%;
    }
    .values-bar{
        width : 430px;
    }
}
@media (max-width: 450px){
    .values-bar-first{
        width: 173px;
    }
    .values-bar{
        width : 400px;
    }    
}
@media (max-width: 390px){
    .values-bar-first{
        width: 150px;
    }
    .values-bar{
        width : 400px;
    } 
    .val-space{
        width:48%;    
    }
    .val-sign{
        width:13%;
    }
}
