div.product-details-page-wrapper {
  width: 100%;
  overflow: hidden; }
  div.product-details-page-wrapper .left-sidepart {
    margin-bottom: 10px; }
  div.product-details-page-wrapper .left-part {
    width: 100%;
    height: 520px;
    position: relative;
    padding: 20px;
    background: #fff;
    box-shadow: none;
    border-radius: 5px;
    border: none;
    overflow: hidden; }
    div.product-details-page-wrapper .left-part .xzoom-thumbs {
      position: absolute;
      left: 20px;
      top: 20px;
      width: 60px;
      bottom: 20px;
      padding: 0;
      margin: 0;
      overflow: hidden; }
      div.product-details-page-wrapper .left-part .xzoom-thumbs .thumb-item {
        display: block;
        margin: 0 0 10px 0;
        padding: 0;
        overflow: hidden; }
        div.product-details-page-wrapper .left-part .xzoom-thumbs .thumb-item img {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          border: 1px solid #e6e6e6; }
          div.product-details-page-wrapper .left-part .xzoom-thumbs .thumb-item img.xactive {
            border: 3px solid #ff7676;
            outline: 0 !important; }
    div.product-details-page-wrapper .left-part .xzoom-active {
      position: absolute;
      left: 90px;
      top: 20px;
      right: 20px;
      bottom: 20px;
      overflow: hidden; }
      div.product-details-page-wrapper .left-part .xzoom-active img {
        width: 100%;
        height: 100%;
        transition: all 0.2s; }
    div.product-details-page-wrapper .left-part span#scroll-up {
      position: absolute;
      left: 20px;
      top: 5px;
      width: 60px;
      height: 20px;
      text-align: center;
      cursor: pointer;
      color: #c1c1c1; }
      div.product-details-page-wrapper .left-part span#scroll-up:hover {
        color: #333; }
      div.product-details-page-wrapper .left-part span#scroll-up svg {
        width: 20px;
        height: 20px;
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0; }
    div.product-details-page-wrapper .left-part span#scroll-down {
      position: absolute;
      left: 20px;
      bottom: 5px;
      width: 60px;
      height: 20px;
      text-align: center;
      cursor: pointer;
      color: #c1c1c1; }
      div.product-details-page-wrapper .left-part span#scroll-down:hover {
        color: #333; }
      div.product-details-page-wrapper .left-part span#scroll-down svg {
        width: 20px;
        height: 20px;
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0; }
  div.product-details-page-wrapper .right-part {
    width: 100%;
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px; }
    div.product-details-page-wrapper .right-part form.add-prod-to-cart {
      width: 100%;
      overflow: hidden; }
      div.product-details-page-wrapper .right-part form.add-prod-to-cart .color-types-list-wrapper {
        position: relative;
        overflow: hidden;
        margin-bottom: 10px; }
        div.product-details-page-wrapper .right-part form.add-prod-to-cart .color-types-list-wrapper .color-types-list {
          line-height: 0px; }
          div.product-details-page-wrapper .right-part form.add-prod-to-cart .color-types-list-wrapper .color-types-list input[name="var_color"] {
            display: none !important;
            visibility: hidden !important; }
            div.product-details-page-wrapper .right-part form.add-prod-to-cart .color-types-list-wrapper .color-types-list input[name="var_color"]:checked + label.vc-img-holder {
              border: 2px solid #ff7676; }
          div.product-details-page-wrapper .right-part form.add-prod-to-cart .color-types-list-wrapper .color-types-list label.vc-img-holder {
            width: 45px;
            height: 45px;
            display: inline-block;
            background-size: cover;
            border: 1px solid #eee;
            border-radius: 3px;
            margin-right: 5px;
            line-height: 0px;
            padding: 0px;
            margin: 0px 5px 5px 0px; }
            div.product-details-page-wrapper .right-part form.add-prod-to-cart .color-types-list-wrapper .color-types-list label.vc-img-holder:after, div.product-details-page-wrapper .right-part form.add-prod-to-cart .color-types-list-wrapper .color-types-list label.vc-img-holder:before {
              display: none !important;
              visibility: hidden !important; }
      div.product-details-page-wrapper .right-part form.add-prod-to-cart .size-units-list {
        width: 80%;
        overflow: hidden;
        margin-bottom: 10px; }
        div.product-details-page-wrapper .right-part form.add-prod-to-cart .size-units-list input[name="var_id"] {
          display: none !important;
          visibility: hidden !important; }
          div.product-details-page-wrapper .right-part form.add-prod-to-cart .size-units-list input[name="var_id"]:checked + label.vs-unit-holder {
            border: 1px solid #ff7676;
            color: #ff7676; }
        div.product-details-page-wrapper .right-part form.add-prod-to-cart .size-units-list label.vs-unit-holder {
          transition: all .27s ease-in-out;
          display: inline-block;
          font-size: 14px;
          text-transform: uppercase;
          color: #2d2f43;
          line-height: 32px;
          padding: 0px 22px;
          border-radius: 5px;
          border: solid 1px #eee;
          text-decoration: none;
          font-weight: 400;
          cursor: pointer;
          height: auto;
          margin: 0px 5px 5px 0px; }
          div.product-details-page-wrapper .right-part form.add-prod-to-cart .size-units-list label.vs-unit-holder:hover, div.product-details-page-wrapper .right-part form.add-prod-to-cart .size-units-list label.vs-unit-holder:focus, div.product-details-page-wrapper .right-part form.add-prod-to-cart .size-units-list label.vs-unit-holder:active {
            border-color: #ff7676;
            color: #ff7676; }
          div.product-details-page-wrapper .right-part form.add-prod-to-cart .size-units-list label.vs-unit-holder:after, div.product-details-page-wrapper .right-part form.add-prod-to-cart .size-units-list label.vs-unit-holder:before {
            display: none;
            visibility: hidden;
            opacity: 0; }
      div.product-details-page-wrapper .right-part form.add-prod-to-cart .quantity {
        width: 100%;
        margin-bottom: 10px;
        height: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center; }
        div.product-details-page-wrapper .right-part form.add-prod-to-cart .quantity span.label {
          font-size: 13px;
          margin-right: 10px;
          line-height: 25px;
          color: #9697a1; }
          div.product-details-page-wrapper .right-part form.add-prod-to-cart .quantity span.label.icon {
            color: #9697a1; }
            div.product-details-page-wrapper .right-part form.add-prod-to-cart .quantity span.label.icon svg {
              width: 18px;
              height: 18px; }
        div.product-details-page-wrapper .right-part form.add-prod-to-cart .quantity span.quantity-total-ctrl {
          display: inline-block;
          width: 25px;
          height: 25px;
          border-radius: 10em;
          position: relative;
          padding: 0;
          margin: 0;
          line-height: 20px;
          text-align: center;
          cursor: pointer;
          vertical-align: top;
          background: #eee; }
          div.product-details-page-wrapper .right-part form.add-prod-to-cart .quantity span.quantity-total-ctrl svg {
            width: 15px;
            height: 15px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            fill: #9697a1;
            transition: fill 0.27s ease;
            margin: auto; }
          div.product-details-page-wrapper .right-part form.add-prod-to-cart .quantity span.quantity-total-ctrl:hover svg, div.product-details-page-wrapper .right-part form.add-prod-to-cart .quantity span.quantity-total-ctrl:active svg {
            fill: #ff7676; }
        div.product-details-page-wrapper .right-part form.add-prod-to-cart .quantity span.quantity-total {
          vertical-align: top;
          display: inline-block;
          height: 20px;
          border: none;
          padding: 0;
          margin: 0 10px;
          font-size: 12px;
          cursor: pointer;
          line-height: 20px;
          text-align: center;
          color: #2d2f43; }
    div.product-details-page-wrapper .right-part .rating-info {
      width: 100%;
      display: flex;
      height: 30px;
      align-items: center; }
      div.product-details-page-wrapper .right-part .rating-info span {
        color: #f7d96c;
        line-height: 0px; }
        div.product-details-page-wrapper .right-part .rating-info span svg {
          width: 25px;
          height: 25px; }
      div.product-details-page-wrapper .right-part .rating-info span.share-post {
        color: #c3c3c3;
        line-height: 0px;
        cursor: pointer; }
        div.product-details-page-wrapper .right-part .rating-info span.share-post:hover {
          color: #192a32; }
      div.product-details-page-wrapper .right-part .rating-info span.sales {
        font-size: 13px;
        line-height: 13px;
        margin-top: 3px;
        margin-left: 5px;
        color: #9697a1; }
    div.product-details-page-wrapper .right-part .product-price-disc {
      margin-top: 10px; }
      div.product-details-page-wrapper .right-part .product-price-disc span.badge {
        padding: 5px 10px;
        color: #fff;
        background: #35c85f; }
    div.product-details-page-wrapper .right-part .sizes .size-units-list ul li.active a {
      border-color: #ff7676;
      color: #ff7676; }
    div.product-details-page-wrapper .right-part .product-title {
      width: 100%;
      padding: 10px 0px; }
      div.product-details-page-wrapper .right-part .product-title h4 {
        margin: 0;
        padding: 0;
        font-size: 18px;
        color: #192a32;
        line-height: 25px;
        font-weight: 300; }
    div.product-details-page-wrapper .right-part .product-price {
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap; }
      div.product-details-page-wrapper .right-part .product-price h4 {
        margin: 0;
        padding: 0;
        font-size: 32px;
        line-height: 30px;
        font-weight: 400;
        color: #192a32; }
        div.product-details-page-wrapper .right-part .product-price h4.old-price {
          margin-left: 15px;
          font-weight: 400;
          font-size: 20px;
          text-decoration: line-through;
          color: #9697a1; }
    div.product-details-page-wrapper .right-part .actions {
      margin-top: 15px;
      width: 100%;
      overflow: hidden; }
      div.product-details-page-wrapper .right-part .actions a {
        display: inline-block;
        text-decoration: none; }
      div.product-details-page-wrapper .right-part .actions button {
        margin: 0 0 0 10px;
        padding: 10px 40px;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        border-radius: 5px; }
        div.product-details-page-wrapper .right-part .actions button:focus, div.product-details-page-wrapper .right-part .actions button:active {
          box-shadow: none !important;
          outline: 0 !important; }
        div.product-details-page-wrapper .right-part .actions button.add-to-cart, div.product-details-page-wrapper .right-part .actions button.edit-prod, div.product-details-page-wrapper .right-part .actions button.contact-seller {
          margin: 0;
          background: #fff;
          color: #ff7676;
          border: 1px solid #ff7676; }
          div.product-details-page-wrapper .right-part .actions button.add-to-cart:hover, div.product-details-page-wrapper .right-part .actions button.edit-prod:hover, div.product-details-page-wrapper .right-part .actions button.contact-seller:hover {
            border-color: #f6546a;
            color: #f6546a; }
        div.product-details-page-wrapper .right-part .actions button.buy-now, div.product-details-page-wrapper .right-part .actions button.delete-prod, div.product-details-page-wrapper .right-part .actions button.contact-us, div.product-details-page-wrapper .right-part .actions button.go-shopping {
          background: #ff7676;
          border-color: #ff7676; }
          div.product-details-page-wrapper .right-part .actions button.buy-now:hover, div.product-details-page-wrapper .right-part .actions button.delete-prod:hover, div.product-details-page-wrapper .right-part .actions button.contact-us:hover, div.product-details-page-wrapper .right-part .actions button.go-shopping:hover {
            background: #f6546a; }
        div.product-details-page-wrapper .right-part .actions button.added-to-cart {
          cursor: not-allowed !important;
          margin: 0 0 0 10px;
          padding: 10px 50px;
          color: #fff;
          font-size: 18px;
          font-weight: 400;
          border-radius: 5px;
          margin: 0;
          background: #fff;
          color: #ff7676;
          border: 1px solid #ff7676; }
          div.product-details-page-wrapper .right-part .actions button.added-to-cart:focus, div.product-details-page-wrapper .right-part .actions button.added-to-cart:active {
            box-shadow: none !important;
            outline: 0 !important; }
          div.product-details-page-wrapper .right-part .actions button.added-to-cart:hover {
            border-color: #f6546a;
            color: #f6546a; }
        div.product-details-page-wrapper .right-part .actions button.like-product {
          text-align: left;
          margin: 0;
          width: 15%;
          border: none;
          background: transparent;
          padding: 8px 15px;
          margin: 0;
          color: #ff7676; }
          div.product-details-page-wrapper .right-part .actions button.like-product:hover {
            color: #f6546a; }
          div.product-details-page-wrapper .right-part .actions button.like-product svg {
            width: 30px;
            height: 30px; }
    div.product-details-page-wrapper .right-part .delivery {
      width: 100%;
      overflow: hidden;
      border-bottom: 1px solid #eee;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 10px; }
      div.product-details-page-wrapper .right-part .delivery span {
        font-size: 13px;
        line-height: 25px;
        color: #9697a1; }
        div.product-details-page-wrapper .right-part .delivery span.icon {
          line-height: 0px; }
          div.product-details-page-wrapper .right-part .delivery span.icon svg {
            width: 18px;
            fill: #9697a1;
            height: 18px; }
    div.product-details-page-wrapper .right-part .colors {
      width: 100%; }
      div.product-details-page-wrapper .right-part .colors .color-name-holder {
        width: 100%;
        overflow: hidden;
        display: flex;
        padding: 0px 0px 10px 0px;
        line-height: 0px;
        text-transform: capitalize; }
        div.product-details-page-wrapper .right-part .colors .color-name-holder .label {
          font-size: 13px;
          line-height: 20px;
          color: #9697a1; }
        div.product-details-page-wrapper .right-part .colors .color-name-holder .color-name {
          font-size: 13px;
          line-height: 20px;
          font-weight: 100;
          margin-left: 5px;
          color: #2d2f43; }
    div.product-details-page-wrapper .right-part .sizes {
      width: 100%; }
      div.product-details-page-wrapper .right-part .sizes div.label-wrapper {
        width: 100%;
        overflow: hidden;
        padding: 0px 0px 10px 0;
        line-height: 0px; }
        div.product-details-page-wrapper .right-part .sizes div.label-wrapper span.label-title {
          font-size: 13px;
          line-height: 20px;
          margin: 0;
          color: #9697a1; }
        div.product-details-page-wrapper .right-part .sizes div.label-wrapper span.size-val {
          font-size: 13px;
          line-height: 20px;
          font-weight: 400;
          margin: 0;
          color: #2d2f43; }
    div.product-details-page-wrapper .right-part div.deleted-product-info {
      width: 100%;
      overflow: hidden; }
      div.product-details-page-wrapper .right-part div.deleted-product-info div.inner-info-panel {
        width: 100%;
        overflow: hidden;
        border: 1px solid #ff7676;
        padding: 15px;
        border-radius: 5px; }
        div.product-details-page-wrapper .right-part div.deleted-product-info div.inner-info-panel h4 {
          padding: 0;
          margin: 0;
          font-size: 16px;
          font-weight: bold;
          color: #ff7676;
          line-height: 22px;
          margin-bottom: 10px; }
        div.product-details-page-wrapper .right-part div.deleted-product-info div.inner-info-panel p {
          padding: 0;
          margin: 0;
          font-size: 12px;
          color: #ff7676;
          font-weight: normal;
          line-height: 20px; }
      div.product-details-page-wrapper .right-part div.deleted-product-info div.actions a button {
        margin: 0; }
        div.product-details-page-wrapper .right-part div.deleted-product-info div.actions a button:first-child {
          margin-right: 10px; }
    div.product-details-page-wrapper .right-part div.product-outofstock {
      width: 100%;
      overflow: hidden; }
      div.product-details-page-wrapper .right-part div.product-outofstock div.inner-info-panel {
        width: 100%;
        overflow: hidden;
        border: 1px solid #ff7676;
        padding: 15px;
        border-radius: 5px; }
        div.product-details-page-wrapper .right-part div.product-outofstock div.inner-info-panel h4 {
          padding: 0;
          margin: 0;
          font-size: 16px;
          font-weight: bold;
          color: #ff7676;
          line-height: 22px;
          margin-bottom: 10px; }
        div.product-details-page-wrapper .right-part div.product-outofstock div.inner-info-panel p {
          padding: 0;
          margin: 0;
          font-size: 12px;
          color: #ff7676;
          font-weight: normal;
          line-height: 20px; }
      div.product-details-page-wrapper .right-part div.product-outofstock div.actions {
        margin-top: 0px !important; }
        div.product-details-page-wrapper .right-part div.product-outofstock div.actions a button {
          margin: 15px 10px 0 0 !important; }
          div.product-details-page-wrapper .right-part div.product-outofstock div.actions a button:first-child {
            margin-right: 10px; }
  div.product-details-page-wrapper nav.breadcrumbs-cust {
    padding: 0px 10px !important; }
  div.product-details-page-wrapper .page-parts-holder {
    width: 100%;
    margin: 0;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    div.product-details-page-wrapper .page-parts-holder div.page-part-container {
      flex-basis: calc(50% - 10px);
      max-width: calc(50% - 10px); }
  div.product-details-page-wrapper .owner-info {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #e6e6e6;
    margin-top: 20px;
    padding-top: 20px; }
    div.product-details-page-wrapper .owner-info .header .title {
      display: block;
      width: 100%; }
    div.product-details-page-wrapper .owner-info .body {
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap; }
      div.product-details-page-wrapper .owner-info .body .avatar {
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
        overflow: hidden;
        border-radius: 10em; }
        div.product-details-page-wrapper .owner-info .body .avatar img {
          width: 100%;
          height: 100%; }
      div.product-details-page-wrapper .owner-info .body .info {
        padding: 3px 0px;
        margin: 0 0 0 10px; }
        div.product-details-page-wrapper .owner-info .body .info a {
          display: block;
          overflow: hidden; }
          div.product-details-page-wrapper .owner-info .body .info a h6 {
            padding: 0;
            margin: 0;
            font-size: 14px;
            line-height: 18px;
            color: #2d2f43;
            font-weight: 700; }
            div.product-details-page-wrapper .owner-info .body .info a h6 span.verified {
              width: 15px;
              height: 15px;
              display: inline-block;
              vertical-align: top;
              line-height: 15px; }
              div.product-details-page-wrapper .owner-info .body .info a h6 span.verified svg {
                width: 100%;
                height: 100%;
                fill: #1fb4ef;
                vertical-align: middle; }
                div.product-details-page-wrapper .owner-info .body .info a h6 span.verified svg path {
                  fill: #1fb4ef; }
        div.product-details-page-wrapper .owner-info .body .info div.seller-rating {
          width: 100%;
          height: 20px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          margin-left: -3px; }
          div.product-details-page-wrapper .owner-info .body .info div.seller-rating span {
            display: inline-block;
            line-height: 0;
            margin-right: -3px; }
            div.product-details-page-wrapper .owner-info .body .info div.seller-rating span svg {
              width: 15px;
              height: 15px;
              fill: #f7d96c; }
  div.product-details-page-wrapper .right-part-description {
    width: 100%;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    border-radius: 5px; }
    div.product-details-page-wrapper .right-part-description .title {
      width: 100%;
      overflow: hidden;
      margin-bottom: 10px; }
      div.product-details-page-wrapper .right-part-description .title h5 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600; }
    div.product-details-page-wrapper .right-part-description .derc-body {
      width: 100%;
      overflow: hidden;
      text-align: left;
      justify-content: left; }
      div.product-details-page-wrapper .right-part-description .derc-body article {
        margin: 0;
        padding: 0;
        font-size: 13px !important;
        line-height: 20px !important;
        color: #2d2f43;
        margin-bottom: 20px; }
      div.product-details-page-wrapper .right-part-description .derc-body div.logistics-info h6 {
        padding: 0;
        margin: 0;
        font-size: 16px;
        line-height: 24px;
        color: #192a32;
        margin-bottom: 10px; }
      div.product-details-page-wrapper .right-part-description .derc-body div.logistics-info ul {
        list-style-type: none;
        padding: 0;
        margin: 0; }
        div.product-details-page-wrapper .right-part-description .derc-body div.logistics-info ul li {
          line-height: 20px; }
          div.product-details-page-wrapper .right-part-description .derc-body div.logistics-info ul li span {
            line-height: 0px;
            font-size: 13px;
            color: #192a32; }
  div.product-details-page-wrapper .related-products-wrapper {
    width: 100%;
    overflow: hidden;
    padding: 20px 10px 20px 20px;
    background: #fff;
    box-shadow: none;
    border-radius: 5px;
    margin-top: 20px; }
    div.product-details-page-wrapper .related-products-wrapper .related-products-header {
      width: 100%;
      overflow: hidden; }
      div.product-details-page-wrapper .related-products-wrapper .related-products-header h5 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600; }
    div.product-details-page-wrapper .related-products-wrapper .related-products-body {
      width: 100%;
      overflow: hidden;
      position: relative;
      margin-top: 10px;
      min-width: 320px;
      overflow-x: hidden; }
      div.product-details-page-wrapper .related-products-wrapper .related-products-body .related-products-cr {
        overflow: hidden;
        width: 100%; }
        div.product-details-page-wrapper .related-products-wrapper .related-products-body .related-products-cr .related-products-cr-item {
          display: inline-block;
          position: relative;
          margin-right: 10px;
          border: 1px solid #eee;
          outline: 0;
          border-radius: 5px;
          overflow: hidden; }
          div.product-details-page-wrapper .related-products-wrapper .related-products-body .related-products-cr .related-products-cr-item .product-image {
            width: 100%;
            overflow: hidden;
            position: relative; }
            div.product-details-page-wrapper .related-products-wrapper .related-products-body .related-products-cr .related-products-cr-item .product-image a.prod-link {
              width: 100%;
              height: 100%;
              display: block;
              overflow: hidden; }
              div.product-details-page-wrapper .related-products-wrapper .related-products-body .related-products-cr .related-products-cr-item .product-image a.prod-link img.prod-image {
                width: 100%;
                object-fit: cover; }
            div.product-details-page-wrapper .related-products-wrapper .related-products-body .related-products-cr .related-products-cr-item .product-image .discount {
              position: absolute;
              right: 0;
              bottom: 0;
              background: #35c85f;
              color: #fff;
              font-size: 12px;
              line-height: 22px;
              padding: 0px 5px; }
          div.product-details-page-wrapper .related-products-wrapper .related-products-body .related-products-cr .related-products-cr-item .caption {
            width: 100%;
            overflow: hidden;
            padding: 5px 10px;
            line-height: 0px; }
            div.product-details-page-wrapper .related-products-wrapper .related-products-body .related-products-cr .related-products-cr-item .caption .price {
              line-height: 0px; }
              div.product-details-page-wrapper .related-products-wrapper .related-products-body .related-products-cr .related-products-cr-item .caption .price .sale-price {
                line-height: 18px;
                font-size: 15px;
                color: #2d2f43; }
              div.product-details-page-wrapper .related-products-wrapper .related-products-body .related-products-cr .related-products-cr-item .caption .price .reg-price {
                line-height: 18px;
                font-size: 15px;
                color: #ababab; }
            div.product-details-page-wrapper .related-products-wrapper .related-products-body .related-products-cr .related-products-cr-item .caption .rating {
              width: 100%;
              overflow: hidden;
              line-height: 10px; }
              div.product-details-page-wrapper .related-products-wrapper .related-products-body .related-products-cr .related-products-cr-item .caption .rating span {
                width: 15px;
                height: 15px;
                line-height: 15px;
                overflow: hidden;
                display: inline-block;
                vertical-align: top;
                margin-left: -5px;
                color: #f7d96c; }
                div.product-details-page-wrapper .related-products-wrapper .related-products-body .related-products-cr .related-products-cr-item .caption .rating span:first-child {
                  margin-left: -2px; }
                div.product-details-page-wrapper .related-products-wrapper .related-products-body .related-products-cr .related-products-cr-item .caption .rating span svg {
                  vertical-align: top; }
              div.product-details-page-wrapper .related-products-wrapper .related-products-body .related-products-cr .related-products-cr-item .caption .rating .rating-num {
                color: #2d2f43;
                margin-left: 0;
                font-size: 11px;
                line-height: 15px;
                vertical-align: middle;
                width: auto; }
      div.product-details-page-wrapper .related-products-wrapper .related-products-body span#rp-cr-scroll-prev {
        position: absolute;
        cursor: pointer;
        left: 5px;
        width: 50px;
        height: 50px;
        top: calc(50% - 25px);
        background: rgba(0, 0, 0, 0.4) no-repeat;
        border-radius: 10em;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px; }
        div.product-details-page-wrapper .related-products-wrapper .related-products-body span#rp-cr-scroll-prev svg {
          position: absolute;
          width: 25px;
          height: 25px;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto; }
        div.product-details-page-wrapper .related-products-wrapper .related-products-body span#rp-cr-scroll-prev:hover {
          background: #000000a3; }
      div.product-details-page-wrapper .related-products-wrapper .related-products-body span#rp-cr-scroll-next {
        position: absolute;
        cursor: pointer;
        right: 15px;
        width: 50px;
        height: 50px;
        top: calc(50% - 25px);
        background: rgba(0, 0, 0, 0.4) no-repeat;
        border-radius: 10em;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px; }
        div.product-details-page-wrapper .related-products-wrapper .related-products-body span#rp-cr-scroll-next:hover {
          background: #000000a3; }
        div.product-details-page-wrapper .related-products-wrapper .related-products-body span#rp-cr-scroll-next svg {
          position: absolute;
          width: 25px;
          height: 25px;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto; }
  div.product-details-page-wrapper .payment-method {
    width: 100%;
    overflow: hidden;
    padding: 0px;
    background: #fff;
    border: none;
    border-radius: 5px;
    line-height: 0px;
    margin-top: 20px;
    margin-bottom: 20px; }
    div.product-details-page-wrapper .payment-method h2 {
      padding: 0;
      margin: 0;
      font-size: 16px;
      line-height: 30px;
      font-weight: 700;
      padding: 20px 20px 10px 20px; }
      div.product-details-page-wrapper .payment-method h2 b {
        line-height: 0px;
        margin-left: 5px;
        color: #ff7676; }
      div.product-details-page-wrapper .payment-method h2 svg {
        width: 25px;
        height: 25px; }
    div.product-details-page-wrapper .payment-method p {
      padding: 0px 20px 20px 20px;
      font-size: 13px;
      line-height: 22px;
      color: #192a32;
      opacity: 0.8;
      margin: 0; }
  div.product-details-page-wrapper .disabled-product, div.product-details-page-wrapper .blocked-product {
    width: 100%;
    overflow: hidden;
    padding: 0px;
    background: #fff;
    border: none;
    border-radius: 5px;
    line-height: 0px;
    margin-top: 20px;
    margin-bottom: 20px; }
    div.product-details-page-wrapper .disabled-product h2, div.product-details-page-wrapper .blocked-product h2 {
      padding: 0;
      margin: 0;
      font-size: 16px;
      line-height: 30px;
      font-weight: 700;
      padding: 20px 20px 10px 20px; }
      div.product-details-page-wrapper .disabled-product h2 b, div.product-details-page-wrapper .blocked-product h2 b {
        line-height: 0px;
        margin-left: 5px;
        color: #ff7676; }
      div.product-details-page-wrapper .disabled-product h2 svg, div.product-details-page-wrapper .blocked-product h2 svg {
        width: 25px;
        height: 25px;
        fill: #ff7676; }
    div.product-details-page-wrapper .disabled-product p, div.product-details-page-wrapper .blocked-product p {
      padding: 0px 20px 20px 20px;
      font-size: 13px;
      line-height: 22px;
      color: #192a32;
      opacity: 0.8;
      margin: 0; }
  div.product-details-page-wrapper .customer-care {
    width: 100%;
    overflow: hidden;
    padding: 0px;
    background: #fff;
    border: none;
    border-radius: 5px;
    line-height: 0px;
    margin-top: 20px; }
    div.product-details-page-wrapper .customer-care h2 {
      padding: 0;
      margin: 0;
      color: #2d2f43;
      font-size: 16px;
      line-height: 30px;
      font-weight: 700;
      padding: 20px 20px 10px 20px; }
      div.product-details-page-wrapper .customer-care h2 b {
        line-height: 0px;
        margin-left: 10px; }
    div.product-details-page-wrapper .customer-care p {
      padding: 0px 20px 20px 20px;
      font-size: 13px;
      line-height: 22px;
      color: #192a32;
      opacity: 0.8;
      margin: 0; }
  div.product-details-page-wrapper .footer-sm {
    width: 100%;
    overflow: hidden;
    padding: 15px;
    background: #fff;
    border: none;
    border-radius: 5px;
    line-height: 0px;
    margin-top: 20px; }
    div.product-details-page-wrapper .footer-sm .top-line {
      width: 100%;
      overflow: hidden;
      padding-bottom: 5px;
      border-bottom: 1px solid #e6e6e6; }
      div.product-details-page-wrapper .footer-sm .top-line ul {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin: 0; }
        div.product-details-page-wrapper .footer-sm .top-line ul li {
          line-height: 0px; }
          div.product-details-page-wrapper .footer-sm .top-line ul li a {
            line-height: 20px;
            color: #9697a1;
            text-decoration: none;
            margin-right: 20px;
            font-size: 12px;
            transition: color 0.27s ease-in-out; }
            div.product-details-page-wrapper .footer-sm .top-line ul li a:hover, div.product-details-page-wrapper .footer-sm .top-line ul li a:active {
              color: #ff7676; }
    div.product-details-page-wrapper .footer-sm .bottom-line {
      width: 100%;
      overflow: hidden;
      line-height: 0px;
      margin-top: 10px; }
      div.product-details-page-wrapper .footer-sm .bottom-line ul {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin: 0;
        line-height: 0px;
        height: auto;
        min-height: 0px; }
        div.product-details-page-wrapper .footer-sm .bottom-line ul li {
          line-height: 0px;
          padding: 0px;
          height: auto;
          min-height: 0px; }
          div.product-details-page-wrapper .footer-sm .bottom-line ul li a {
            line-height: 12px;
            color: #9697a1;
            text-decoration: none;
            font-size: 12px; }
  div.product-details-page-wrapper .left-part-reviews {
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: none;
    margin-top: 20px;
    border: none;
    border-radius: 5px; }
    div.product-details-page-wrapper .left-part-reviews .title {
      width: 100%;
      margin-bottom: 5px; }
      div.product-details-page-wrapper .left-part-reviews .title h5 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        display: flex; }
        div.product-details-page-wrapper .left-part-reviews .title h5 div.dd-wrapper {
          position: relative; }
          div.product-details-page-wrapper .left-part-reviews .title h5 div.dd-wrapper a span.icon {
            width: 20px;
            height: 20px;
            cursor: pointer; }
            div.product-details-page-wrapper .left-part-reviews .title h5 div.dd-wrapper a span.icon svg {
              width: 10px;
              height: 10px;
              fill: #72777c; }
          div.product-details-page-wrapper .left-part-reviews .title h5 div.dd-wrapper a:hover, div.product-details-page-wrapper .left-part-reviews .title h5 div.dd-wrapper a:active, div.product-details-page-wrapper .left-part-reviews .title h5 div.dd-wrapper a:focus {
            color: #2d2f43;
            background: #fff; }
          div.product-details-page-wrapper .left-part-reviews .title h5 div.dd-wrapper a:after {
            display: none;
            visibility: hidden; }
          div.product-details-page-wrapper .left-part-reviews .title h5 div.dd-wrapper .dropdown-menu {
            right: 0px !important;
            left: unset !important;
            width: auto !important;
            padding: 5px 0px;
            border: none;
            box-shadow: 0 -0.6rem 1.33rem rgba(0, 0, 0, 0.1), 0 0.6rem 1.33rem rgba(0, 0, 0, 0.1); }
            div.product-details-page-wrapper .left-part-reviews .title h5 div.dd-wrapper .dropdown-menu a {
              display: block;
              overflow: hidden;
              font-size: 13px;
              line-height: 30px;
              color: #2d2f43;
              padding: 5px 20px; }
              div.product-details-page-wrapper .left-part-reviews .title h5 div.dd-wrapper .dropdown-menu a span {
                width: 20px;
                height: 20px;
                color: #969696; }
                div.product-details-page-wrapper .left-part-reviews .title h5 div.dd-wrapper .dropdown-menu a span svg {
                  width: 20px;
                  height: 20px; }
    div.product-details-page-wrapper .left-part-reviews .rating-holder {
      width: 100%;
      overflow: hidden; }
      div.product-details-page-wrapper .left-part-reviews .rating-holder span {
        width: 20px;
        height: 20px;
        overflow: hidden;
        display: inline-block;
        line-height: 20px;
        margin-left: -6px; }
        div.product-details-page-wrapper .left-part-reviews .rating-holder span svg {
          width: 20px;
          height: 20px;
          color: #f7d96c; }
        div.product-details-page-wrapper .left-part-reviews .rating-holder span:first-child {
          margin-left: unset; }
      div.product-details-page-wrapper .left-part-reviews .rating-holder .rating-num {
        line-height: 25px;
        font-size: 14px;
        margin-left: 5px;
        font-weight: 700;
        color: #2d2f43; }
    div.product-details-page-wrapper .left-part-reviews .sort-reviews {
      width: 100%;
      overflow: hidden;
      display: flex;
      margin-top: 5px;
      flex-wrap: wrap;
      border-bottom: 1px solid #e6e6e6;
      padding-bottom: 10px; }
      div.product-details-page-wrapper .left-part-reviews .sort-reviews div.sort-reviews-btn {
        background: #eee;
        border: 1px solid #eee;
        outline: 0;
        padding: 0 6px;
        margin: 0 10px 10px 0;
        line-height: 20px;
        height: 20px;
        border-radius: 15px;
        color: #2d2f43;
        position: relative;
        cursor: pointer;
        text-align: center; }
        div.product-details-page-wrapper .left-part-reviews .sort-reviews div.sort-reviews-btn:hover, div.product-details-page-wrapper .left-part-reviews .sort-reviews div.sort-reviews-btn.active {
          background: transparent;
          border: 1px solid  #f7d96c; }
          div.product-details-page-wrapper .left-part-reviews .sort-reviews div.sort-reviews-btn:hover svg, div.product-details-page-wrapper .left-part-reviews .sort-reviews div.sort-reviews-btn.active svg {
            color: #f7d96c; }
          div.product-details-page-wrapper .left-part-reviews .sort-reviews div.sort-reviews-btn:hover span.total, div.product-details-page-wrapper .left-part-reviews .sort-reviews div.sort-reviews-btn.active span.total {
            color: #e1b101; }
        div.product-details-page-wrapper .left-part-reviews .sort-reviews div.sort-reviews-btn svg {
          width: 15px;
          height: 15px;
          margin-bottom: 6px; }
        div.product-details-page-wrapper .left-part-reviews .sort-reviews div.sort-reviews-btn .total {
          display: inline-block;
          font-size: 10px;
          line-height: 18px;
          vertical-align: top; }
        div.product-details-page-wrapper .left-part-reviews .sort-reviews div.sort-reviews-btn.disabled {
          opacity: 0.4;
          cursor: not-allowed; }
          div.product-details-page-wrapper .left-part-reviews .sort-reviews div.sort-reviews-btn.disabled:hover {
            background: #eee;
            border: 1px solid #eee;
            color: #2d2f43; }
            div.product-details-page-wrapper .left-part-reviews .sort-reviews div.sort-reviews-btn.disabled:hover svg {
              fill: #2d2f43; }
            div.product-details-page-wrapper .left-part-reviews .sort-reviews div.sort-reviews-btn.disabled:hover span.total {
              color: #2d2f43; }
    div.product-details-page-wrapper .left-part-reviews .reviews-list-container {
      width: 100%; }
      div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list {
        width: 100%; }
        div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item {
          width: 100%;
          padding: 20px 0;
          border-bottom: 1px solid #e6e6e6; }
          div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item:last-child {
            border-bottom: none; }
          div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part {
            width: 100%;
            display: flex; }
            div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .avatar {
              width: 40px;
              height: 40px;
              border-radius: 10em;
              overflow: hidden;
              min-width: 40px;
              min-height: 40px; }
              div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .avatar img {
                border-radius: 10em;
                width: 100%;
                height: 100%; }
            div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .user-info {
              flex: 1;
              padding-left: 10px; }
              div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .user-info .rating {
                margin-left: 5px;
                line-height: 10px; }
                div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .user-info .rating span {
                  width: 12px;
                  height: 12px;
                  margin-left: -3px;
                  line-height: 10px; }
                  div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .user-info .rating span:first-child {
                    margin-left: unset; }
                  div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .user-info .rating span svg {
                    width: 12px;
                    height: 12px;
                    color: #f7d96c; }
                div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .user-info .rating .time {
                  font-size: 12px;
                  line-height: 13px;
                  color: #9697a1; }
              div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .user-info .user-name {
                line-height: 0px;
                margin-left: 5px;
                display: flex;
                width: 100%;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-right: 0px;
                align-items: flex-start; }
                div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .user-info .user-name a {
                  font-size: 13px;
                  line-height: 20px;
                  font-weight: 700;
                  color: #2d2f43; }
                  div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .user-info .user-name a span.verified {
                    vertical-align: middle;
                    line-height: 20px;
                    display: inline-block; }
                    div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .user-info .user-name a span.verified svg {
                      width: 15px;
                      height: 15px;
                      vertical-align: top;
                      display: inline-block;
                      fill: #1fb4ef; }
                      div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .user-info .user-name a span.verified svg path {
                        fill: #1fb4ef; }
                div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .user-info .user-name div.delete-review {
                  line-height: 0px;
                  height: 22px; }
                  div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .user-info .user-name div.delete-review div.dropdown {
                    line-height: 0px; }
                    div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .user-info .user-name div.delete-review div.dropdown a.dropdown-toggle:after, div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .user-info .user-name div.delete-review div.dropdown a.dropdown-toggle:before {
                      display: none;
                      visibility: hidden;
                      opacity: 0; }
                    div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .user-info .user-name div.delete-review div.dropdown a.dropdown-toggle span.arrow {
                      display: inline-block;
                      overflow: hidden;
                      width: 20px;
                      height: 20px; }
                      div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .user-info .user-name div.delete-review div.dropdown a.dropdown-toggle span.arrow svg {
                        width: 20px;
                        height: 10px;
                        fill: #72777c; }
                  div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .header-part .user-info .user-name div.delete-review div.dropdown-menu {
                    transition: unset; }
          div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .body-part {
            width: 100%;
            padding-left: 55px;
            overflow: hidden; }
            div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .body-part article {
              line-height: 18px;
              font-size: 13px;
              color: #2d2f43; }
            div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .body-part div.images-list {
              width: 100%;
              overflow: hidden;
              margin-top: 10px; }
              div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .body-part div.images-list a.images-list-item {
                display: inline-block;
                width: calc(12.5% - 5px);
                float: left;
                margin-right: 5px;
                border-radius: 5px;
                cursor: pointer;
                overflow: hidden;
                border: 1px solid #e6e6e6; }
                div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .body-part div.images-list a.images-list-item img {
                  width: 100%;
                  height: 100%; }
                div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list .review-list-item .body-part div.images-list a.images-list-item:last-child {
                  margin-right: 0px; }
        div.product-details-page-wrapper .left-part-reviews .reviews-list-container .reviews-list:empty {
          padding: 10px 0px; }
      div.product-details-page-wrapper .left-part-reviews .reviews-list-container .no-reviews {
        width: 100%;
        overflow: hidden;
        background: #fff;
        border: none;
        border-top: none;
        padding: 50px 0px; }
        div.product-details-page-wrapper .left-part-reviews .reviews-list-container .no-reviews .body {
          width: 100%;
          overflow: hidden;
          text-align: center; }
          div.product-details-page-wrapper .left-part-reviews .reviews-list-container .no-reviews .body h4 {
            font-size: 18px;
            line-height: 20px;
            padding: 0;
            margin: 0;
            font-weight: 700;
            color: #616161;
            margin-bottom: 10px; }
          div.product-details-page-wrapper .left-part-reviews .reviews-list-container .no-reviews .body p {
            font-size: 13px;
            line-height: 22px;
            color: #616161;
            padding: 0;
            margin: 0;
            opacity: 0.9; }
      div.product-details-page-wrapper .left-part-reviews .reviews-list-container .load-reviews {
        width: 100%;
        overflow: hidden;
        text-align: center;
        padding: 5px 0;
        background: #ff7676;
        border-radius: 5px;
        border: 1px solid #ff7676; }
        div.product-details-page-wrapper .left-part-reviews .reviews-list-container .load-reviews.disabled {
          opacity: 0.5;
          cursor: not-allowed; }
        div.product-details-page-wrapper .left-part-reviews .reviews-list-container .load-reviews.hidden {
          display: none;
          visibility: hidden;
          opacity: 0; }
        div.product-details-page-wrapper .left-part-reviews .reviews-list-container .load-reviews span {
          line-height: 20px;
          font-size: 13px;
          padding: 2px 30px;
          color: #fff;
          cursor: pointer; }
      div.product-details-page-wrapper .left-part-reviews .reviews-list-container .load-reviews-preloader {
        width: 100%;
        overflow: hidden;
        line-height: 0px; }
        div.product-details-page-wrapper .left-part-reviews .reviews-list-container .load-reviews-preloader.hidden {
          display: none;
          visibility: hidden;
          opacity: 0; }
  div.product-details-page-wrapper .review-box-wrapper-preloader {
    width: 100%;
    text-align: center;
    background: #fff;
    border: none;
    border-radius: 5px;
    line-height: 0px;
    margin-top: 20px;
    padding: 15px 0; }
    div.product-details-page-wrapper .review-box-wrapper-preloader div.data-preloader {
      line-height: 0px; }
    div.product-details-page-wrapper .review-box-wrapper-preloader.hidden {
      display: none;
      visibility: hidden;
      opacity: 0; }
  div.product-details-page-wrapper .review-box-wrapper {
    position: relative;
    width: 100%;
    border: none;
    border-top: none;
    background: #fff;
    display: none;
    margin-top: 20px;
    border-radius: 5px; }
    div.product-details-page-wrapper .review-box-wrapper .title {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      border-bottom: 1px solid #e6e6e6;
      padding: 15px 20px; }
      div.product-details-page-wrapper .review-box-wrapper .title .icon {
        width: 35px;
        height: 35px;
        overflow: hidden;
        min-width: 35px;
        min-height: 35px;
        color: #72777c; }
        div.product-details-page-wrapper .review-box-wrapper .title .icon svg {
          width: 100%;
          height: 100%; }
      div.product-details-page-wrapper .review-box-wrapper .title .title-holder {
        flex: 1;
        margin-left: 5px; }
        div.product-details-page-wrapper .review-box-wrapper .title .title-holder h5 {
          margin: 0;
          padding: 0;
          line-height: 18px;
          font-size: 14px;
          font-weight: 700;
          color: #192a32; }
        div.product-details-page-wrapper .review-box-wrapper .title .title-holder p {
          margin: 0;
          padding: 0;
          font-size: 12px;
          line-height: 13px;
          color: #616161; }
    div.product-details-page-wrapper .review-box-wrapper .body {
      width: 100%;
      padding: 10px 20px; }
      div.product-details-page-wrapper .review-box-wrapper .body .user-info-holder {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; }
        div.product-details-page-wrapper .review-box-wrapper .body .user-info-holder .avatar {
          padding: 0px;
          width: 60px;
          height: 50px;
          min-height: 50px;
          min-width: 60px; }
          div.product-details-page-wrapper .review-box-wrapper .body .user-info-holder .avatar img {
            width: 40px;
            height: 40px;
            border-radius: 10em;
            min-width: 40px;
            min-height: 40px; }
        div.product-details-page-wrapper .review-box-wrapper .body .user-info-holder .uname {
          flex: 1;
          padding: 0; }
          div.product-details-page-wrapper .review-box-wrapper .body .user-info-holder .uname h5 {
            margin: 0;
            padding: 0;
            font-size: 15px;
            line-height: 16px;
            font-weight: 700;
            color: #192a32; }
          div.product-details-page-wrapper .review-box-wrapper .body .user-info-holder .uname p {
            margin: 5px 0 0 0;
            padding: 0;
            font-size: 12px;
            line-height: 14px;
            color: #ff7676;
            padding-right: 20%; }
      div.product-details-page-wrapper .review-box-wrapper .body .rating-holder {
        padding-left: 60px; }
        div.product-details-page-wrapper .review-box-wrapper .body .rating-holder div.rate-post-btn {
          width: 30px;
          height: 30px;
          position: relative;
          display: inline-block;
          margin-left: -10px;
          cursor: pointer;
          color: #f7d96c; }
          div.product-details-page-wrapper .review-box-wrapper .body .rating-holder div.rate-post-btn:first-child {
            margin-left: -5px; }
          div.product-details-page-wrapper .review-box-wrapper .body .rating-holder div.rate-post-btn svg {
            width: 30px;
            height: 30px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto; }
          div.product-details-page-wrapper .review-box-wrapper .body .rating-holder div.rate-post-btn span.in-line {
            display: none;
            visibility: hidden; }
      div.product-details-page-wrapper .review-box-wrapper .body .review-text-holder {
        padding-left: 60px;
        padding-right: 20px; }
        div.product-details-page-wrapper .review-box-wrapper .body .review-text-holder textarea {
          width: 100%;
          border: none;
          outline: 0;
          border-bottom: 2px solid #1fb4ef;
          padding: 15px 0 5px 0;
          font-size: 12px;
          line-height: 14px;
          color: #2d2f43; }
          div.product-details-page-wrapper .review-box-wrapper .body .review-text-holder textarea::placeholder {
            font-size: 12px;
            line-height: 14px;
            color: #72777c; }
      div.product-details-page-wrapper .review-box-wrapper .body .review-images-holder {
        width: 100%;
        padding: 10px 15px 10px 60px; }
        div.product-details-page-wrapper .review-box-wrapper .body .review-images-holder .review-images-list {
          width: 100%;
          overflow: hidden; }
          div.product-details-page-wrapper .review-box-wrapper .body .review-images-holder .review-images-list div.upload-images {
            display: inline-block;
            width: calc(10% - 5px);
            border: 1px solid #e6e6e6;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            color: #70757a;
            border-radius: 3px; }
            div.product-details-page-wrapper .review-box-wrapper .body .review-images-holder .review-images-list div.upload-images svg {
              width: 15px;
              height: 15px;
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              right: 0;
              margin: auto; }
            div.product-details-page-wrapper .review-box-wrapper .body .review-images-holder .review-images-list div.upload-images:hover {
              color: #2d2f43; }
          div.product-details-page-wrapper .review-box-wrapper .body .review-images-holder .review-images-list div.images-list-item {
            border-radius: 3px;
            margin-right: 5px;
            margin-bottom: 5px;
            display: inline-block;
            width: calc(10% - 5px);
            overflow: hidden;
            float: left;
            position: relative;
            border: 1px solid #eee;
            cursor: pointer; }
            div.product-details-page-wrapper .review-box-wrapper .body .review-images-holder .review-images-list div.images-list-item img {
              width: 100%;
              height: 100%; }
            div.product-details-page-wrapper .review-box-wrapper .body .review-images-holder .review-images-list div.images-list-item span.delete-image {
              position: absolute;
              width: 30px;
              height: 30px;
              background: transparent;
              left: 0;
              top: 0;
              bottom: 0;
              right: 0;
              margin: auto;
              display: none;
              visibility: hidden;
              opacity: 0; }
              div.product-details-page-wrapper .review-box-wrapper .body .review-images-holder .review-images-list div.images-list-item span.delete-image svg {
                width: 100%;
                height: 100%;
                fill: #fff; }
            div.product-details-page-wrapper .review-box-wrapper .body .review-images-holder .review-images-list div.images-list-item:before {
              display: none;
              visibility: hidden;
              opacity: 0;
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              right: 0;
              height: 100%;
              width: 100%;
              background: #000000a3; }
            div.product-details-page-wrapper .review-box-wrapper .body .review-images-holder .review-images-list div.images-list-item:hover:before, div.product-details-page-wrapper .review-box-wrapper .body .review-images-holder .review-images-list div.images-list-item:hover span.delete-image {
              display: inline-block;
              visibility: visible;
              opacity: 1; }
    div.product-details-page-wrapper .review-box-wrapper .footer {
      overflow: hidden;
      width: 100%;
      padding: 0px 20px 20px 20px; }
      div.product-details-page-wrapper .review-box-wrapper .footer button {
        float: right;
        padding: 5px 20px;
        text-transform: uppercase;
        font-size: 11px;
        margin-left: 5px;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px;
        font-weight: 300; }
        div.product-details-page-wrapper .review-box-wrapper .footer button.submit {
          background: #ff7676;
          border: 1px solid #ff7676 !important;
          color: #fff; }
        div.product-details-page-wrapper .review-box-wrapper .footer button.cancel {
          background: #9d9d9d;
          border: 1px solid #9d9d9d !important;
          color: #fff; }
  div.product-details-page-wrapper .report-box-wrapper {
    position: relative;
    width: 100%;
    border: none;
    border-top: none;
    background: #fff;
    margin-top: 20px;
    border-radius: 5px;
    display: none; }
    div.product-details-page-wrapper .report-box-wrapper .title {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      border-bottom: 1px solid #e6e6e6;
      padding: 20px; }
      div.product-details-page-wrapper .report-box-wrapper .title .icon {
        width: 35px;
        height: 35px;
        overflow: hidden;
        min-width: 35px;
        min-height: 35px;
        padding: 0px;
        color: #72777c; }
        div.product-details-page-wrapper .report-box-wrapper .title .icon svg {
          width: 100%;
          height: 100%; }
      div.product-details-page-wrapper .report-box-wrapper .title .title-holder {
        flex: 1;
        padding: 0px;
        margin-left: 5px; }
        div.product-details-page-wrapper .report-box-wrapper .title .title-holder h5 {
          margin: 0;
          padding: 0;
          line-height: 18px;
          font-size: 14px;
          font-weight: 700;
          color: #192a32; }
        div.product-details-page-wrapper .report-box-wrapper .title .title-holder p {
          margin: 0;
          padding: 0;
          font-size: 12px;
          line-height: 13px;
          color: #616161; }
    div.product-details-page-wrapper .report-box-wrapper .body {
      width: 100%;
      padding: 10px 20px; }
      div.product-details-page-wrapper .report-box-wrapper .body .user-info-holder {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; }
        div.product-details-page-wrapper .report-box-wrapper .body .user-info-holder .avatar {
          padding: 0px;
          width: 60px;
          height: 50px;
          min-height: 50px;
          min-width: 60px; }
          div.product-details-page-wrapper .report-box-wrapper .body .user-info-holder .avatar img {
            width: 40px;
            height: 40px;
            border-radius: 10em;
            min-width: 40px;
            min-height: 40px; }
        div.product-details-page-wrapper .report-box-wrapper .body .user-info-holder .uname {
          flex: 1;
          padding: 0; }
          div.product-details-page-wrapper .report-box-wrapper .body .user-info-holder .uname h5 {
            margin: 0;
            padding: 0;
            font-size: 15px;
            line-height: 16px;
            font-weight: 700;
            color: #192a32; }
          div.product-details-page-wrapper .report-box-wrapper .body .user-info-holder .uname p {
            margin: 5px 0 0 0;
            padding: 0 15px 0 0;
            font-size: 12px;
            line-height: 14px;
            color: #ff7676;
            padding-right: 20%; }
      div.product-details-page-wrapper .report-box-wrapper .body .report-text-holder {
        padding-top: 15px;
        padding-left: 60px;
        padding-right: 20px; }
        div.product-details-page-wrapper .report-box-wrapper .body .report-text-holder textarea {
          width: 100%;
          border: none;
          outline: 0;
          border-bottom: 2px solid #1fb4ef;
          padding: 15px 0 5px 0;
          font-size: 12px;
          line-height: 14px;
          color: #2d2f43; }
          div.product-details-page-wrapper .report-box-wrapper .body .report-text-holder textarea::placeholder {
            font-size: 12px;
            line-height: 14px;
            color: #72777c; }
    div.product-details-page-wrapper .report-box-wrapper .footer {
      overflow: hidden;
      width: 100%;
      padding: 0px 20px 20px 20px; }
      div.product-details-page-wrapper .report-box-wrapper .footer button {
        float: right;
        padding: 5px 20px;
        text-transform: uppercase;
        font-size: 11px;
        margin-left: 5px;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px;
        font-weight: 300; }
        div.product-details-page-wrapper .report-box-wrapper .footer button.submit {
          background: #ff7676;
          border: 1px solid #ff7676 !important;
          color: #fff; }
        div.product-details-page-wrapper .report-box-wrapper .footer button.cancel {
          background: #9d9d9d;
          border: 1px solid #9d9d9d !important;
          color: #fff; }
  div.product-details-page-wrapper div.not-approved, div.product-details-page-wrapper .blocked-product-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 135px); }
    div.product-details-page-wrapper div.not-approved div.icon, div.product-details-page-wrapper .blocked-product-item div.icon {
      width: 40px;
      height: 40px; }
      div.product-details-page-wrapper div.not-approved div.icon svg, div.product-details-page-wrapper .blocked-product-item div.icon svg {
        width: 100%;
        height: 100%;
        fill: #ff7676; }
    div.product-details-page-wrapper div.not-approved h5, div.product-details-page-wrapper .blocked-product-item h5 {
      font-size: 22px;
      line-height: 35px;
      color: #2d2f43;
      padding: 0;
      margin: 0; }
    div.product-details-page-wrapper div.not-approved p, div.product-details-page-wrapper .blocked-product-item p {
      padding: 0;
      margin: 0 0 20px 0;
      font-size: 14px;
      line-height: 16px;
      color: #192a32; }
    div.product-details-page-wrapper div.not-approved div.ctrls a, div.product-details-page-wrapper .blocked-product-item div.ctrls a {
      text-decoration: none;
      line-height: 0px; }
      div.product-details-page-wrapper div.not-approved div.ctrls a button, div.product-details-page-wrapper .blocked-product-item div.ctrls a button {
        border: 1px solid #ff7676;
        outline: 0;
        padding: 12px 40px;
        box-shadow: none;
        background: transparent;
        color: #ff7676;
        font-size: 14px;
        line-height: 16px;
        text-decoration: none;
        border-radius: 3px; }
        div.product-details-page-wrapper div.not-approved div.ctrls a button.inline-btn, div.product-details-page-wrapper .blocked-product-item div.ctrls a button.inline-btn {
          background: #ff7676;
          color: #fff;
          margin-right: 10px; }

div.share-product-item-modal.show {
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: center !important; }
div.share-product-item-modal .modal-dialog .modal-content {
  border: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.31);
  border-radius: 0px;
  width: 420px;
  border-radius: 5px; }
  div.share-product-item-modal .modal-dialog .modal-content .modal-header {
    border: none;
    padding: 15px; }
    div.share-product-item-modal .modal-dialog .modal-content .modal-header .modal-title {
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      color: #192a32;
      line-height: 18px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center; }
      div.share-product-item-modal .modal-dialog .modal-content .modal-header .modal-title svg {
        width: 20px;
        height: 20px; }
      div.share-product-item-modal .modal-dialog .modal-content .modal-header .modal-title span.close-modal {
        width: 15px;
        height: 15px;
        margin-left: auto;
        line-height: 0px;
        padding: 0px;
        cursor: pointer; }
        div.share-product-item-modal .modal-dialog .modal-content .modal-header .modal-title span.close-modal svg {
          width: 100%;
          height: 100%;
          fill: #9697a1; }
        div.share-product-item-modal .modal-dialog .modal-content .modal-header .modal-title span.close-modal:hover svg {
          fill: #ff7676; }
  div.share-product-item-modal .modal-dialog .modal-content .modal-body {
    color: #2d2f43;
    padding: 15px;
    width: 100%;
    overflow: hidden; }
    div.share-product-item-modal .modal-dialog .modal-content .modal-body div.social-links {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      div.share-product-item-modal .modal-dialog .modal-content .modal-body div.social-links a {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 10em;
        border: 1px solid #eee;
        margin: 0px 5px; }
        div.share-product-item-modal .modal-dialog .modal-content .modal-body div.social-links a:first-child {
          margin-left: 0px; }
        div.share-product-item-modal .modal-dialog .modal-content .modal-body div.social-links a:last-child {
          margin-right: 0px; }
        div.share-product-item-modal .modal-dialog .modal-content .modal-body div.social-links a svg {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          width: 20px;
          height: 20px; }
        div.share-product-item-modal .modal-dialog .modal-content .modal-body div.social-links a.twitter svg {
          fill: #1ca1f4; }
        div.share-product-item-modal .modal-dialog .modal-content .modal-body div.social-links a.facebook svg {
          fill: #3b5899; }
        div.share-product-item-modal .modal-dialog .modal-content .modal-body div.social-links a.google-plus svg {
          fill: #d84937; }
        div.share-product-item-modal .modal-dialog .modal-content .modal-body div.social-links a.pinterest svg {
          fill: #c8232c; }
        div.share-product-item-modal .modal-dialog .modal-content .modal-body div.social-links a.reddit svg {
          fill: #2d2f43; }
    div.share-product-item-modal .modal-dialog .modal-content .modal-body div.raw-link {
      width: 100%;
      overflow: hidden;
      margin-top: 15px; }
      div.share-product-item-modal .modal-dialog .modal-content .modal-body div.raw-link p {
        font-size: 13px;
        line-height: 16px;
        color: #9697a1;
        text-align: center;
        margin: 0 0 15px 0;
        padding: 0; }
      div.share-product-item-modal .modal-dialog .modal-content .modal-body div.raw-link div.link-input {
        width: 100%;
        overflow: hidden; }
        div.share-product-item-modal .modal-dialog .modal-content .modal-body div.raw-link div.link-input input {
          display: block;
          width: 100%;
          height: 45px;
          border-radius: 5px;
          background: #e0e0e0;
          border: none;
          box-shadow: none;
          outline: 0;
          padding: 0px 15px;
          color: #2d2f43;
          text-overflow: ellipsis;
          overflow: hidden; }
  div.share-product-item-modal .modal-dialog .modal-content .modal-footer {
    border: none; }
    div.share-product-item-modal .modal-dialog .modal-content .modal-footer button {
      padding: 5px 12px;
      line-height: 19px;
      font-size: 13px;
      border-radius: 2px;
      font-weight: 300; }
      div.share-product-item-modal .modal-dialog .modal-content .modal-footer button.btn-submit {
        background: #ff7676;
        border-color: #ff7676 !important; }
        div.share-product-item-modal .modal-dialog .modal-content .modal-footer button.btn-submit:hover, div.share-product-item-modal .modal-dialog .modal-content .modal-footer button.btn-submit:active, div.share-product-item-modal .modal-dialog .modal-content .modal-footer button.btn-submit:focus {
          background: #f6546a !important; }

.add-prod2wishlist-modal.show {
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: center !important; }
.add-prod2wishlist-modal .modal-dialog {
  width: 380px; }
  .add-prod2wishlist-modal .modal-dialog .modal-content {
    border: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.31);
    border-radius: 0px;
    overflow: hidden;
    border-radius: 5px; }
    .add-prod2wishlist-modal .modal-dialog .modal-content .modal-header {
      border: none;
      padding: 20px;
      border-bottom: 1px solid #e6e6e6;
      background: #fff;
      border-radius: 0px; }
      .add-prod2wishlist-modal .modal-dialog .modal-content .modal-header .modal-title {
        font-weight: 600;
        font-size: 16px;
        color: #192a32;
        line-height: 20px; }
        .add-prod2wishlist-modal .modal-dialog .modal-content .modal-header .modal-title svg {
          width: 20px;
          height: 20px;
          fill: #192a32; }
    .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body {
      color: #2d2f43;
      padding: 0px;
      font-size: 14px;
      line-height: 22px; }
      .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tab-switch-wrapper {
        padding: 15px 15px 0 15px;
        width: 100%;
        overflow: hidden; }
        .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tab-switch-wrapper .tab-switch {
          width: 100%;
          overflow: hidden;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          border-radius: 3px;
          border: 1px solid #ff7676; }
          .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tab-switch-wrapper .tab-switch .switch-ctrl {
            line-height: 30px;
            font-size: 13px;
            flex: 1;
            background: #fff;
            color: #ff7676;
            text-align: center;
            cursor: pointer; }
            .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tab-switch-wrapper .tab-switch .switch-ctrl:first-child {
              border-right: 1px solid #ff7676; }
            .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tab-switch-wrapper .tab-switch .switch-ctrl.active {
              background: #ff7676;
              color: #fff; }
      .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder {
        width: 100%;
        overflow: hidden;
        display: block; }
        .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont {
          width: 100%;
          overflow: hidden;
          display: block;
          visibility: visible; }
          .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont small.error-message {
            display: block;
            padding: 15px 15px 0px 15px;
            font-size: 13px;
            line-height: 18px;
            font-weight: 600; }
            .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont small.error-message ~ p.tab-cont-subtitle {
              display: none;
              visibility: hidden; }
          .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont p.tab-cont-subtitle {
            padding: 15px 15px 0px 15px;
            margin: 0;
            font-size: 13px;
            line-height: 18px;
            color: #9697a1; }
          .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .wish-list {
            list-style-type: none;
            padding: 15px 15px 8px 15px;
            margin: 0; }
            .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .wish-list li {
              display: inline-block;
              margin-right: 7px;
              margin-bottom: 10px; }
              .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .wish-list li input {
                display: none;
                visibility: hidden; }
                .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .wish-list li input:checked + label {
                  background: #ff7676;
                  color: #fff; }
                .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .wish-list li input + label {
                  font-size: 12px;
                  line-height: 12px;
                  padding: 10px 12px;
                  border-radius: 5em;
                  border: 1px solid #ff7676;
                  color: #ff7676;
                  height: auto;
                  margin: 0px !important; }
                  .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .wish-list li input + label:before, .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .wish-list li input + label:after {
                    display: none; }
          .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .create-new-list {
            width: 100%;
            overflow: hidden;
            display: block;
            border-top: 1px solid #eee; }
            .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .create-new-list .fields-set {
              padding: 15px; }
              .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .create-new-list .fields-set p {
                font-size: 13px;
                line-height: 18px;
                padding: 0;
                margin: 0 0 10px 0;
                color: #9697a1; }
              .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .create-new-list .fields-set div.form-group input {
                box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px;
                outline: 0px;
                border: 1px solid #e6e6e6;
                border-radius: 3px;
                transition: all 0.27s ease;
                color: #2d2f43; }
                .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .create-new-list .fields-set div.form-group input::placeholder {
                  font-size: 13px;
                  color: #72777c;
                  transition: all 0.27s ease; }
                .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .create-new-list .fields-set div.form-group input:active, .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .create-new-list .fields-set div.form-group input:hover, .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .create-new-list .fields-set div.form-group input:focus {
                  border-color: #ff7676; }
                  .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .create-new-list .fields-set div.form-group input:active::placeholder, .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .create-new-list .fields-set div.form-group input:hover::placeholder, .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .create-new-list .fields-set div.form-group input:focus::placeholder {
                    color: #ff7676; }
              .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .create-new-list .fields-set small {
                font-size: 10px;
                color: #1fb4ef;
                line-height: 12px; }
                .add-prod2wishlist-modal .modal-dialog .modal-content .modal-body .tabs-holder .tab-cont .create-new-list .fields-set small svg {
                  width: 12px;
                  height: 12px;
                  vertical-align: middle; }
    .add-prod2wishlist-modal .modal-dialog .modal-content .modal-submit {
      padding: 20px 15px;
      border-top: 1px solid #e6e6e6; }
      .add-prod2wishlist-modal .modal-dialog .modal-content .modal-submit button {
        width: 100%;
        padding: 5px 12px;
        line-height: 19px;
        font-size: 13px;
        border-radius: 2px;
        font-weight: 300; }
        .add-prod2wishlist-modal .modal-dialog .modal-content .modal-submit button.btn-submit {
          background: #ff7676;
          border-color: #ff7676 !important; }
          .add-prod2wishlist-modal .modal-dialog .modal-content .modal-submit button.btn-submit:hover, .add-prod2wishlist-modal .modal-dialog .modal-content .modal-submit button.btn-submit:active, .add-prod2wishlist-modal .modal-dialog .modal-content .modal-submit button.btn-submit:focus {
            background: #f6546a !important; }

/*# sourceMappingURL=product.master.style.css.map */
.values-product{
    margin-bottom : 21px;
}
.values-title{
    margin-right : 21px;
}
.values-name{
    color : #35c85f;
}
.product-articul{
    color: #9697a1;
    font-size:14px;
    padding-bottom: 21px!important;
}
.product-title{   
        padding-bottom: 0!important;
}
  .dark-screen{
        position: static;
        display: none;
        background-color: rgba(0,0,0,0.4);
        height: 0px;
        width: 0px;
        z-index: 0;
    }
    .video-centered {
        padding       : 33px; 
        border-radius : 3px !important;
        box-shadow    : rgba(0, 0, 0, 0.05) 0px 1px 10px 0px !important;
        color         : #777;
        font-family : -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        background-color: #fff;
        font-size: 18px;
        position: absolute;
        top: 21px;
        left: 5%;
        width: 90%;
        vertical-align: bottom;
        z-index: 13;
        display: none;
    }
    img.camera-photo{
        width: 100%;
        cursor: pointer;
        margin: 0;
    }   
    .video-centered #close-video {
            position    : absolute;
            margin-left : 81%;
            margin-top  : -35px;
            cursor      : pointer;
            font-weight : bold;
            font-size   : 20px;
            z-index     : 14;
            color       : #333;
            font-size   : 33px;
    } 
    
        .js-replace-image{
           /* width                 : 60%!important;
            margin                : 13px 20%!important;*/
        }
      .form-save-file-btn{
            box-shadow            : 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
            -webkit-border-radius : 2px;
            -moz-border-radius    : 2px;
            -ms-border-radius     : 2px;
            border-radius         : 2px;
            border                : none;
            font-size             : 13px;
            background            : #ff7676;
            color                 : #fff;
            padding               : 7px 13px;
            width                 : 40%;
            margin                : 13px 30%; 
            text-align            : center; 
        }
        
        .picture-choise-label{
            font-weight : bold;
            font-size   : 16px;
            line-height : 1.42857143;    
            font-family : -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            text-align  : center;
            margin-bottom: 37px;
        }
       
        .photo-block{            
            width         : 30%;
            margin        : 21px 35%;
            padding       : 13px; 
            border        : 5px solid #b7b7b7;
            border-radius : 50%;
        }
        .picture-choise-label{
            font-weight    : bold;
            font-size      : 20px;
            line-height    : 1.42857143;    
            font-family    : -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            text-align     : center;
            margin-bottom  : 12px;
            text-transform : uppercase; 
        }
        .picture-choise-label-sub{
            font-weight   : bold;
            font-size     : 14px;
            line-height   : 1.42857143;    
            font-family   : -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            text-align    : center;
            margin-bottom : 17px;
            color         : #b7b7b7;
            
        }
        .label-red{
            color: #ff0000;
        }
@media (min-width: 768px){   
        .dark-screen{
            position: fixed;
            z-index: 12;
        }
        img.camera-photo{
            width : 100%;
            margin: 0;
        }
        .video-centered {
            padding       : 33px; 
            border-radius : 3px !important;
            box-shadow    : rgba(0, 0, 0, 0.05) 0px 1px 10px 0px !important;
            color         : #777;
            font-family : -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            background-color: #fff;
            font-size: 18px;
            position: fixed;
            vertical-align: bottom;
            z-index: 13;
            display: none;
        }
        .video-centered #close-video {
            position    : absolute;
            margin-left : 92%;
            margin-top  : -35px;
            cursor      : pointer;
            font-weight : bold;
            font-size   : 20px;
            z-index     : 14;
            color       : #333;
            font-size   : 33px;
        }
        .picture-choise-label{
            font-weight    : bold;
            font-size      : 20px;
            line-height    : 1.42857143;    
            font-family    : -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            text-align     : center;
            margin-bottom  : 12px;
            text-transform : uppercase; 
        }
        .picture-choise-label-sub{
            font-size     : 14px;
            line-height   : 1.42857143;    
            font-family   : -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            text-align    : center;
            margin-bottom : 17px;
        }
        .photo-block{
            
            width         : 30%;
            margin        : 21px 35%;
            padding       : 13px; 
            border        : 5px solid #b7b7b7;
            border-radius : 50%;
        }
        .form-save-file-btn{
            box-shadow            : 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
            -webkit-border-radius : 2px;
            -moz-border-radius    : 2px;
            -ms-border-radius     : 2px;
            border-radius         : 2px;
            border                : none;
            font-size             : 13px;
            background            : #ff7676;
            color                 : #fff;
            padding               : 7px 13px;
            width                 : 40%;
            margin                : 13px 30%; 
            text-align            : center; 
        }
        .table-list{
            margin: 3em;
        }
        #dialog-confirm{
            display:none;
        }
        .f-input,.cl-template{
            margin-bottom: 21px;
        }
        .hidden{
            display: none;
        }
        .shown{
            display: block;
        }
        .field-input-wraper{
            width : 90%;
            margin: 21px;
            padding: 0 20%;
        }
        .field-input{
            width        : 100%;
            border       : 1px #777777 solid;
            height       : 31px;
            padding-left : 3px;
        }
        .field-label{
            width      : 90%;
            text-align : center;
        }
        .area-input{
            height: 49px;
        }
        .save-wrap{
            width      : 100%;
            text-align : center;
        }
        .save-button {
          animation: blinker 3s linear infinite;
          text-transform: uppercase;
        }        

        #imageloaddiv{           
            background-color: #fff!important;
        }
}
@media (min-width: 992px){
    .video-centered {
        top: calc( 50% - 380px );
        left: calc( 50% - 470px );
        width: 940px;
    }
}
#buy-prod-now{
    background-color : #35c85f;
    border-color     : #35c85f; 
}