// @*************************************************************************@
// @ @author Mansur Altamirov (Mansur_TL)									 @
// @ @author_url 1: https://www.instagram.com/mansur_tl                      @
// @ @author_url 2: http://codecanyon.net/user/mansur_tl                     @
// @ @author_email: highexpresstore@gmail.com                                @
// @*************************************************************************@
// @ HighExpress - The Ultimate Modern Marketplace Platform                  @
// @ Copyright (c) 05.07.19 HighExpress. All rights reserved.                @
// @*************************************************************************@

$black:#192a32;
$black2: #2d2f43;
$main:#1fb4ef;
$link:#003569;
$border:#e6e6e6;
$pl_holder:#72777c;
$red:#ff7676;
$red2:#f6546a;
$grey:#9697a1;
$green:#35c85f;
$btn_shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px;

body{
	background: #f2f3f2;
}

div.main-cont{
	width: 100%;
	height: 100%;
	padding-top: 80px;
	padding-bottom: 80px;

	div.main-cont-header{
		width: 100%;
		overflow: hidden;
		margin-bottom: 20px;
		h1{
			font-size: 20px;
			line-height: 22px;
			color: $black2;
			padding: 0;
			margin: 0;
			font-weight: bold;
			text-align: center;
			margin-bottom: 5px;
		}

		p{
			color: #616161;
			font-size: 13px;
			line-height: 24px;
			text-align: center;
			margin: 0;
			padding: 0;
		}
	}


	div.main-cont-inner{
		box-shadow: $btn_shadow;
		border-radius: 5px;
		background: #fff;
		overflow: hidden;

		div.cont-header{
			width: 100%;
			line-height: 0px;
			background: $red;
			padding: 20px;
			h2{
				padding: 0;
				margin: 0;
				color: #fff;
				font-size: 16px;
				font-weight: bold;
				svg{
					width: 20px;
					height: 20px;
				}
			}
		}

		div.cont-body{
			div.terms-of-use{
				width: 100%;
				overflow: hidden;
				display: block;
				padding: 20px;
				background: #fff;
				h1{
					margin: 0;
					padding: 0;
					font-size: 18px;
					line-height: 22px;
					color: $black;
					font-weight: bold;
					margin-bottom: 10px;
				}

				div.createdby{
					width: 100%;
					overflow: hidden;
					margin-bottom: 20px;
					h6{
						font-size: 12px;
						font-weight: normal;
						color: $grey;
						padding: 0;
						margin: 0;
					}
				}

				div.agreement-def-title{
					width: 100%;
					overflow: hidden;
					margin-bottom: 20px;
					p{
						padding: 0;
						margin: 0;
						font-size: 13px;
						color: $black;
						line-height: 24px;
						font-weight: bold;
					}
				}

				h4{
					font-size: 14px;
					padding: 0;
					margin: 0;
					color: $black;
					font-weight: bold;
					margin-bottom: 10px;
				}

				table{
					thead{
						th{
							font-size: 14px;
							color: $black;
							font-weight: bold;
							border-bottom: 1px solid #eee;
							padding: 10px 5px;
						}
					}
					tr{
						td{
							font-size: 13px;
							border: none;
							padding: 7px 5px;
							span{
								width: 15px;
								height: 15px;
								display: inline-block;
								margin-right: 5px;

								svg{
									width: 100%;
									height: 100%;
								}

								&.allowed svg{
									fill: $green;
								}

								&.denied svg{
									fill: $red;
								}
							}
						}
					}
				}

				div.agreement-action{
					width: 100%;
					overflow: hidden;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					border-top: 1px solid #eee;
					padding-top: 20px;

					input{
						vertical-align: middle;
					}

					label{
						font-size: 13px;
						line-height: 13px;
						color: $black2;
						padding: 0;
						margin: 0;
					}

					button.btn.btn-red{
						color: $red;
						background: #fff;
						font-size: 13px;
						border: 1px solid $red;
						box-shadow: none;
						outline: 0;
						padding: 5px 15px;
						&:active,&:hover,&:focus{
							background: #fff;
							color: $red;
						}

						&:disabled{
							cursor: not-allowed;
						}
					}
				}
			}

			div.requirements{
				width: 100%;
				overflow: hidden;
				display: block;
				padding: 20px;
				background: #fff;
				h1{
					margin: 0;
					padding: 0;
					font-size: 18px;
					line-height: 22px;
					color: $black;
					font-weight: bold;
					margin-bottom: 10px;
				}

				div.createdby{
					width: 100%;
					overflow: hidden;
					margin-bottom: 20px;
					h6{
						font-size: 12px;
						font-weight: normal;
						color: $grey;
						padding: 0;
						margin: 0;
					}
				}

				div.requirements-def-title{
					width: 100%;
					overflow: hidden;
					margin-bottom: 20px;
					p{
						padding: 0;
						margin: 0;
						font-size: 13px;
						color: $black;
						line-height: 24px;
						font-weight: bold;
					}
				}

				table{
					thead{
						th{
							font-size: 14px;
							color: $black;
							font-weight: bold;
							border-bottom: 1px solid #eee;
							padding: 10px 5px;
						}
					}
					tr{
						td{
							font-size: 13px;
							border: none;
							padding: 7px 5px;
							span{
								width: 15px;
								height: 15px;
								display: inline-block;
								margin-right: 5px;

								svg{
									width: 100%;
									height: 100%;
								}

								&.installed svg{
									fill: $green;
								}

								&.not-installed svg{
									fill: $red;
								}
							}
							strong{
								color: $grey;
								font-weight: normal;
								font-size: 12px;
							}
						}
					}
				}

				div.next-action{
					width: 100%;
					overflow: hidden;
					display: flex;
					flex-direction: row;
					align-items: center;
					border-top: 1px solid #eee;
					padding-top: 20px;

					button.btn.btn-red{
						color: $red;
						background: #fff;
						font-size: 13px;
						border: 1px solid $red;
						box-shadow: none;
						outline: 0;
						padding: 5px 15px;
						&:active,&:hover,&:focus{
							background: #fff;
							color: $red;
						}

						&:disabled{
							cursor: not-allowed;
						}
					}
				}
			}

			div.installation{
				width: 100%;
				overflow: hidden;
				display: block;
				padding: 20px;
				background: #fff;
				h1{
					margin: 0;
					padding: 0;
					font-size: 18px;
					line-height: 22px;
					color: $black;
					font-weight: bold;
					margin-bottom: 10px;
				}

				div.createdby{
					width: 100%;
					overflow: hidden;
					margin-bottom: 20px;
					h6{
						font-size: 12px;
						font-weight: normal;
						color: $grey;
						padding: 0;
						margin: 0;
					}
				}

				div.installation-def-title{
					width: 100%;
					overflow: hidden;
					margin-bottom: 20px;
					p{
						padding: 0;
						margin: 0;
						font-size: 13px;
						color: $black;
						line-height: 24px;
						font-weight: bold;
					}
				}

				div.form-content{
					div.errors{
						margin-bottom: 20px;
						width: 100%;
						border: 1px solid $red;
						border-radius: 5px;
						padding: 15px;

						p{
							font-size: 12px;
							color: $red;
							line-height: 16px;
							margin: 0;
							padding: 0;
						}
					}

					div.success{
						margin-bottom: 20px;
						width: 100%;
						text-align: center;

						h2{
							font-size: 24px;
							line-height: 24px;
							padding: 0;
							margin: 0;
							color: $green;
							text-align: center;
							font-weight: bold;
							margin-bottom: 10px;
						}

						p{
							font-size: 12px;
							color: $black;
							line-height: 16px;
							margin: 0;
							padding: 0;
							text-align: center;
							margin-bottom: 20px;
							opacity: 0.9;
						}

						a.lets-go{
							display: inline-block;
							text-decoration: none;
							button{
								color: $red;
								background: #fff;
								font-size: 13px;
								border: 1px solid $red;
								box-shadow: none;
								outline: 0;
								padding: 7px 40px;
								&:active,&:hover,&:focus{
									background: #fff;
									color: $red;
								}
							}
						}
					}
					div.form-group{
						small.info-message{
							font-size: 12px;
							line-height: 16px;
							color: $main;
							display: block;
							width: 100%;
							margin-top: 10px;
						}

						label.form-input-label{
							padding: 0;
							margin: 0;
							font-size: 13px;
							line-height: 18px;
							color: $black2;
						}
						div.form-input{
							input{
								border: 1px solid rgb(212, 227, 235);
								padding-left: 15px;
								padding-right: 15px;
								background: #f8fafb;
								border-radius: 1px;
								height: 38px;
								font-size: 13px;
								color: $black;

								&::placeholder{
									font-size: 13px;
									color: $pl_holder;
								}

								&:focus,&:active,&:hover{
									border: 1px solid $main;
									box-shadow: $btn_shadow;
								}

								&[type="date"]{
									padding: 6px 12px;
								}

								&.block-input{
									display: block;
								}

								&:disabled{
									opacity: 0.5;
									cursor: not-allowed;
								}
							}
						}
					}
				}

				div.next-action{
					width: 100%;
					overflow: hidden;
					display: flex;
					flex-direction: row;
					align-items: center;
					border-top: 1px solid #eee;
					padding-top: 20px;

					button.btn.btn-red{
						color: $red;
						background: #fff;
						font-size: 13px;
						border: 1px solid $red;
						box-shadow: none;
						outline: 0;
						padding: 5px 15px;
						&:active,&:hover,&:focus{
							background: #fff;
							color: $red;
						}

						&:disabled{
							cursor: not-allowed;
						}
					}
				}
			}
		}
	}

	div.main-cont-footer{
		width: 100%;
		overflow: hidden;
		span{
			font-size: 13px;
			color: $grey;
			line-height: 18px;
		}
	}
}