<div class="content-container">
	<div class="payment-paid-page-container">
		<div class="success">
			<div class="icon">
				<?php echo hs_svg('payment-success'); ?>
			</div>
			<h5 class="title">
				{{TR Thanks for your payment}} 
			</h5>
			<p>
				{{TR Your payment was successfully accepted,and orders was send to the sellers}}
			</p>
			<div class="action-btns">
                            <a href="<?php if($hs['anoflag']){ echo hs_link('checkout/'); } else { ?>{{CONFIG url}}<?php } ?>">
					<button>
						{{TR Continue shopping}}
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
<footer class="footer-fluid">
	<?php echo hs_loadpage('footer/fluid'); ?>	
</footer>