<script>
	jQuery(document).ready(function($) {
		"use strict";
		
		var ORD_DETAILS_PAGE     = $("div#order-details-page");
		var ORD_STATUS_MNG_MODAL = $("div#update-order-status-modal");

		ORD_STATUS_MNG_MODAL.find('form#addpost').find('select[data-snode="order_status"]').on('change', function(event) {
			event.preventDefault();
			var selected_status = $(this).val();
			if (selected_status == 'canceled') {
				ORD_STATUS_MNG_MODAL.find('form#addpost').find('[data-snode="order_stat_alert"]').removeClass('hidden');
			}
			else if (selected_status == 'expired') {
				ORD_STATUS_MNG_MODAL.find('form#addpost').find('[data-snode="order_stat_alert"]').removeClass('hidden');
			}
			else if (selected_status == 'returned') {
				ORD_STATUS_MNG_MODAL.find('form#addpost').find('[data-snode="order_stat_alert"]').removeClass('hidden');
			}
			else if (selected_status == 'failed') {
				ORD_STATUS_MNG_MODAL.find('form#addpost').find('[data-snode="order_stat_alert"]').removeClass('hidden');
			}
			else {
				ORD_STATUS_MNG_MODAL.find('form#addpost').find('[data-snode="order_stat_alert"]').addClass('hidden');
			}
		});

		ORD_STATUS_MNG_MODAL.find('form#addpost').ajaxForm({
			url: '{{CONFIG url}}/req/orders/order_status_update',
			type: 'POST',
			dataType: 'json',
			beforeSend: function() {
				ORD_STATUS_MNG_MODAL.find('small.error-message').remove();
			},
			success: function(data) {
				if (data.status == 200) {
                                        $('.js-order-status').html(data.stage);
					var tl_tab    = ORD_DETAILS_PAGE.find('tbody#timeline-table');
					var this_el   = ORD_STATUS_MNG_MODAL.find('form#addpost');
					var this_data = this_el.serializeObject();

					tl_tab.find('tr[data-status="{0}"]'.format(this_data['status'])).remove();
					tl_tab.append(data.post);
					this_el.get(0).reset();
					this_el.find('select').selectpicker('refresh');

					if (tl_tab.find('tr.empty-table.no-data').length) {
						tl_tab.find('tr.empty-table.no-data').remove();
					}

					$.notify({
                        message: data.message,
                    },{
					    allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
					    placement: {from: "bottom",align: "left"},
					    offset: {x: 40,y: 30},
					    animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
					});

                    if (data.url) {
                    	delay(function(){
                    		hs_redirect(data.url);
                    	},1500);
                    }
				}
				else {
					if (data.message) {
						var invalid_field = ORD_STATUS_MNG_MODAL.find('[data-form-field="{0}"]'.format(data.err_code));
						if (invalid_field.length) {
							ORD_STATUS_MNG_MODAL.scroll2inner(invalid_field,500);
							invalid_field.append($("<small>",{
		                		text: data.message,
		                		class: 'col-red error-message animated flash'
		                	}));
						}
						else {
							ORD_STATUS_MNG_MODAL.modal('hide');
							ORD_STATUS_MNG_MODAL.find('small.error-message').remove();

							$.notify({
	                            message: data.message,
	                        },{
							    allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
							    placement: {from: "bottom",align: "left"},
							    offset: {x: 40,y: 30},
							    animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
							});
						}
					}

					else {
						ORD_STATUS_MNG_MODAL.modal('hide');
						ORD_STATUS_MNG_MODAL.find('small.error-message').remove();
					}
				}
			}
		});

		ORD_STATUS_MNG_MODAL.find('form#addpost').on('reset', function(event) {
			try {
				var this_el = $(this);
				this_el.get(0).reset();
				this_el.find('select').selectpicker('refresh');

				ORD_STATUS_MNG_MODAL.modal('hide');

				ORD_STATUS_MNG_MODAL.find('small.error-message').remove();
			} catch (e) { /*pass*/ }
		});
	});
</script>