<div class="basket" id="basket-page-cont">
	<div class="content-panel">
		<div class="top-panel-wrapper">
                    <div class="row">
                        <div class='col-lg-6'>
                            <h2>
                                <b>{{TR Items in the basket}} <span class="basket-total-itmes">{{total_items}}</span></b> 
                            </h2>
                        </div>
                        <div class='col-lg-6 new-delete'>
                            <h2>    
                                <span class="ml-auto delete-selected <?=$hs['total']?"":"disabled"?>" id="delete-selected-items">
                                    <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M128 405.429C128 428.846 147.198 448 170.667 448h170.667C364.802 448 384 428.846 384 405.429V160H128v245.429zM416 96h-80l-26.785-32H202.786L176 96H96v32h320V96z"/></svg> 
                                    <span>{{TR Delete selected}}</span>
                                </span>
                            </h2>
                        </div>    
                    </div>
                    <?php if(count($hs['basket']) > 1){ ?>
			<div class="alertbox-wrapper" id="pm-restriction-alert">
				<div class="alert alert-info">
					<div class="icon">
						<?php echo hs_svg('info-inline'); ?>
					</div>
					<div class="alert-message">
						<p>{{TR Some products are not available for payment through the selected payment method.}}</p>
					</div>
				</div>
			</div>			
			<div class="item-selection-box">
                            <input type="checkbox" id="selectallitems" <?=$hs['all_selected']?"checked='checked'":""?> class="filled-in chk-col-red">
                                <label class="md-chbox" for="selectallitems">
                                        <span>
                                                {{TR Select all products}} <span class="from-what">{{TR from Basket}}</span>
                                        </span>
                                </label>
				<!--<span class="ml-auto delete-selected <?=$hs['total']?"":"disabled"?> id="delete-selected-items">
					<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M128 405.429C128 428.846 147.198 448 170.667 448h170.667C364.802 448 384 428.846 384 405.429V160H128v245.429zM416 96h-80l-26.785-32H202.786L176 96H96v32h320V96z"/></svg> 
                                        <span>{{TR Delete selected}}</span>
				</span>-->
			</div>
                    <?php } ?>
		</div>
		<div class="basket-list-wrapper" id="basket-items-list">                  
                        
			<?php $sellerId = 0; $sellActive = 0; $hs['sel_flag'] = 0; $nn = 0;
                         foreach ($hs['basket'] as $hs['prod_data']):                              
                             if($hs['prod_data']['user_id'] != $sellerId){ 
                                 $sellerId = $hs['prod_data']['user_id']; $hs['sel_flag'] = $nn?1:0;                                
                                 if($nn) {echo '</div>';};
                        ?>      
                                <div class="seller-block-wrapper">
                                    <div class="seller-header row">
                                        <div class="col-lg-6">                                            
                                             <?php if(count($hs['basket']) > 1){ ?>   
                                            <div class="item-selection-box seller-check">
                                                <input type="checkbox" id="selectallitems_<?=$sellerId?>" sid="<?=$sellerId?>" <?=(in_array($sellerId, $hs['seller_selected'])?"checked='checked'":"")?> class="selectallitemsseller filled-in chk-col-red">
                                                        <label class="md-chbox" for="selectallitems_<?=$sellerId?>">
                                                            <span>
                                                                    {{TR Select all products}} <span class="from-what">{{TR of this seller}}</span>
                                                            </span>
                                                    </label>		
                                                </div>  
                                            <?php  } else { ?>
                                                <label class="md-chbox" for="selectallitems_<?=$sellerId?>">
                                                    <span class="from-what">{{TR Buy product}} {{TR of this seller}}</span>
                                                </label>
                                            <?php  } ?>
                                        </div>
                                        <div class="col-lg-6">
                                            <img style="width:37px; height: 37px; border-radius : 50%" src="<?=$hs['prod_data']['avatar']?>" alt="User avatar"> 
                                                <span class="basket-seller-name"><?=$hs['prod_data']['fname']?><?=$hs['prod_data']['lname']?> </span>
                                        </div>
                                    </div>
                                    
                                <?php $nn++; } 
                                    echo hs_loadpage("checkout/includes/basket/basket_list_item"); 
                                    endforeach;                                 
                                ?>
                        </div>
		</div>
	</div>
</div>
<?php echo hs_loadpage("checkout/includes/modals/confirmations/wallet_payment_confirmation"); ?>
<?php echo hs_loadpage("checkout/includes/modals/confirmations/basket_item_removal"); ?>
<?php echo hs_loadpage("checkout/includes/modals/confirmations/basket_purge_removal"); ?>

<?php if (not_empty($me['address'])): ?>
	<?php echo hs_loadpage("checkout/includes/modals/deliv_address_map"); ?>
<?php endif; ?>

<?php echo hs_loadpage("checkout/static/js/basket_script"); ?>