﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>
        <?php echo fetch_or_get($hs['page_title'],'');?>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="title" content="<?php echo fetch_or_get($hs['page_title'],'');?>"/>
    <meta name="description" content="<?php echo fetch_or_get($hs['page_desc'],'');?>"/>
    <meta name="keywords" content="<?php echo fetch_or_get($hs['page_kw'],'');?>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="icon" type="image/png" sizes="16x16" href="<?php echo hs_get_media($hs['config']['site_favicon']); ?>">
    <link href="{{CONFIG url}}/store/statics/material_icon_fonts/material_icon.css" rel="stylesheet" type="text/css"/>
    <link href="{{CONFIG url}}/store/statics/plugins/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{CONFIG url}}/views/v1/statics/css/preloader.min.css"/>
    <link href="{{CONFIG url}}/store/statics/plugins/node-waves/waves.css" rel="stylesheet" />
    <link href="{{CONFIG url}}/store/statics/plugins/animate-css/animate.css" rel="stylesheet" />
    <link href="{{CONFIG url}}/store/statics/css/style.css" rel="stylesheet"/>
    <!-- ADP Default css styles END-->

    <!-- ADP Custom common css styles -->
    <link href="{{CONFIG url}}/store/statics/css/apps/common/store.common.style.css" rel="stylesheet"/>
    <link href="{{CONFIG url}}/store/statics/css/apps/common/store.common.mq.css" rel="stylesheet"/>
    <!-- ADP Custom common css styles END -->
    
    <link href="{{CONFIG url}}/store/statics/css/themes/all-themes.css" rel="stylesheet" />

    <?php echo hs_loadpage('css_plugins'); ?>
    <?php echo hs_loadpage('js_plugins'); ?>

    {{CONFIG google_analytics}}

    <?php echo hs_loadpage('commonjs/frontend_jstools/script_master'); ?>
</head>

<body class="theme-red">
    <input type="hidden" class="hidden d-none csrf-token" value="<?php echo fetch_or_get($hs['csrf_token'],'none') ?>">
    <div class="main-preloader-holder" id="main-preloader-holder">
        <div class="main-preloader">
            <div class="loading">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    </div>

    <?php echo hs_loadpage('sp_header/content'); ?>
    
    <aside id="leftsidebar" class="sidebar hs-store-main-sidebar">
        <div class="user-info">
            <div class="image">
                <img src="{{ME avatar}}" alt="Avatar" data-user-avatar-image="{{ME id}}">
            </div>
            <div class="info-container">
                <div class="name">{{ME name}}</div>
                <div class="email">{{ME email}}</div>
            </div>
        </div>
        <div class="menu">
            <ul class="list" data-snode="main-sidebarmenu">
                <li class="header">{{TR Main navigation}}</li>
                <li class="mml to-home" data-nav-list-item="home">
                    <a href="{{LINK /}}">                        
                        <i class="material-icons">home</i>
                        <span>{{TR Home}}</span>
                    </a>
                </li> 
                <?php if($hs['is_seller']){ ?>
                <li class="mml" data-nav-list-item="dashboard">
                    <a href="{{LINK merchant_panel/dashboard}}">
                        <svg xmlns="http://www.w3.org/2000/svg" style="margin-top:7px" fill="#787878" height="24" viewBox="0 0 24 24" width="24"><path d="M4 14h4v-4H4v4zm0 5h4v-4H4v4zM4 9h4V5H4v4zm5 5h12v-4H9v4zm0 5h12v-4H9v4zM9 5v4h12V5H9z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                        <span>{{TR Dashboard}}</span>
                    </a>
                </li>
                <?php } ?>
                <li class="mtl">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">shopping_basket</i>
                        <span>{{TR Orders}}</span>
                    </a>
                    <ul class="ml-menu">
                        <?php if($hs['is_seller']){ ?>
                            <li data-nav-list-item="customer_orders">
                                <a href="{{LINK merchant_panel/customer_orders}}">
                                    <?php if(intval($hs['product_notifications']['custorders'])>0){?>
                                    <span id="hb-items-new-drafts" class="new-messages new-new n-prod">
                                        {{custorders}}
                                    </span><?php }?>
                                    {{TR Customer orders}}
                                </a>
                            </li>
                        <?php } ?>
                        <li data-nav-list-item="my_orders">
                            <a href="{{LINK merchant_panel/my_orders}}">
                                <?php if(intval($hs['product_notifications']['myorders'])>0){?>
                                    <span id="hb-items-new-drafts" class="new-messages new-new n-prod">
                                        {{myorders}}
                                    </span>
                                <?php }?>
                                {{TR My orders}}
                            </a>
                        </li>
                    </ul>
                </li>
                <?php if($hs['is_seller']){ ?>
                    <li class="mtl">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">assignment</i>
                            <span>{{TR Trading items}}</span>
                        </a>
                        <ul class="ml-menu">
                            <li data-nav-list-item="my_products">

                                <a href="{{LINK merchant_panel/my_products}}">

                                <?php if(intval($hs['product_notifications']['my_products'])>0){?>
                                    <span id="hb-items-new-drafts"  class="new-messages new-new n-prod">
                                        <?=$hs['product_notifications']['my_products']?>
                                    </span>
                                <?php }?>
                                    {{TR Products}}
                                </a>
                            </li>
                            <li data-nav-list-item="products_draft">
                              <a href="{{LINK merchant_panel/products_draft}}">  
                                <?php if(intval($hs['product_notifications']['drafts'])>0){?>
                                    <span id="hb-items-new-drafts" class="new-messages new-new n-prod">
                                        {{drafts}}
                                    </span>
                                <?php }?>
                                {{TR Draft}}
                              </a>
                            </li>
                            <li data-nav-list-item="add_product">
                                <a href="{{LINK merchant_panel/add_product}}">{{TR Add Product}}</a>
                            </li>
                        </ul>
                    </li>
                
                    <li class="mml" data-nav-list-item="customers">
                        <a href="{{LINK merchant_panel/customers}}">
                            <i class="material-icons">group</i>
                            <span>{{TR Customers}}</span>
                        </a>
                    </li>
                    <li class="mml" data-nav-list-item="wallet">
                        <a href="{{LINK merchant_panel/wallet}}">
                            <i class="material-icons">account_balance_wallet</i>
                            <span>{{TR Wallet}}</span>
                        </a>
                    </li>
                <?php } ?>
                <?php if (not_empty($hs['is_admin'])): ?>                
                    <li class="mtl">
                        <a href="javascript:void(0);" class="menu-toggle">
                        <?php if((intval($hs['product_notifications']['new']) + intval($hs['product_notifications']['deleted']) + intval($hs['product_notifications']['accountToDel']))>0){ ?>
                            <span id="hb-items-new-total" class="new-messages new-new" style="color:#fff!important">{{total}}</span>
                        <?php } else { ?>    
                            <i class="material-icons">cached</i>
                        <?php } ?>    
                            <span>{{TR New Updates}}</span>
                        </a>
                        <ul class="ml-menu">
                            <li data-nav-list-item="new_products">
                                <a href="{{LINK merchant_panel/new_products}}">
                                 <?php if(intval($hs['product_notifications']['new'])>0){?><span id="hb-items-new-new" class="new-messages message-product">{{new_product_notifications}}</span><?php } ?> {{TR New products}}
                                </a>
                            </li>
                            <li data-nav-list-item="account_removals">
                                <a href="{{LINK merchant_panel/account_removals}}">
                                    <?php if(intval($hs['product_notifications']['accountToDel'])>0){?><span id="hb-items-new-new" class="new-messages message-product">{{accountToDel}}</span><?php } ?> 
                                    {{TR Account deleting}}
                                </a>
                            </li>
                            <li data-nav-list-item="account_verification">
                                <a href="{{LINK merchant_panel/account_verification}}">
                                    <?php if(intval($hs['product_notifications']['accountVerifications'])>0){?><span id="hb-items-new-new" class="new-messages message-product"><?=$hs['product_notifications']['accountVerifications']?></span><?php } ?> 
                                    {{TR Sales submitions}}
                                </a>
                            </li>
                            <li data-nav-list-item="product_removals">
                                <a href="{{LINK merchant_panel/product_removals}}">
                                  <?php if(intval($hs['product_notifications']['deleted'])>0){?><span id="hb-items-new-deleted" class="new-messages message-product">{{deleted_product_notifications}}</span><?php }?>  {{TR Product deleting}}
                                </a>
                            </li>
                            <li data-nav-list-item="customer_refunds">
                                <a href="{{LINK merchant_panel/customer_refunds}}">
                                    <?php if(intval($hs['product_notifications']['returns'])>0){?><span id="hb-items-new-new" class="new-messages message-product"><?=$hs['product_notifications']['returns']?></span><?php } ?> 
                                    {{TR Refunds}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mtl">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">dashboard</i>
                            <span>{{TR System}}</span>
                        </a>
                        <ul class="ml-menu">
                            <li data-nav-list-item="market_products">                                
                                <a href="{{LINK merchant_panel/market_products}}">
                                    <?php if(intval($hs['product_notifications']['allproducts']) > 0){?><span id="hb-items-new-deleted" class="new-messages message-product">{{allproducts}}</span><?php }?>                                    
                                    {{TR Products}}
                                </a>
                            </li>
                            <li data-nav-list-item="products_drafts">
                                <a href="{{LINK merchant_panel/products_drafts}}">                                    
                                <?php if(intval($hs['product_notifications']['alldrafts']) > 0){?><span id="hb-items-new-deleted" class="new-messages message-product">{{alldrafts}}</span><?php }?>
                                    {{TR Draft}}
                                </a>
                            </li>
                            <li data-nav-list-item="market_merchants">
                                <a href="{{LINK merchant_panel/market_merchants}}">
                                    <?php if(intval($hs['product_notifications']['allmerchants']) > 0){?><span id="hb-items-new-deleted" class="new-messages message-product">{{allmerchants}}</span><?php }?>
                                    {{TR Merchants}}
                                </a>
                            </li>
                            <li data-nav-list-item="market_users">
                                <a href="{{LINK merchant_panel/market_users}}">
                                    <?php if(intval($hs['product_notifications']['allusers']) > 0){?><span id="hb-items-new-deleted" class="new-messages message-product">{{allusers}}</span><?php }?>
                                    {{TR Users}}
                                </a>
                            </li>
                            <li data-nav-list-item="market_moderators">
                                <a href="{{LINK merchant_panel/market_moderators}}">
                                    <?php if(intval($hs['product_notifications']['allmoderators']) > 0){?><span id="hb-items-new-deleted" class="new-messages message-product">{{allmoderators}}</span><?php }?>
                                    {{TR Moderators}}
                                </a>
                            </li>
                            <li data-nav-list-item="reports">
                                <a href="{{LINK merchant_panel/reports}}">
                                    <?php if(intval($hs['product_notifications']['reportscount']) > 0){?><span id="hb-items-new-deleted" class="new-messages message-product">{{reportscount}}</span><?php }?>
                                    {{TR Reports}}
                                </a>
                            </li>
                            <li data-nav-list-item="gcs_card">
                                <a href="{{LINK merchant_panel/gcs_card}}">
                                    <?php if(intval($hs['product_notifications']['reclamacount']) > 0){?><span id="hb-items-new-deleted" class="new-messages message-product">{{reclamacount}}</span><?php }?>
                                    {{TR Banners}}
                                </a>
                            </li>
                            <li data-nav-list-item="add_gcs_card">
                                <a href="{{LINK merchant_panel/add_gcs_card}}">{{TR Insert banner}}</a>
                            </li>                            
                        </ul>
                    </li>
                    <li class="mtl">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">monetization_on</i>
                            <span>{{TR Payments}}</span>
                        </a>
                        <ul class="ml-menu">
                            <li data-nav-list-item="market_payouts">
                                <a href="{{LINK merchant_panel/market_payouts}}">{{TR Payouts}}</a>
                            </li>
                            <li data-nav-list-item="market_transactions">
                                <a href="{{LINK merchant_panel/market_transactions}}">{{TR Checkouts}}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mtl">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">build</i>
                            <span>{{TR Tools}}</span>
                        </a>
                        <ul class="ml-menu">
                            <li data-nav-list-item="create_announcement">
                                <a href="{{LINK merchant_panel/create_announcement}}">
                                    {{TR Announcements}}
                                </a>
                            </li>
                            <li data-nav-list-item="site_map">
                                <a href="{{LINK merchant_panel/site_map}}">
                                    {{TR SiteMap}}
                                </a>
                            </li>
                            <li data-nav-list-item="backup">
                                <a href="{{LINK merchant_panel/backup}}">
                                    {{TR Backup}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mtl">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">settings</i>
                            <span>{{TR Global settings}}</span>
                        </a>
                        <ul class="ml-menu">
                            <li data-nav-list-item="site_settings">
                                <a href="{{LINK merchant_panel/site_settings}}">
                                    {{TR Site settings}}
                                </a>
                            </li>
                            <li data-nav-list-item="payment_settings">
                                <a href="{{LINK merchant_panel/payment_settings}}">
                                    {{TR Payment settings}}
                                </a>
                            </li>
                            <li data-nav-list-item="prod_categories">
                                <a href="{{LINK merchant_panel/prod_categories}}">
                                    {{TR Product categories}}
                                </a>
                            </li>
                            <li data-nav-list-item="additional_settings">
                                <a href="{{LINK merchant_panel/additional_settings}}">
                                    {{TR Additional settings}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mtl">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">public</i>
                            <span>{{TR Localization}}</span>
                        </a>
                        <ul class="ml-menu">
                            <li data-nav-list-item="site_languages">
                                <a href="{{LINK merchant_panel/site_languages}}">
                                    {{TR Languages}}
                                </a>
                            </li>
                            <li data-nav-list-item="site_currencies">
                                <a href="{{LINK merchant_panel/site_currencies}}">
                                    {{TR Currencies}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mtl">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">info_outline</i>
                            <span>{{TR Documentation}}</span>
                        </a>
                        <ul class="ml-menu">
                            <li data-nav-list-item="doc_about_us">
                                <a href="{{LINK merchant_panel/doc_about_us}}">
                                    {{TR About us}}
                                </a>
                            </li>
                            <li data-nav-list-item="doc_privacy_policy">
                                <a href="{{LINK merchant_panel/doc_privacy_policy}}">
                                    {{TR Policy}}
                                </a>
                            </li>
                            <li data-nav-list-item="doc_terms">
                                <a href="{{LINK merchant_panel/doc_terms}}">
                                    {{TR Terms}}
                                </a>
                            </li>    
                            <li data-nav-list-item="doc_merchant_terms">
                                <a href="{{LINK merchant_panel/doc_merchant_terms}}">
                                    {{TR Merchant terms}}
                                </a>
                            </li>    
                        </ul>
                    </li>
                <?php endif; ?>
                <?php if($hs['is_seller']){ ?>
                <li class="mml" data-nav-list-item="withdrawals">
                    <a href="{{LINK merchant_panel/withdrawals}}">
                        <i class="material-icons">account_balance</i>
                        <span>{{TR Withdrawals}}</span>
                    </a>
                </li>
                <?php } ?>
                <li class="mtl">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">account_circle</i>
                        <span>{{TR Account}}</span>
                    </a>
                    <ul class="ml-menu">
                        <?php if($hs['is_seller']){ ?>
                            <li data-nav-list-item="account_reviews">
                                <a href="{{LINK merchant_panel/account_reviews}}">
                                    {{TR Customer Reviews}}
                                </a>
                            </li>
                        <?php } ?>
                        <li data-nav-list-item="main_settings">
                            <a href="{{LINK merchant_panel/main_settings}}">
                                {{TR Account Settings}}
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="mml" data-nav-list-item="help">
                    <a href="{{LINK help}}">
                        <i class="material-icons">help</i>
                        <span>{{TR Help}}</span>
                    </a>
                </li>
                <?php if (!not_empty($hs['is_admin'])&&!not_empty($hs['is_seller'])): ?>
                    <li class="mml" data-nav-list-item="help">
                        <a class="become-seller-button" data-affix-scroll="account_verification">
                            <i class="material-icons">account_box</i>
                            <span>{{TR Become a seller}}</span>
                        </a>
                    </li>
                <?php endif; ?>
                <?php if (not_empty($hs['is_admin'])): ?>
                    <li class="mml" data-nav-list-item="changelogs">
                        <a href="{{LINK merchant_panel/changelogs}}">
                            <i class="material-icons">update</i>
                            <span>{{TR Changelogs}}</span>
                        </a>
                    </li>
                <?php endif; ?>
            </ul>
        </div>
        <div class="legal">
            <?php echo hs_loadpage('footer/small'); ?>
        </div>
    </aside>

    <section class="content" data-storepage="{{store_page}}">
        <?php if (not_empty($hs['temp_session'])): ?>
            <div class="clearfix text-right m-b-10">
                <button class="btn btn-custom btn-lg bg-main-red btn-rounded" data-anchor="{{LINK temporary_session_finish}}">
                    <span>{{TR Finish session}}</span> <i class="material-icons">exit_to_app</i>
                </button>
            </div>
            <div class="alert alert-warning">
                <p>
                    <strong><i class="material-icons">warning</i> {{TR Please note}}:</strong> 
                    <?php echo hs_translate("You are now logged in as {%uname%}, please be careful all the actions that you will carry out will be generated on this user's account!", array('uname' => sprintf('<b>%s</b>',$hs['me']['name']))); ?>
                </p>
            </div>
        <?php endif; ?>  

        <?php if (not_empty($hs['announcements'])): ?>
            <?php echo hs_loadpage('announcements/plm_content/content'); ?>
            <?php echo hs_loadpage('commonjs/announcements/script_master'); ?>
        <?php endif; ?>

        {{page_content}}
    </section>
    <?php echo hs_loadpage('upsert_product/darkscreen');?>
    <?php echo hs_loadpage('upsert_product/upload_photo');?>
    <script>
        jQuery(document).ready(function($) {     
            "use strict";
            
            var curr_store_page = $("section.content").data('storepage');
            if ($('li[data-nav-list-item="{0}"]'.format(curr_store_page)).length) {

                if ($('li[data-nav-list-item="{0}"]'.format(curr_store_page)).hasClass('mml')) {
                    $('li[data-nav-list-item="{0}"]'.format(curr_store_page)).addClass('active');
                } 

                else{
                    $('li[data-nav-list-item="{0}"]'.format(curr_store_page)).addClass('active').parents('li.mtl').addClass('active').find('a.menu-toggle').addClass('toggled');
                }
            }
        });
    </script>
</body>
</html>
