<div class="clearfix" id="customers-orders-page">
    <div class="block-header">
        <nav class="breadcrumbs-cust" aria-label="breadcrumb breadcrumb-cust">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{LINK merchant_panel}}">{{TR Control panel}}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ME url}}">
                        {{ME name}}
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    {{TR Customers orders}}
                </li>
            </ol>
        </nav>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card ajax-ctrl-table">
                <div class="header">
                    <h2 class="card-inside-title">
                        {{TR List of all customer orders}}
                    </h2>
                    <div class="rows-filter">
                        <input type="text" placeholder="{{TR Search for orders by customer name}}" id="search-orders">
                        <i class="material-icons search">search</i>
                        <i class="material-icons clear hidden" id="clear-searching-terms">clear</i>
                    </div>
                </div>
                <div class="body table-responsive">
                        <?php $pageNum = floor($hs['orders_total']/10); if($pageNum * 10 < $hs['orders_total']) {$pageNum++;}; ?>
                        <input type="hidden" id="js-max-page" value="<?=$pageNum?>">
                        <input type="hidden" id="js-page-num" value="0">
                    <table class="table no-mb" id="orders-list">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>{{TR Customer name}}</th>
                                <th>{{TR Contact}}</th>
                                <th>{{TR Details}}</th>
                                <th>{{TR Product}}</th>
                                <th>{{TR Total amount}}</th>
                                <th>{{TR Quantity}}</th>
                                <th>{{TR Placed}}</th>
                                <th>{{TR Status}}</th>
                                <th>{{TR Actions}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if (not_empty($hs['orders_list'])): ?>
                                <?php foreach ($hs['orders_list'] as $hs['ord_item']): ?>
                                    <?php echo hs_loadpage('customer_orders/includes/order_list'); ?>
                                <?php endforeach; ?>
                            <?php else: ?>
                                <?php echo hs_loadpage('customer_orders/includes/empty_table'); ?>
                            <?php endif; ?>
                        </tbody>
                    </table>
                    <?php if (not_empty($hs['orders_list'])): ?>
                        <div class="data-preloader-wrapper hidden" id="table-preloader">
                            <?php echo hs_loadpage('components/data_preloader'); ?>
                        </div>
                        <a href="javascript:void(0);" class="pagination-ctrls prev">
                                <i class="material-icons">chevron_left</i>
                        </a>
                        <a href="javascript:void(0);" class="pagination-ctrls next">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    <?php endif; ?> 
                </div>
            </div>
        </div>
    </div>
</div>
<?php echo hs_loadpage('customer_orders/static/js/custord_master_script'); ?>