<div class="modal animated vh-center fadeIn confirm-action-modal" id="confirm-reject-request-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="form">
                <input type="hidden" class="hidden d-none" name="hash" value="<?php echo fetch_or_get($hs['csrf_token'],'none') ?>">
                <div class="modal-header">
                    <h4 class="modal-title">{{TR Please confirm your actions!}}</h4>
                </div>
                <div class="modal-body">
                    {{TR Reject request}}?
                    <h5 class="modal-title">{{TR Put your explanations here}}</h5>
                    <textarea id="request_reject_explanation" name="explanation" style="width : 100%; padding :7px"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-main-red waves-effect">{{TR Reject request}}</button>
                    <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal"> <?= hs_translate('No, Cancel')?></button>
                </div>
                <input type="hidden" name="user_id" value="0">
            </form>
        </div>
    </div>
</div>