<ul class="payment-service-providers-list">
	<!--<?php if ($hs['config']['paypal_gateway_status'] == 'off'): ?>
		<li class="payment-method disabled" data-method="paypal">
	<?php else: ?>
		<li class="payment-method" data-method="paypal">
	<?php endif; ?>
		<div class="provider-logo">
			<img src="<?php echo(hs_png("paypal")); ?>" alt="Icon">
		</div>
		<div class="provider-name">
			PayPal
		</div>
		<span class="check">
			<?php echo(hs_svg("check-mark")); ?>
		</span>
	</li>

	<?php if ($hs['config']['stripe_gateway_status'] == 'off'): ?>
		<li class="payment-method disabled" data-method="card">
	<?php else: ?>
		<li class="payment-method" data-method="card">
	<?php endif; ?>
		<div class="provider-logo">
			<img src="<?php echo(hs_png("credit-card")); ?>" alt="Icon">
		</div>
		<div class="provider-name">
			{{TR Bank card}}
		</div>
		<span class="check">
			<?php echo(hs_svg("check-mark")); ?>
		</span>
	</li>-->
	
	<!-- Disabled payment methods -->

		<!-- <li class="payment-method disabled" data-method="qiwi">
			<div class="provider-logo">
				<img src="<?php echo(hs_png("qiwi")); ?>" alt="Icon">
			</div>
			<div class="provider-name">
				{{TR Qiwi Wallet}}
			</div>
			<span class="check">
				<?php echo(hs_svg("check-mark")); ?>
			</span>
		</li>
		<li class="payment-method disabled" data-method="yandmoney">
			<div class="provider-logo">
				<img src="<?php echo(hs_png("yandmoney")); ?>" alt="Icon">
			</div>
			<div class="provider-name">
				{{TR Yandex money}}
			</div>
			<span class="check">
				<?php echo(hs_svg("check-mark")); ?>
			</span>
		</li> -->
		
	<!-- Disabled payment methods END -->
	
	<?php if ($hs['config']['cod_gateway_status'] == 'off'): ?>
		<li class="payment-method disabled" data-method="cod">
	<?php else: ?>
		<li class="payment-method active" data-method="cod">
	<?php endif; ?>
	<!--	<div class="provider-logo">
			<!--<img src="<?php echo(hs_png("cash")); ?>" alt="Icon">-->
                <!--    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
		</div>
		<div class="provider-name">
			{{TR Cash on delivery}}
		</div>
		<span class="check">
			<?php echo(hs_svg("check-mark")); ?>
		</span>-->
	</li>
<!--
	<?php if ($hs['config']['wallet_gateway_status'] == 'off'): ?>
		<li class="payment-method disabled" data-method="wallet">
	<?php else: ?>
		<li class="payment-method" data-method="wallet">
	<?php endif; ?>
		<div class="provider-logo">
			<img src="<?php echo(hs_png("wallet")); ?>" alt="Icon">
		</div>
		<div class="provider-name">
			{{TR My wallet}} ({{ME wallet}})
		</div>
		<span class="check">
			<?php echo(hs_svg("check-mark")); ?>
		</span>
	</li>-->
</ul>