<div class="clearfix" id="products-management-page">
    <div class="block-header">
        <nav class="breadcrumbs-cust" aria-label="breadcrumb breadcrumb-cust">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{LINK merchant_panel}}">{{TR Control panel}}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{LINK merchant_panel/my_products}}">
                        {{TR Trading items}}
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    {{TR Banner list}}
                </li>
            </ol>
        </nav>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card ajax-ctrl-table">
                <div class="header">
                    <h2>{{TR Banner list}} (<?php echo($hs['my_draft_tot']); ?>)</h2>
                </div>
                <div class="body table-responsive">
                    <table class="table table-hover no-mb" id="prods-list">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>{{TR Poster}}</th>
                                <th>{{TR Card title}}</th>                                
                                <th>{{TR Full link}}</th>
                                <th>{{TR Status}}</th> 
                                <th>{{TR Action}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if (not_empty($hs['my_prods'])): ?>
                                <?php foreach ($hs['my_prods'] as $hs['prod_item']): ?>
                                    <?php echo hs_loadpage('gcs_card/includes/prod_list_item'); ?>
                                <?php endforeach; ?>
                            <?php else: ?>
                                <?php echo hs_loadpage('gcs_card/includes/empty_table'); ?>
                            <?php endif; ?>
                        </tbody>
                    </table>
                    <?php if (not_empty($hs['my_prods'])): ?>
                        <div class="data-preloader-wrapper hidden" id="table-preloader">
                            <?php echo hs_loadpage('components/data_preloader'); ?>
                        </div>

                        <a href="javascript:void(0);" class="pagination-ctrls prev">
                            <i class="material-icons">chevron_left</i>
                        </a>
                        <a href="javascript:void(0);" class="pagination-ctrls next">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    <?php endif; ?> 
                </div>
            </div>
        </div>
    </div>
</div>
<?php echo hs_loadpage('market_products/modals/confirmations/prod_removal'); ?>
<?php echo hs_loadpage('market_products/static/js/market_products_script'); ?>