<link href="{{CONFIG url}}/store/layout/upsert_gcs_card/static/css/upsert_gcs_card.css" rel="stylesheet"/>
<div class="clearfix data-management-page" id="product-upsert-page">
    <div class="block-header">
        <nav class="breadcrumbs-cust" aria-label="breadcrumb breadcrumb-cust">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{LINK merchant_panel}}">{{TR Control panel}}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{LINK merchant_panel/my_products}}">
                        {{TR Trading items}}
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    {{TR Edit card}}
                </li>
            </ol>
        </nav>
    </div>
    <div class="clearfix">
        <div class="affixed-page-section">
            <div class="affixed-page-part-1">
            	<form data-prod-id="{{prod_id}}" class="clearfix form-horizontal product-upsert-form gcs-card" id="product-upsert-form">
                    <input type="hidden" class="hidden d-none" name="hash" value="<?php echo fetch_or_get($hs['csrf_token'],'none') ?>">
                    <div class="card">
                        <div class="header">
                            <h2>{{TR Edit card}}</h2>
                        </div>
                        <div class="body">
                            <div class="data-management-area">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="inline-alertbox-wrapper">
                                            <div class="inline-alertbox info">
                                                <div class="icon">
                                                    <i class="material-icons">info</i>
                                                </div>
                                                <div class="alert-message">
                                                    <p>{{TR Please remember to save before leaving this page, otherwise the product will be automatically moved to the draft list of products!}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="form-fieldset-title clearfix" data-affix-label="prod_basic_info">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>
                                               <!-- {{TR Product Basic Information}}-->
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-12" data-form-field="3">
                                            <label class="form-label">
                                                {{TR Name}} (от <?=$hs['config']['prod_min_name']?> до <?=$hs['config']['prod_max_name']?> символов):
                                            </label>
                                            <div class="filed-box">
                                                <input value="{{prod_name}}" name="name" type="text" class="form-control" placeholder="{{TR Card title}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    	        <hr>
                                <div class="form-group form-field-box">                                        
                                        <div class="col-sm-12" data-form-field="4">
                                                <label class="form-label">
                                                    {{TR Full link}}:
                                                </label>
                                                <div class="filed-box">
                                                    <input value="{{card_link}}" name="card_link" type="text" class="form-control" placeholder="{{TR Full link}}">
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-fieldset-title clearfix" data-affix-label="prod_images">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>
                                               <!-- {{TR Product Poster & Photos}}-->
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-field-box">
                                    <div class="row clearfix">
                                        <div class="col-sm-12" data-form-field="5">
                                            <label class="form-label">
                                                {{TR Poster}}:
                                            </label>
                                            <div class="filed-box">
                                                <div class="prod-pickzone-wrapper">
                                                    <div class="left-part">
                                                        <div class="pick-zone" id="select-prod-poster">
                                                            <img src="{{prod_poster}}" alt="Image">
                                                        </div>
                                                    </div>
                                                    <div class="right-part">
                                                        <div class="image-requirements-list">
                                                            <h4>{{TR Follow basic image requirements}}</h4>
                                                            <ul>
                                                                <li>
                                                                    <a href="#">
                                                                        {{TR Image size should be 800x800}}
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        {{TR Product image type must be a professional photo or cover}}
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        {{TR Product image format must be: JPEG, PNG, GIF, TIFF}}
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        {{TR Follow the frame and provide important information!}}
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        {{TR Respect copyrights to photos and images!}}
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>  
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 
                    	        <hr>
                                <input id="prodvar-types"  name="variation_type" class="form-control" type="hidden" value="single">
                            </div>
                        </div>                    
                </form>
                <form id="upload-product-poster" class="hidden">
                    <input type="hidden" class="hidden d-none" name="hash" value="<?php echo fetch_or_get($hs['csrf_token'],'none') ?>">
                    <input name="poster" type="file" class="hidden" onchange="$(this).parent('form').submit();" accept="image/*">
                </form>
                <form id="upload-gallery-images" class="hidden">
                    <input type="hidden" class="hidden d-none" name="hash" value="<?php echo fetch_or_get($hs['csrf_token'],'none') ?>">
                    <input name="image" type="file" class="hidden" onchange="$(this).parent('form').submit();" accept="image/*">
                </form>
            </div>
            <div class="affixed-page-part-2" id="right-sidepart">
                <div class="sidebar__inner">
                    <div class="card">
                        <div class="header">
                            <h2>{{TR Product data}}</h2>
                        </div>
                        <div class="body">
                            <ul class="list-group">
                                <li class="list-group-item active" data-affix-scroll="prod_basic_info">
                                    {{TR Product Basic Information}}
                                </li>
                               <!-- <li class="list-group-item" data-affix-scroll="prod_price_and_shipping">
                                    {{TR Product Pricing & Shipping}}
                                </li>
                                <li class="list-group-item" data-affix-scroll="prod_logistics_info">
                                    {{TR Product Logistics Information}}
                                </li>-->
                                <li class="list-group-item" data-affix-scroll="prod_images">
                                    {{TR Product Poster & Photos}}
                                </li>
                                <!--<li class="list-group-item" data-affix-scroll="prod_variations">
                                    {{TR Product variations}}
                                </li>-->
                            </ul>
                            <div class="ctrls">
                                <button class="btn btn-lg bg-main-red" data-main-btn="submit" title="{{TR Save changes}}">
                                    <i class="material-icons">save</i> <span class="btn-text">{{TR Save changes}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php echo hs_loadpage('upsert_gcs_card/static/js/upsert_product_script');?>
<?php echo hs_loadpage('upsert_gcs_card/includes/long_process_preloader');?>
