div.seller-rating {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: -3px;
}
div.seller-rating span svg {
    width: 15px;
    height: 15px;
    fill: #f7d96c;
}