<div class="video-centered" >
        <input type="hidden" id="mes-size" value="<?= hs_translate('Choose your image size')?>">
        <input type="hidden" id="mes-size-sub" value="<?= hs_translate('Drag over the edge of the grid to select image size')?>">
        <input type="hidden" id="mes-upload" value="<?= hs_translate('Upload your_picture')?>">
        <input type="hidden" id="mes-upload-sub" value="<?= hs_translate('To upload an image click on the camera icon')?>">
        <input type="hidden" id="mes-badfile" value="<?= hs_translate('Incorrect file format select another image')?>!">
        
        
        <div id="close-video"><span >&#10006;</span></div>     
        <div class="picture-choise-label"><?= hs_translate('Upload your_picture')?></div>  
        <div class="picture-choise-label-sub"><?= hs_translate('To upload an image click on the camera icon')?></div>
        <div class="photo-block"><img class="camera-photo" src="<?=hs_link('upload/images/')?>camera.svg" ></div>
        <div class='pict-row row'>
            <div class='pict-col col-sm-6 col-md-6  col-lg-6' id="init-photo">
                <div class="image-load-wrapper">
                    <div id="imageloaddiv" class="img-container" style=" width:100%;" ></div>	
                </div>
                <form enctype="multipart/form-data" id="mp3contestimage" action="<?=hs_link('/')?>crop.php" method="post">        
                    <div class="row" id='mp3imagetmp'>
                        <input id="adminpage" type="hidden" value="" name="adminpage" />                            
                        <input id="imageinput" style="width:1px; height:1px;" class="mp3imagebutton" onChange="Mp3FormEditImage()" name="TContest[mp3image]" type="file" />                            	
                    </div>            
                </form> 
                <div class="js-save-block" style="display:none;">
                        <div class="form-save-file-btn js-replace-image" style="cursor:pointer;" fold="">
                                        <?= hs_translate('Replace image')?>
                        </div>
                </div>
            </div>
            <div class='pict-col col-sm-6 col-md-6  col-lg-6'>
                <div class="collagepart" style="overflow:hidden; width:90%;"  id="big-miniature" propheight="1" propwidth="1" imnum="1" onclick="ThisImgPreview(this)">
                    
                </div>
                <div class="js-save-block" style="display:none;">
                        <div class="form-save-file-btn js-add-avatar" style="cursor:pointer" fold="">
                                        <?= hs_translate('Save')?>
                        </div>
                </div>
            </div>
        </div>     
                        
            <input type="hidden" id="data-x1" value="0">
            <input type="hidden" id="data-y1" value="0">
            <input type="hidden" id="data-x2" value="300">
            <input type="hidden" id="data-y2" value="300">
            <input type="hidden" id="data-height" value="">
            <input type="hidden" id="data-width" value="">
            <input type="hidden" id="aspect-ratio" value="">
            <input type="hidden" id="width-min" value="">
            <input type="hidden" id="height-min" value="">                
            <input type="hidden" id="resheight" value="">
            <input type="hidden" id="reswidth" value="">
            <input type="hidden" id="prod_id" value="{{prod_id}}">
            <input type="hidden" id="poster" value="">
            <input id="pic1data"        type="hidden">
            <input id="pic2data"        type="hidden">
            <input id="pic3data"        type="hidden">
            <input id="js-img-src"      type="hidden"> 
            <input id="js-img-last-src" type="hidden">
            <input id="js-img-tumb"     type="hidden">
            <input id="folder"          type="hidden">
            <input id="param"           type="hidden">
   </div>
