<script>
	jQuery(document).ready(function($) {
        "use strict";
        var MARKET_USERS_LS_PAGE = $("div#market-users-page");
        var MARKET_USERS_LIST    = MARKET_USERS_LS_PAGE.find('table#users-list');
		var USER_REMOVAL_M       = $("div#confirm-user-removal-modal");
        var USER_BLOCKING_M      = $("div#confirm-user-disabling-modal");

        MARKET_USERS_LS_PAGE.find('i#clear-searching-terms').on('click',function(event) {
            $(this).addClass('hidden');
            MARKET_USERS_LS_PAGE.find('input#search-users').trigger('keyup').val('');
        });

        MARKET_USERS_LS_PAGE.find('input#search-users').keyup(function(event) {
            delay(function(){
                var users_list  = MARKET_USERS_LS_PAGE.find('table#users-list');
                var preloader   = MARKET_USERS_LS_PAGE.find('div#table-preloader');
                var keyword_val = MARKET_USERS_LS_PAGE.find('input#search-users').val();
                var keyword     = ((keyword_val.length >= 4) ? keyword_val : 0);

                if (keyword && users_list.find('tr.empty-table.no-data').length == 0) {
                    MARKET_USERS_LS_PAGE.find('i#clear-searching-terms').removeClass('hidden');
                    preloader.removeClass('hidden');
                    $.ajax({
                        url: '{{CONFIG url}}/req/admin/search_market_users',
                        type: 'GET',
                        dataType: 'json',
                        data: {keyword: keyword}
                    }).done(function(data) {
                        if (data.status == 200) {
                            MARKET_USERS_LS_PAGE.find('a.pagination-ctrls').removeClass('hidden');
                            users_list.find('tbody').html(data.html);
                        }
                        else if(data.status == 404) {
                            MARKET_USERS_LS_PAGE.find('a.pagination-ctrls').addClass('hidden');
                            users_list.find('tbody').html(data.html);
                        }
                    }).fail(function() {
                        $.notify({
                            message: 'Error: Failed to connect to the server. Please check your internet connection',
                        },{
                            allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                            placement: {from: "bottom",align: "left"},
                            offset: {x: 40,y: 30},
                            animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                        });
                    }).always(function() {
                        setTimeout(function(){
                            preloader.addClass('hidden');
                        },500);
                    });
                }

                else {
                    if (hs_empty(keyword_val)) {
                        MARKET_USERS_LS_PAGE.find('i#clear-searching-terms').addClass('hidden');
                        MARKET_USERS_LS_PAGE.find('a.pagination-ctrls').removeClass('hidden');
                    }

                    if (window.users_table_rows) {
                        users_list.html(window.users_table_rows);
                    }
                } 
            },1000);
        });

        if (MARKET_USERS_LS_PAGE.find('table#users-list').find('tr[data-user-li]').length) {
            if (MARKET_USERS_LS_PAGE.find('table#users-list').find('tr.empty-table.no-data').length == 0) {
                window.users_table_rows = MARKET_USERS_LS_PAGE.find('table#users-list').html();
            }
        }

        MARKET_USERS_LS_PAGE.find('a.pagination-ctrls').on('click',function(event) {
            event.preventDefault();
            event.stopPropagation();
            if ($(this).hasClass('disabled') != true) { 
                var pager_ctrls = MARKET_USERS_LS_PAGE.find('a.pagination-ctrls');
                var this_ctrl   = $(this);
                var users_list  = MARKET_USERS_LS_PAGE.find('table#users-list');
                var pager_dir   = (($(this).hasClass('prev')) ? 'up' : 'down');
                var last_req    = users_list.find('tr[data-user-li]').last().data('user-li');
                var first_req   = users_list.find('tr[data-user-li]').first().data('user-li');
                var preloader   = MARKET_USERS_LS_PAGE.find('div#table-preloader').removeClass('hidden');
                var keyword     = MARKET_USERS_LS_PAGE.find('input#search-users').val();
                var keyword     = ((keyword.length >= 4) ? keyword : '');
                var pager_ctrls = pager_ctrls.removeClass('disabled');

                $.ajax({
                    url: '{{CONFIG url}}/req/admin/get_market_users',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        dir: pager_dir, 
                        last: last_req, 
                        first: first_req,
                        keyword: keyword,
                    },
                }).done(function(data) {
                    if (data.status == 200) {
                        users_list.find('tbody').html(data.html);
                    }
                    else{
                        this_ctrl.addClass('disabled');
                    }
                }).fail(function() {
                    $.notify({
                        message: 'Error: Failed to connect to the server. Please check your internet connection',
                    },{
                        allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                        placement: {from: "bottom",align: "left"},
                        offset: {x: 40,y: 30},
                        animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                    });
                }).always(function() {
                    delay(function(){
                        preloader.addClass('hidden');
                    },500);
                });
            }
            else {
                return false;
            }
        });

        $(document).on('click', '[data-onclick]', function(event) {
            event.preventDefault();
            var event_trigger = $(this).data('onclick');
            var zis_el        = $(this);
            if(event_trigger == 'delete_user') {
                var account_id = zis_el.data('id');
                USER_REMOVAL_M.find('input[name="user_id"]').val(account_id);
                USER_REMOVAL_M.modal('show');
            }

            else if(event_trigger == 'edit_user') {
                var account_id = zis_el.data('id');
                $.ajax({
                    url: '{{CONFIG url}}/req/admin/edit_account',
                    type: 'GET',
                    dataType: 'json',
                    data: {account_id: account_id},
                    beforeSend: function() {

                    }
                }).done(function(data) {
                    if (data.status == 200) {
                        $('body').append($(data.html).modal('show'));
                       $('div.group-set-title[data-gset-collapse=advanced_settings]').addClass('open');
                       $('div.collapse-form[data-gset=advanced_settings]').show();
                       $('input[name=wallet]').focus();
                    }
                    else {
                        if (data.message) {
                           $.notify({
                                message: data.message,
                            },{
                                allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                                placement: {from: "bottom",align: "left"},
                                offset: {x: 40,y: 30},
                                animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                            }); 
                        }
                    }
                });
            }
        });

        $(document).on('change', '[data-onchange]', function(event) {
            event.preventDefault();
            var this_el    = $(this);
            var event_name = this_el.data('onchange');

            if (event_name == "toggle_user_status") {

                var account_id = this_el.data('accid');

                if (this_el.is(':checked')) {
                    $.ajax({
                        url: '{{CONFIG url}}/req/admin/disable_account',
                        type: 'POST',
                        dataType: 'json',
                        data: {user_id: account_id,status: 'enable'},
                    }).done(function(data) {
                        if (data.message) {
                            $.notify({
                                message: data.message,
                            },{
                                allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                                placement: {from: "bottom",align: "left"},
                                offset: {x: 40,y: 30},
                                animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                            });
                        }
                    }).always(function(){
                        USER_BLOCKING_M.find('button').removeAttr('disabled');
                    });
                }
                else {
                    USER_BLOCKING_M.find('input[name="user_id"]').val(account_id);
                    USER_BLOCKING_M.find('button[type="button"]').data('id',account_id);
                    USER_BLOCKING_M.modal('show');
                }
            }
        });

        USER_BLOCKING_M.find('button[type="button"]').on('click', function(event) {
            event.preventDefault();
            var this_el    = $(this);
            var acc_id     = this_el.data('id');
            MARKET_USERS_LIST.find('input[data-accid="{0}"]'.format(acc_id)).prop('checked', true);
        });

        USER_BLOCKING_M.find('form#form').ajaxForm({
            url: '{{CONFIG url}}/req/admin/disable_account',
            type: 'POST',
            dataType: 'json',
            beforeSend: function() {
                USER_BLOCKING_M.find('button').attr('disabled', 'true');
            },
            success: function(data) {
                if (data.message) {
                    $.notify({
                        message: data.message,
                    },{
                        allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                        placement: {from: "bottom",align: "left"},
                        offset: {x: 40,y: 30},
                        animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                    });
                }
            },
            complete: function() {
                USER_BLOCKING_M.modal('hide');
                USER_BLOCKING_M.find('button').removeAttr('disabled');
            }
        });

        USER_REMOVAL_M.find('form#form').ajaxForm({
            url: '{{CONFIG url}}/req/admin/delete_account',
            type: 'POST',
            dataType: 'json',
            beforeSend: function() {
                USER_REMOVAL_M.find('button').attr('disabled', 'true');
            },
            success: function(data) {
                if (data.message) {
                    $.notify({
                        message: data.message,
                    },{
                        allow_dismiss: false,icon_type: "class",type: 'default',timer: 500,
                        placement: {from: "bottom",align: "left"},
                        offset: {x: 40,y: 30},
                        animate: {enter: 'animated fadeInUp',exit: 'animated fadeOutDown'}
                    });
                }

                if (MARKET_USERS_LIST.find('tr[data-user-li]').length > 1) {
                    if (data.status == 200) {
                        var account_id = USER_REMOVAL_M.find('input[name="user_id"]').val();
                        MARKET_USERS_LIST.find('tr[data-user-li="{0}"]'.format(account_id)).slideUp(150,function(){
                            $(this).remove();
                        });

                        USER_REMOVAL_M.find('button').removeAttr('disabled');
                        USER_REMOVAL_M.find('input[name="user_id"]').val('');
                    }
                }

                else {
                    MARKET_USERS_LIST.css('opacity', '0.3');
                    $(window).reloadPage(1500);
                } 
            },
            complete: function() {
                USER_REMOVAL_M.modal('hide');
                USER_REMOVAL_M.find('button').removeAttr('disabled');
            }
        });
        /*
         * 
         */
        $('.wall-face').on('click',function(){
            $(this).parent().next('td').find('ul').children().eq(1).trigger('click');
            //$(documet).find('div.data-gset-collapse[data-gset-collapse=advanced_settings]').addClass('open').parent().find('div.modal.edit-userdata-modal').show();
            //alert($(documet).find('#edit-udata-modal').attr('class'));
            //alert(137);
        })
       
        
        
	});
</script>