<tr class="products" data-prod-list-item="<?php echo($hs['prod_item']['id']); ?>">
    <td>
        <?php echo($hs['prod_item']['id']); ?>
    </td>
    <td class="poster">
        <a href="#" class="poster-holder">
            <img src="<?php echo($hs['prod_item']['thumb']); ?>" alt="Image">
        </a>
    </td>
    <td class="link">
        <a href="#">
            <?php echo($hs['prod_item']['name']); ?>
        </a>
    </td>
    <td>
        <div class="avatar-holder">
            <img src="<?=$hs['prod_item']['owneravatar'] ?>" alt="<?= $hs['prod_item']['ownername'] ?>"><?=$hs['prod_item']['ownerating']?>
        </div>
        <a href="<?= $hs['prod_item']['ownerurl'] ?>">
                <?= $hs['prod_item']['ownername'] ?>

                <?php if ($hs['prod_item']['ownerverif'] == '1'): ?>
            <?php echo hs_svg('verified-icon'); ?>
            <?php endif; ?>
        </a>
       <!-- <div class="seller-rating">
                <?php if (not_empty($hs['prod_item']['ownerating'])): ?>
                        <?php foreach ($hs['prod_item']['ownerating'] as $star): ?>
                                <span>
                                        <?php echo($star); ?>
                                </span>
                        <?php endforeach; ?>
                <?php else: ?>	
                        <?php echo hs_svg('star-outline'); ?>
                <?php endif; ?>	
       </div>-->
    </td>
    <td>
        <?php if (not_empty($hs['prod_item']['sku'])): ?>
            <b><?php echo($hs['prod_item']['sku']); ?></b>
        <?php else: ?>
            <span>{{TR No}}</span>
        <?php endif; ?>
    </td>
    <td>
        <span class="col-green">  
            <?php echo hs_money($hs['prod_item']['sale_price']); ?>
        </span>
    </td>
    <td>    
        <span class="badge bg-red">{{TR Unsaved}}</span>
    </td>
    <td>
        <span class="col-green"><?php echo hs_money($hs['prod_item']['profit']); ?></span>
    </td>
    <td>
        <div class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_horiz</i>
            </a>
            <ul class="dropdown-menu pull-right bs-dropdown-menu">
                <li>
                    <a href="<?php echo($hs['prod_item']['edit']); ?>" class="waves-effect waves-block">
                        {{TR Edit}}
                    </a>
                </li>
            </ul>
        </div>
    </td>
</tr>